@(administrator:models.admin.Administrator)
@views.html.admin.template(administrator,"home") {

    <div id="content-header">
        <h1>控制面板</h1>

    </div>
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="#" class="current">控制面板</a>
    </div>
    <div class="container-fluid">


        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box widget-plain" >
                    <div class="widget-content center" style="padding: 100px">
                        <button class="btn btn-info" id="J_batchAction"  >批量更新数据</button>



                    </div>
                </div>
            </div>
        </div>

    </div>





}