@(user:Option[models.user.User],form:Form[(Option[Long],String,Int,String)])
@views.html.template(
user,
nav="forum",
title = "发布话题_讨论吧"
)(css="/assets/css/template/forumEditor.css") {
<div class="container">

    <div class="row">
        <div class="main">
            <div class="editor-box" >
                <h2> 编辑话题 </h2>
                <form action="@controllers.routes.Forums.save" method="post" class="post-edit-form" id="J_editForm">
                    <input type="hidden" name="id" id="J_id"  value='@form("id").value' />
                    <input type="hidden" name="typeId" id="J_typeId" value='@form("typeId").value'>
                    @if(form.hasGlobalErrors) {
                
                    @form.globalError.foreach { error =>
                    <div class="error-row" style="display:block">
                        <p class="error"> @error.message</p>
                    </div>
                    }
                    }
                    <div class="editor-title">
                        <label for="J_title">标题</label>
                        <input type="text" name="title" class="input" id="J_title" value='@form("title").value'  maxlength='45' />
                    </div>
                    <div class="editor-select">
                        <div class="main-select">
                            <span>类型：</span>
                            <a href="javascript:void(0);"  data-typeid="0"    @if(form("typeId").value.getOrElse("0") =="0") {class="selected"} ><em>吐槽</em></a>
                            <a href="javascript:void(0);"  data-typeid="1"   @if(form("typeId").value.getOrElse("0") =="1") {class="selected"}><em>知识</em></a>
                            <a href="javascript:void(0);"  data-typeid="2"  @if(form("typeId").value.getOrElse("0") =="2") {class="selected"}><em>问答</em></a>
                            <a href="javascript:void(0);"  data-typeid="3"  @if(form("typeId").value.getOrElse("0") =="3") {class="selected"}><em>活动</em></a>
                            <br class='clear' />
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="editor-area">
                        <textarea id="J_editorContent"  name="content"  class="b-textarea">  @form("content").value </textarea>
                    </div>
                    <div class="clear"></div>


                    <p class="func_buttons clearfix" >
                        <input type="button" class="fl func_button"  onclick="window.history.back(-1)" value="取消并返回">

                        <input type="button"  class="fr func_button func_publish" id="J_submit" value="发表" >

                    </p>

                </form>

            </div>

        </div>
        <div class="side">
            <div class="box">
                <div class="hd">
                    <h3>公告栏</h3>
                </div>
                <p class="bd" id="J_NoticeCon">
                    和谐社会，你我共建～
                </p>

            </div>
        </div>
    </div>


</div>



}{



<script type="text/javascript">
    seajs.use(['jquery','hiwowo/forum/forumEditor.js','hiwowo/editor/hiwowo.editor'],function($,editor){
        if(HIWOWO.userId == ""){
            $.hiwowo.loginDialog.isLogin();
        }
        $.hiwowo.editor = $.hiwowo.Editor();
    })
</script>

}
