@(user:Option[models.user.User],typeId:Int,sortBy:String,page:models.Page[(models.forum.Topic,models.user.User)])
@views.html.template(
user,
nav="forum",
subNav=typeId.toString,
title="讨论吧"
)(css="/assets/css/template/forum.css"){


<div class="container forum">
    <div class="row">
        <div class="forum-main">
            <div class="forum-stitle">
                <form class="search-forum clearfix" action="@controllers.routes.Forums.search" method="get">
                    <input name="text" type="text" class="s-text fl" value="" id="J_STxte">
                    <input type="submit" class="forum-sbtn fr" value="搜索">
                </form>
                <div class="clearfix mt10">
                    <div class="fl mt5">
                        <a href='@controllers.routes.Forums.forum(-1,sortBy)' class='@("on".when(typeId == -1 ))'>全部</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Forums.forum(0,sortBy)' class='@("on".when(typeId == 0 ))'>吐槽</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Forums.forum(1,sortBy)' class='@("on".when(typeId == 1 ))'>知识</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Forums.forum(2,sortBy)' class='@("on".when(typeId == 2 ))'>问答</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Forums.forum(3,sortBy)' class='@("on".when(typeId == 3 ))'>活动</a>
                        <span class="sp">|</span>
                        <span class="ml5">排序：</span>
                        <a href='@controllers.routes.Forums.forum(typeId,"new")' class='@("on".when(sortBy == "new" ))'>最新发布</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Forums.forum(typeId,"discuss")' class='@("on".when(sortBy == "discuss" ))'>最多回复</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Forums.forum(typeId,"love")' class='@("on".when(sortBy == "love" ))'>最受欢迎</a>
                    </div>
                    <div class="fr">
                        <a title="关闭搜索" href="@controllers.routes.Forums.search" class="forum-cbtn" id="J_CSearch">关闭搜索</a>
                    </div>
                </div>


            </div>
            <!-- filter -->
            <div class="forum-ltitle clearfix">
                <div class="fl">
                    <span class="ml5">排序：</span>
                    <a href='@controllers.routes.Forums.forum(typeId,"new")' class='@("on".when(sortBy == "new" ))'>最新发布</a>
                    <span class="sp">-</span>
                    <a href='@controllers.routes.Forums.forum(typeId,"discuss")' class='@("on".when(sortBy == "discuss" ))'>最多回复</a>
                    <span class="sp">-</span>
                    <a href='@controllers.routes.Forums.forum(typeId,"love")' class='@("on".when(sortBy == "love" ))'>最受欢迎</a>
                </div>
                <div class="fr">
                    <a title="搜索" class="search" id="J_SearchFBtn" href="javascript:;">
                        <span class="s-icon"></span>
                    </a>
                </div>
                <div class="fr mr10">
                    <a title="创建话题" href="@controllers.routes.Forums.edit(0)" class="createTopic">创建话题</a>
                </div>
            </div>
            <!-- list -->
            <div class="forum-list">
                @for((t,u)<-page.items ){
                <div class="unit clearfix">
                    <div class="fl type">
                        <div class="reply-count">
                            <div class="fs18 pt5 gc6">@t.discussNum</div>
                            <div class="fs12 gc">回帖</div>
                        </div>
                        @if(t.isTop){  <a class="type-btn totop">置顶 </a>}
                    </div>
                    <div class="fr info">
                        <div class="clearfix mt5">
                            <h2 class="fl"><a href="@controllers.routes.Forums.view(t.id.get)" target="_blank"
                                              title="@t.title">@t.title</a></h2>
                        </div>
                        <div class="gc mt10">
                            <a class="gc g-daren" rel="usercard" data-id="@u.id.get" href="@controllers.users.routes.Users.home(u.id.get)" target="_blank">
                                <span class="inlineblock ofh">@u.name </span>
                                <i class="i-daren">@u.title</i>
                            </a>&nbsp;&nbsp;发表于 @utils.Utils.timestampFormat(t.addTime.get) / @t.viewNum 个浏览
                        </div>
                        <p class="des">@Html(t.intro)</p>

                        <div class="topic-preview">
                            <a class="pic-list clearfix gc" href="@controllers.routes.Forums.view(t.id.get)" target="_blank">
                                @for(src <- t.pics.get.split(",")){
                                @if(src.trim !=""){
                                <div class="d-out"><img src="@src"></div>
                                }
                                }

                            </a>
                        </div>
                    </div>
                </div>
                }
            </div>

            <div class="pagin inlineblock fr mt10" id="J_Pagination">
                @if(page.nums.length>1){
                @page.prev.map { page =>
                <a class="prev" href="@controllers.routes.Forums.forum(page)">上一页</a>
                }
                @for(num <-page.nums){
                @if(num==page.currentPage){
                <span class="current" >@num</span>
                }else {
                <a href="@controllers.routes.Forums.forum(num)">@num</a>
                }
                }
                @page.next.map { page =>
                <a class="next" href="@controllers.routes.Forums.forum(page)">下一页</a>
                }
                }
            </div>

        </div>
        <div class="side">
            <div class="ad">
                <a href="" target="_blank">
                    <img src="/images/2.jpg" width="230" height="130" alt="逛画报" title="逛画报">
                </a>
            </div>

            <div class="box mt15">
                <div class="hd">
                    <h3>公告栏</h3>
                </div>
                <p class="bd" id="J_NoticeCon">
                    和谐社会，你我共建～
                </p>

            </div>

        </div>



    </div>


</div>

}{
<script type="text/javascript">
    seajs.use("hiwowo/forum/forum.js")
</script>
}


