@(user:Option[models.user.User],topic:(models.forum.Topic,models.user.User),page:models.Page[(models.forum.TopicDiscuss,models.user.User)])
@views.html.template(user,
nav="forum",
title = "发布话题_讨论吧")(css="/assets/css/template/forum.css"){


<div class="container forum">
    <div class="row">
        <div class="forum-main">
            <div class="forum-dtitle clearfix">
                <a class="fl back" href="/forum">&lt;返回话题列表</a>
                <div class="fr">
                    <div class="clearfix fenye">
                        <form action="@controllers.routes.Forums.view(topic._1.id.get)" method="get">
                                                <span class="fl go ml5">
                              跳转:<input type="text" class="ml10" name="p" id="J_FPage" value="1">/1
                        </span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="f-con mt15">
                <div class="f-con-main">
                    <div class="f-title clearfix">
                        <h3 class="fl">标题</h3>
                    </div>
                    <ul class="con-list" id="J_ForumPost">
                        <li class="first clearfix">
                            <a href="@controllers.users.routes.Users.home(topic._2.id.get)" target="_blank" rel="usercard" data-id="@topic._2.id.get" class="fl">
                                <img src="@topic._2.pic" alt="@topic._2.name" width="50" height="50">
                            </a>
                            <div class="fr info">
                                <div class="user-info clearfix">
                                    <span class="fl"><a href="@controllers.users.routes.Users.home(topic._2.id.get)" target="_blank">@topic._2.name</a>/ @utils.Utils.timestampFormat(topic._1.addTime.get) </span>
                                    <span class="fr">楼主</span>
                                </div>
                                <div class="post clearfix" id="J_PostArtical">
                                    @Html(topic._1.content)
                                </div>
                                <div class="opt clearfix">
                                    <a class="follower-btn fl" id="J_FollowerBtn" data-num="0">鲜花&nbsp;<span></span></a>
                                    <a class="share-btn fl ml15" id="J_ShareBtn"><span class="share-icon">分享</span></a>
                                    <a class="fr mt50" id="J_PostCmt">回复</a>
                                </div>
                            </div>
                        </li>
                        @for((cmt,user)<- page.items ){
                        <li class="clearfix" data-cmtid="@cmt.id.get">
                            <a href="@controllers.users.routes.Users.home(user.id.get)" target="_blank" rel="usercard" data-id="@user.id.get" class="fl">
                                <img src="@user.pic" alt="@user.name" width="50" height="50">
                            </a>
                            <div class="fr info">
                                <div class="user-info clearfix">
                                    <span class="fl"><a class="J_UserNick" href="@controllers.users.routes.Users.home(user.id.get)" target="_blank">@user.name</a>/ <em class="time">@utils.Utils.timestampFormat(cmt.addTime.get)</em></span>

                                </div>
                                <div class="post">
                                    <p class="J_PostCon">@Html(cmt.content)</p>
                                </div>
                                <div class="opt clearfix">
                                    <div class="fr">
                                        <a class="J_PostCmtReply">回复</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        }


                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="pagin inlineblock fr mt10" id="J_Pagination">
                @if(page.nums.length>1){
                @page.prev.map { page =>
                <a class="prev" href="@controllers.routes.Forums.view(topic._1.id.get,page)">上一页</a>
                }
                @for(num <-page.nums){
                @if(num==page.currentPage){
                <span class="current" >@num</span>
                }else {
                <a href="@controllers.routes.Forums.view(topic._1.id.get,num)">@num</a>
                }
                }
                @page.next.map { page =>
                <a class="next" href="@controllers.routes.Forums.view(topic._1.id.get,page)">下一页</a>
                }
                }
            </div>
        </div>
        <div class="side">
            <div class="taolun-owner">
                <div class="clearfix t-header">
                    <a href="@controllers.users.routes.Users.home(topic._2.id.get)" target="_blank" rel="usercard" data-id="@topic._2.id.get" class="fl">
                        <img src="@topic._2.pic" alt="@topic._2.name" width="40" height="40">
                    </a>
                    <div class="fl ml10">
                        <div class="u-info"><a class="u-name mr5" href="@controllers.users.routes.Users.home(topic._2.id.get)" target="_blank">@topic._2.name</a>楼主</div>
                        <div class="gc"> @topic._2.intro.getOrElse("") </div>
                    </div>
                </div>

            </div>
            <div class="ad mt15">
                <a href="" target="_blank">
                    <img src="http://s4.img.guang.com/site/2013/12/16/promotion_44_1_1782447316166.jpg" width="240" height="130" alt="逛画报" title="逛画报">
                </a>
            </div>

        </div>



    </div>


</div>

}{
<script type="text/javascript">
    seajs.use("hiwowo/forum/forum.js")
</script>
}


