@(user:Option[models.user.User])
@views.html.template(
user,
title =  "食美特，爱美食爱生活——用户注册"
)(css="/assets/css/template/userRegLogin.css") {

    <div class="container" id="regLogin">
        <div class="content">
            <div class="error-row-l"><p class="error"></p></div>
            <div class="confirm-box">

                <div class="confirm">
                    <p class="pt20 pb20 clearfix">
                        非常感谢您注册食美特会员，我们竭诚为您服务。去<a href="/">首页</a>逛逛吧
                    </p>

                </div>

            </div>
        </div>
    </div>

        }{
<script type="text/javascript">

    seajs.use("hiwowo/user/regLogin");
</script>
}