@(form: Form[(String,String)])
@views.html.template(
title =  "嗨喔喔——用户登录"
)(css="/assets/css/template/userRegLogin.css") {
    <div id="content">
    <div class="container" id="regLogin">
        <div class="setting clearfix">

            <div class="regBox clearfix">

                <div class="out-login">
                    <legend class="mb15">
                       直接使用这些帐号登录：
                    </legend>
                    <div class="field-box">

                        <div class="site-openid clearfix">
                            <ul>
                                <li class="weibo"><a id="weibo_auth" href='@controllers.users.routes.UsersSnsLogin.snsLogin("sina","syn",0)'><i></i><p>新浪微博</p></a></li>
                                <li class="qq"><a id="qq_auth" href='@controllers.users.routes.UsersSnsLogin.snsLogin("qzone","syn",0)'><i></i><p>QQ</p></a></li>

                            </ul>
                        </div>
                        <div class="hiwowo-login">
                            <p class="ml30 mb10 mt10">没有账号？ <a  class="follow-btn-big  " href="@controllers.users.routes.UsersRegLogin.regist(0)">免费注册</a></p>

                        </div>

                    </div>
                </div>

                <div class="reg">
                    <legend>
                        使用您的嗨喔喔帐号：
                    </legend>


                    <div class="field-box pt25 pl20">
                        <form  id="J_regLoginForm"  method="post" action="@controllers.users.routes.UsersRegLogin.doEmailLogin">
                            @form.globalErrors.map { error =>
                            <div class="error-row" style="display:block">
                                <p class="error"> @error.message</p>
                            </div>
                            }
                            <div class="form-row">
                                <label>Email：</label>
                                <input type="email" class="base-input" name="email" id="email"  placeholder="" value="@form("email").value">
                            </div>
                            <div class="form-row">
                                <label>密码：</label>
                                <input type="password" class="base-input" name="password" id="password" value="">
                            </div>
                            <div class="form-row">
                                <label>&nbsp;</label>
                                <input type="checkbox" class="check" name="remember" value="1" checked="checked">
                                <span>两周内自动登录</span>
                            </div>
                            <div class="form-row">
                                <label>&nbsp;</label>
                                <input type="submit" class="bbl-btn submit" value="登录">
                                <a class="forgotlink" href="/user/resetPassword">忘记密码？</a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
    </div>
        }{
<script type="text/javascript">

    seajs.use("hiwowo/user/userLogin");
</script>
}