@(user:models.user.User,author:models.user.User,form:Form[controllers.admin.DiagramEditFormData])
@views.html.admin.template(user,"label") {
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> 图说管理 》编辑图说</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                编辑
            </div>
            <div class="panel-body">
                <div class="row">
                        <form  id="J_filterForm" method="POST" action="@controllers.admin.routes.Diagrams.saveDiagram">
                            <input type="hidden" name="id" id="J_id" value='@form("id").value'>
                            <div class="error-row">
                                <p class="error"></p>
                            </div>

                            <div class="form-group">
                                <label  for="title">名称</label>
                                <input class="form-control" type="text" id="title" name="title" value='@form("title").value' placeholder="名称">
                            </div>
                            <div class="form-group">
                                <label for="intro">简介</label>

                                <textarea id="intro" class="form-control" name="intro">@form("intro").value</textarea>
                            </div>
                            <div class="form-group">
                                <label  for="pic">封面</label>
                                <input class="form-control" type="text" id="pic" name="pic" value='@form("pic").value' placeholder="封面，输入URL地址">
                            </div>
                            <div class="form-group">
                                <label  for="labels">标签</label>
                                <input class="form-control" type="text" id="labels" name="labels" value='@form("labels").value' placeholder="标签，以,分割">
                            </div>


                            <div class="form-group">
                                <label> 类型 </label>
                                <label class="radio-inline">
                                    <input type="radio"  name="typeId" value="0" @if(form("typeId").value.getOrElse("none")=="0"){ checked="true" }> 图文
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="typeId" value="1" @if(form("typeId").value.getOrElse("none")=="1"){ checked="true" }> 图说
                                </label>

                            </div>
                            <div class="form-group">
                                <label  >状态</label>


                                <label class="radio-inline">
                                    <input type="radio"  name="status" value="0"  @if(form("status").value.getOrElse("none")=="0"){ checked="true" }> 草稿
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="1"  @if(form("status").value.getOrElse("none")=="1"){ checked="true" }> 发布
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="2"  @if(form("status").value.getOrElse("none")=="2"){ checked="true" }> 审核通过
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="3"  @if(form("status").value.getOrElse("none")=="3"){ checked="true" }> 审核未通过
                                </label>

                            </div>

                            <div class="form-group">
                                <label  for="content">内容</label>
                                <textarea id="content" class="form-control" name="content">@form("content").value</textarea>

                            </div>
                             <div class="col-lg-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="submit" class="btn btn-info" value="保存图文"/>
                                </div>
                            </div>
                             </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="submit" class="btn btn-info" value="保存图说"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


       <script type="text/javascript">
            $(function(){
                var um = UM.getEditor('content');
            })
       </script>

        }


