@(user:Option[models.user.User],diagramComponent:controllers.DiagramComponent)
@views.html.template(user,nav="index",subNav="pets")(css="/assets/css/template/pet.css"){

<div class="container pet">

    <div class="row">
        <div class="main">
            <div class="sitebar">
                <ul>
                    <li class="esp"><a href="@controllers.users.routes.Users.home(diagramComponent.user.id.get)"
                                       title="@diagramComponent.user.name" target="_blank"><img src="@diagramComponent.user.pic"
                                                                                          width="60" height="60"></a>
                    </li>
                    <li><a href="@controllers.users.routes.Users.home(diagramComponent.user.id.get)"
                           title="@diagramComponent.user.name" style="color: #333">@diagramComponent.user.name</a></li>
                    <li>浏览<strong>@diagramComponent.diagram.viewNum</strong>
                        @if(!user.isEmpty && diagramComponent.diagram.uid == user.get.id.get){
                        <a href="@controllers.routes.Pets.edit(diagramComponent.diagram.id.get)">编辑</a>
                        }
                    </li>
                    <li></li>
                    <li class="btn"><a href="javascript:void(0)" class="follow">+关注</a>
                        <a href="javascript:void(0)" class="follow" style="display:none">已经关注</a>
                    </li>
                </ul>
            </div>
            <h1 class="title"> @diagramComponent.diagram.title</h1>

            <div class="desc">
                <div class="intro">@diagramComponent.diagram.intro.getOrElse("")</div>
            </div>
            <div class="discusses">
                <div class="no-discuss"></div>
                <div class="discuss-textarea"></div>
                <div class="items">
                    <div class="item"></div>
                </div>
            </div>
        </div>
        <div class="side">
            <div class="box">
                <div class="UserApp">
                    <ul class="js_UserApp">
                        <li class="espImg">
                            <img src="/images/qr_hiwowo.jpg">
                        </li>
                        <li class="espTxt">
                            <a href="javascript:void(0)" class="appname">嗨喔喔微信公共帐号</a>

                            <p>微信搜索公共帐号"<span>嗨喔喔</span>"，或者扫描二维码关注，每日获取精选图说。</p>
                        </li>
                    </ul>
                </div>
                <div class="recommendRead">
                    <h2><span>推荐阅读</span><a href="javascript:void(0)" class="js_refresh">换一组试试</a></h2>

                    <div class="rRead">
                        <ul class="js_rRead">
                            <li><a href="">姚晨：最难的一件事，其实叫随遇而安！</a></li>
                            <li><a href="">你的枕边书是什么？</a></li>
                            <li><a href="">孟非：生活从下班开始</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>

            </div>
        </div>
        <!-- left float -->
        <div class="share-pin">
            <div class="share-nav">
                <ul>
                    <li class="collect">
                        <div class="favNum" style="display: block;">6</div>
                    </li>
                    <li class="esp"></li>
                </ul>
            </div>
            <div class="share-content">
                <div class="ml15">
                    <div class="love">这里是喜欢区域</div>
                    <div class="share">这里是分享区域</div>
                </div>
            </div>
        </div>
    </div>

</div>

}{
<script type="text/javascript">

    seajs.use("hiwowo/pet/pet.js")
</script>
}