@(user:models.user.User,nav:String = "home")(content: Html)
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>hiwowo管理后台</title>

    <!-- Core CSS - Include with every page -->
    <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/assets/css/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
    <link href="/admin/assets/css/uploadify/uploadify.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="/admin/assets/css/admin.css" rel="stylesheet">

    <!-- Core Scripts - Include with every page -->
    <script src="/admin/assets/js/jquery-1.10.2.js"></script>
    <script src="/admin/assets/js/bootstrap.min.js"></script>
    <script src="/admin/assets/js/plugins/datetimepicker/jquery.datetimepicker.js"></script>

    <script src="/admin/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/admin/assets/js/plugins/validator/validator.min.js"></script>
    <script src="/admin/assets/js/uploadify/jquery.uploadify-3.1.min.js"></script>
    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="/admin/assets/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/admin/assets/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/admin/assets/js/admin.js"></script>

    <!-- umeditor -->
    <link href="/admin/assets/js/umeditor1.2.2/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="/admin/assets/js/umeditor1.2.2/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/admin/assets/js/umeditor1.2.2/umeditor.min.js"></script>
    <script type="text/javascript" src="/admin/assets/js/umeditor1.2.2/lang/zh-cn/zh-cn.js"></script>

</head>

<body>

<div id="wrapper">

<nav class="navbar navbar-default navbar-static-top" role="navigation" >
<div class="navbar-header">
    <a class="navbar-brand" href="@controllers.admin.routes.Admin.index">Hiwowo管理后台</a>
</div>
<!-- /.navbar-header -->




</nav>
<!-- /.navbar-static-top -->

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">


            <li class='@if(nav=="home"){active}'>
                <a href="#"><i class="glyphicon glyphicon-home"></i>控制中心</a>
                <ul class="nav nav-second-level">
                    <li><a href="@controllers.admin.routes.Admin.index">后台首页</a></li>

                    <li><a>缓存管理</a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li class='@if(nav=="label"){active}'>
                <a href="#"><i class="glyphicon glyphicon-home"></i>标签管理</a>
                <ul class="nav nav-second-level">
                    <li><a href="@controllers.admin.routes.Labels.groups(1,50)"> 标签组管理 </a></li>
                    <li><a href="@controllers.admin.routes.Labels.core(1,100)">  核心标签管理 </a></li>
                    <li><a href="@controllers.admin.routes.Labels.list(1,50)"> 标签管理 </a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li class='@if(nav=="diagram"){active}'>
                <a href="#"><i class="glyphicon glyphicon-home"></i>图说管理</a>
                <ul class="nav nav-second-level">
                    <li><a href="@controllers.admin.routes.Diagrams.list(1,50)">  图说管理 </a></li>
                    <li><a href="@controllers.admin.routes.Diagrams.weixin(1,50)">微信精选管理 </a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li class='@if(nav=="forum"){active}'>
                <a href="#"><i class="glyphicon glyphicon-home"></i>讨论吧管理</a>
                <ul class="nav nav-second-level">
                    <li><a href="@controllers.admin.routes.Forums.topics(1)">话题管理</a></li>
                    <li><a href="@controllers.admin.routes.Forums.discusses(1)">评论管理</a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li class='@if(nav=="msg"){active}'>
                <a href="#"><i class="glyphicon glyphicon-home"></i>站内信管理</a>
                <ul class="nav nav-second-level">
                    <li><a href='@controllers.admin.routes.Msgs.systemMsgs(1)'>系统站内信</a></li>
                    <li><a href='@controllers.admin.routes.Msgs.atMsgs(1)'>小纸条</a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li class='@if(nav=="user"){active}'>
                <a href="#"><i class="glyphicon glyphicon-home"></i>用户管理</a>
                <ul class="nav nav-second-level">
                    <li><a href="@controllers.admin.routes.Users.users(1)">用户管理</a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li class='@if(nav=="cms"){active}'>
                <a href="#"><i class="glyphicon glyphicon-home"></i>CMS管理</a>
                <ul class="nav nav-second-level">
                    <li><a href='@controllers.admin.routes.Cmses.list(1,50)'>内容管理</a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li class='@if(nav=="advert"){active}'>
                <a href="#"><i class="glyphicon glyphicon-home"></i>广告管理</a>
                <ul class="nav nav-second-level">
                    <li><a href='@controllers.admin.routes.Adverts.edit(0)'>创建新广告</a></li>
                    <li><a href='@controllers.admin.routes.Adverts.list(1,50)'>广告管理</a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->

<div id="page-wrapper">

    @content



</div>
<!-- /#page-wrapper -->



    <div class="modal  fade" id="J_deleteModal" tabindex="-1" role="dialog" aria-labelledby="J_deleteModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h3 id="J_deleteModalLabel">删除确认</h3>
                 </div>
                 <div class="modal-body">
                     <p class="error-text"><i class="icon-warning-sign modal-icon"></i>您确定要删除吗?</p>
                 </div>
                 <div class="modal-footer">
                     <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                     <button class="btn btn-danger" id="J_delete" data-dismiss="modal">确定</button>
                 </div>
             </div>
         </div>
    </div>

    <div class="modal  fade" id="J_batchModal" tabindex="-1" role="dialog" aria-labelledby="J_batchModalLabel" aria-hidden="true">

       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                   <h3 id="J_batchModalLabel">确认批量处理</h3>
               </div>
               <div class="modal-body">
                   <p class="error-text"><i class="icon-warning-sign modal-icon"></i>您确定要批量处理吗?</p>
               </div>
               <div class="modal-footer">
                   <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                   <button class="btn btn-danger" id="J_batch" data-dismiss="modal">确定</button>
               </div>
           </div>
       </div>

    </div>

    <div class="modal   fade" id="J_lockModal" tabindex="-1" role="dialog" aria-labelledby="J_lockModalLabel" aria-hidden="true">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                   <h3 id="J_lockModalLabel">拉黑确认</h3>
               </div>
               <div class="modal-body">
                   <p class="error-text"><i class="icon-warning-sign modal-icon"></i> 您确定要把此用户拉黑吗?</p>
               </div>
               <div class="modal-footer">
                   <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                   <button class="btn btn-danger" id="J_lock" data-dismiss="modal">确定</button>
               </div>
           </div>
       </div>
    </div>

    <div class="modal  fade" id="J_updateModal" tabindex="-1" role="dialog" aria-labelledby="J_updateModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h3 id="J_updateModalLabel">确认更新</h3>
                 </div>
                 <div class="modal-body">
                     <p class="error-text"><i class="icon-warning-sign modal-icon"></i>您确定要更新吗?</p>
                 </div>
                 <div class="modal-footer">
                     <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                     <button class="btn btn-danger" id="J_update" data-dismiss="modal">确定</button>
                 </div>
             </div>
         </div>

    </div>


    <div class="modal  fade" id="J_checkModal" tabindex="-1" role="dialog" aria-labelledby="J_checkModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="J_checkModalLabel">审核确认</h3>
                </div>
                <div class="modal-body">
                    <p class="error-text"><i class="icon-warning-sign modal-icon"></i>您确定审核通过吗?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                    <button class="btn btn-danger" id="J_check" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>


    </div>





</div>
<!-- /#wrapper -->




</body>

</html>
