@(user:Option[models.user.User],author:models.user.User)
@views.html.template(user,Some(author),nav=if(!user.isEmpty && user.get.id.get == author.id.get){"my"}else{"userHome"},subNav="love")(css="/assets/css/template/userHome.css"){

<div class="container my">

    <div class="my-header">
        <div class="userLeft">
            <ul>
                <li >粉丝<a href="@controllers.users.routes.Users.fans(author.id.get)">0</a></li>
                <li >|</li>
                <li >关注<a href="@controllers.users.routes.Users.follow(author.id.get)">6</a></li>
                <li >|</li>
                <li >收藏<a href="@controllers.users.routes.Users.collects(author.id.get)">4</a>
                </li>
                <li >|</li>
                <li >图说<a href="@controllers.users.routes.Users.diagrams(author.id.get)">0</a>
                </li>
            </ul>
        </div>
        <div class="userRight">
            <div class="usericon">
                <ul>
                    <li ><img  src="@author.pic" alt="@author.name"></li>
                    <li ><a title="正牌七公" href="@controllers.users.routes.Users.home(author.id.get)">@author.name</a></li>
                    <li class="sns" ><a href="javascript:void(0);" class="follow" style="">关注</a>
                        <a href="javascript:void(0);" class="unfollow" style="display:none;">已关注</a>
                        <a href="javascript:void(0);" class="mail" style="">私信</a>
                        <a href="#" class="weibo" title="author.name"> <img src="/images/ui/weixin_logo.jpg">@author.weixin.getOrElse("")</a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h1 style="font-size: 48px"> love todo </h1>


</div>

}{
<script type="text/javascript">

    seajs.use(["hiwowo/user/userHome"]);
</script>
}