@(user:Option[models.user.User],userComponent:controllers.users.UserComponent,followPage:Page[models.user.User],fansPage:Page[models.user.User])
@views.html.template(user,userComponent.user.id,nav=if(!user.isEmpty && user.get.id.get == userComponent.user.id.get){"my"}else{"ta"},subNav="follow")(css="/assets/css/template/userHome.css"){

<div class="container my">

    <div class="my-header">
        <div class="userLeft">
            <ul>
                <li ><a href="@controllers.users.routes.Users.follow(userComponent.user.id.get)">关注/粉丝 @(userComponent.stat.fansNum + userComponent.stat.followNum) </a></li>
                <li >|</li>
                <li ><a href="@controllers.users.routes.Users.subscribes(userComponent.user.id.get)">订阅 @userComponent.stat.subscribeNum</a></li>
                <li >|</li>
                <li ><a href="@controllers.users.routes.Users.collects(userComponent.user.id.get)">收藏 @userComponent.stat.collectNum</a> </li>
                <li >|</li>
                <li ><a href="@controllers.users.routes.Users.diagrams(userComponent.user.id.get)">图说 @userComponent.stat.postDiagramNum</a> </li>
            </ul>
        </div>
        <div class="userRight">
            <div class="usericon">
                <ul>
                    <li ><img  src="@userComponent.user.pic" alt="@userComponent.user.name"></li>
                    <li ><a title="@userComponent.user.name" href="@controllers.users.routes.Users.home(userComponent.user.id.get)">@userComponent.user.name</a></li>
                    <li class="sns" ><a href="javascript:void(0);" class="follow" style="">关注</a>
                        <a href="javascript:void(0);" class="unfollow" style="display:none;">已关注</a>
                        <a href="javascript:void(0);" class="mail" style="">小纸条</a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="my-body">
        <div class="main">
           <ul id="followTab" class="nav-tabs clearfix">
              <li>
                  <a href="#follow" data-toggle="tab">关注的</a>
              </li>
               <li>
                   <a href="#fans" data-toggle="tab">粉丝</a>
               </li>
           </ul>
            <div class="clear"></div>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="follow">

                    @for(user <- followPage.items){

                    <div class="section clearfix">
                        <div class="user-pic">
                            <a href="@controllers.users.routes.Users.home(user.id.get)" title="@user.name">
                                <img src="@user.pic" alt="@user.name" title="@user.name" width="50" height="50">
                            </a>
                        </div>
                        <div class="user-info">
                            <p class="user-intro">
                                <a href="@controllers.users.routes.Users.home(user.id.get)" class="g-daren">@user.name</a>&nbsp;&nbsp;来自@models.user.ComeFrom(user.comeFrom)
                            </p>
                            @if(user.status==4){
                            <p class="user-data">
                                <span class="oc">该用户由于发广告，正在小黑屋中反省。</span>
                            </p>
                            }else {
                            <p class="user-data">
                                @user.credits 个喔喔叫
                            </p>
                            }
                        </div>
                        <div class="follow">

                            <div  class="followed-btn">已关注<span class="mr5 ml5">|</span>
                                <a rel="removeFollow"href="javascript:;" data-followtype="2" data-userid="@user.id.get" data-usernick="@user.name">取消</a>
                            </div>
                        </div>
                    </div>
                    }
                    <!-- 翻页 todo -->
                </div>
                <div class="tab-pane fade" id="fans">
                    @for(user <- fansPage.items){
                    <div class="section clearfix">
                        <div class="user-pic">
                            <a href="@controllers.users.routes.Users.home(user.id.get)" title="@user.name">
                                <img src="@user.pic" alt="@user.name" title="@user.name" width="50" height="50">
                            </a>
                        </div>
                        <div class="user-info">
                            <p class="user-intro">
                                <a href="@controllers.users.routes.Users.home(user.id.get)" class="g-daren">@user.name</a>&nbsp;&nbsp;来自@models.user.ComeFrom(user.comeFrom)
                            </p>
                            @if(user.status==4){
                            <p class="user-data">
                                <span class="oc">该用户由于发广告，正在小黑屋中反省。</span>
                            </p>
                            }else {
                            <p class="user-data">
                                @user.credits 个喔喔叫
                            </p>
                            }
                        </div>
                        <div class="follow">

                            <div  class="followed-btn">已关注<span class="mr5 ml5">|</span>
                                <a rel="removeFollow"href="javascript:;" data-followtype="2" data-userid="@user.id.get" data-usernick="@user.name">取消</a>
                            </div>
                        </div>
                    </div>
                    }
                    <!-- 翻页 todo -->
                </div>
            </div>
        </div>
        <div class="side">
            <div class="qr">
                <img src="/assets/images/qr_hiwowo.jpg" width="270" height="270" alt="嗨喔喔 微信号">
            </div>
        </div>
    </div>


</div>

}{
<script type="text/javascript">

    seajs.use(["hiwowo/user/userHome"]);
</script>
}