@(user:Option[models.user.User],author:models.user.User)
@views.html.template(user,Some(author),nav=if(!user.isEmpty && user.get.id.get == author.id.get){"my"}else{"userHome"},subNav="site")(css="/assets/css/template/userHome.css"){

<div class="container my">

    <div class="my-header">
        <div class="userLeft">
            <ul>
                <li >粉丝<a href="">0</a></li>
                <li >|</li>
                <li >关注<a href="">6</a></li>
                <li >|</li>
                <li >部落<a href="">4</a>
                </li>
                <li >|</li>
                <li >那些事<a href="">0</a>
                </li>
            </ul>
        </div>
        <div class="userRight">
            <div class="usericon">
                <ul>
                    <li ><img  src="@author.pic" alt="@author.name"></li>
                    <li ><a title="正牌七公" href="@controllers.users.routes.Users.home(author.id.get)">@author.name</a></li>
                    <li class="sns" ><a href="javascript:void(0);" class="follow" style="">关注</a>
                        <a href="javascript:void(0);" class="unfollow" style="display:none;">已关注</a>
                        <a href="javascript:void(0);" class="mail" style="">私信</a>
                        <a href="http://weibo.com/u/1526846353" class="weibo" title="正牌七公" target="_blank"> <img src="http://vfancn.blob.core.chinacloudapi.cn/image/weibo.gif">正牌七公</a>



                    </li>
                </ul>
            </div>
        </div>
    </div>
            <!-- site  -->
    <div class="row">
        <div class="site">
            <a href="" class="pic">
                <img src="/images/1.jpg">
            </a>
            <div class="info">
                <p><a href="/board/6ce3dcb5ca084bd0a5ea4e21a9478b1d.clip" target="_blank">食美特的趣闻</a></p>
                <div class="boardNum"><div class="operateBoard "><a href="/blob/html/action/createboard.html?board=6ce3dcb5ca084bd0a5ea4e21a9478b1d" style="" class="js_setspe">专辑设置</a><a href="javascript:void(0)" class="js_followBtn" cf_cc="discover_board_followBtn" style="display:none">马上订阅</a><a href="javascript:void(0)" class="js_unfollowBtn" style="display:none">已经订阅</a></div><ul><li>主编:食美特</li><li>剪报:0</li><li class="js_followNum">订阅:0</li></ul></div>
            </div>
        </div>

        <div class="site">
            <a href="" class="pic">
                <img src="/images/1.jpg">
            </a>
            <div class="info">
                <p><a href="/board/6ce3dcb5ca084bd0a5ea4e21a9478b1d.clip" target="_blank">食美特的趣闻</a></p>
                <div class="boardNum"><div class="operateBoard "><a href="/blob/html/action/createboard.html?board=6ce3dcb5ca084bd0a5ea4e21a9478b1d" style="" class="js_setspe">专辑设置</a><a href="javascript:void(0)" class="js_followBtn" cf_cc="discover_board_followBtn" style="display:none">马上订阅</a><a href="javascript:void(0)" class="js_unfollowBtn" style="display:none">已经订阅</a></div><ul><li>主编:食美特</li><li>剪报:0</li><li class="js_followNum">订阅:0</li></ul></div>
            </div>
        </div>
        <div class="site last">
            <a href="" class="pic">
                <img src="/images/1.jpg">
            </a>
            <div class="info">
                <p><a href="/board/6ce3dcb5ca084bd0a5ea4e21a9478b1d.clip" target="_blank">食美特的趣闻</a></p>
                <div class="boardNum"><div class="operateBoard "><a href="/blob/html/action/createboard.html?board=6ce3dcb5ca084bd0a5ea4e21a9478b1d" style="" class="js_setspe">专辑设置</a><a href="javascript:void(0)" class="js_followBtn" cf_cc="discover_board_followBtn" style="display:none">马上订阅</a><a href="javascript:void(0)" class="js_unfollowBtn" style="display:none">已经订阅</a></div><ul><li>主编:食美特</li><li>剪报:0</li><li class="js_followNum">订阅:0</li></ul></div>
            </div>
        </div>
    </div>

</div>

}{
<script type="text/javascript">

    seajs.use(["hiwowo/user/userHome"]);
</script>
}