
/*-----------------------------新版编辑器样式开始---------------------------*/
.editor-box {
    width: 670px;
    margin: 10px auto 60px auto;
    border-radius: 4px;
}
.editor-box h2{
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}
/*--标题样式--*/
.editor-box .editor-title {
    margin-bottom: 15px;
    border: 1px solid #D9D8D8;
    border-radius: 5px;
    overflow: hidden;
    width: 645px;
}

.editor-box .editor-title label {
    float: left;
    width: 50px;
    height: 46px;
    padding-right: 15px;
    line-height: 46px;
    text-align: center;
    text-shadow: 0px 1px #fff;
    font-size: 14px;
    background-color: #f1f1f1;
}

.editor-box .editor-title input {
    width: 565px;
    padding-left: 15px;
    line-height: 46px;
    float: left;
    font-size: 14px;
    outline: none;
    color: #a0a0a0;
    border: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}





 /* 简介区域 */
.editor-box .editor-intro {
    margin-bottom: 15px;
    border: 1px solid #D9D8D8;
    border-radius: 5px;
    overflow: hidden;
    width: 645px;
}
.editor-box .editor-intro label{
    float: left;
    width: 50px;
    height: 100px;
    padding-right: 15px;
    line-height: 100px;
    text-align: center;
    text-shadow: 0px 1px #fff;
    font-size: 14px;
    background-color: #f1f1f1;
}
.editor-box .editor-intro  textarea{
    width: 565px;
    height: 100px;
    padding-left: 15px;
    line-height: 46px;
    float: left;
    font-size: 14px;
    outline: none;
    color: #a0a0a0;
    border: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


