/**
* Created by zuosanshao.
* Email:zuosanshao@qq.com
* @contain: 
* @depends: 
* Since:12-11-28下午1:07 
* ModifyTime : 2012-10-23 10:05
* ModifyContent:
* http://www.smeite.com/
*
*/
#container {
    width: 980px
}

.product-main {
    margin: 20px auto 25px;
}

.main {
    border: 1px solid #ddd;
    background: white;
    text-align: center;
    margin-bottom: 40px;
    padding: 15px ;
    width: 460px;
    float: left;
}

 .pic-box {
    width: 460px;
     float: left;
    overflow: hidden;
    position: relative
}
/*.pic-box .like-common{
    position: absolute;
    right: 30px;
    top: 25px;
}*/
 .pic-box .pic-link {
    width: 460px;
    height: 460px;
    display: table-cell;
    *display: block;
    vertical-align: middle;
    text-align: center;
    *font-size: 412px;
    *line-height: 1;
    outline: 0
}

 .pic-box img {
    max-width: 460px;
    padding-bottom: 20px;
    vertical-align: middle
}
.main .bbl-btn{
    margin-left: 150px;
}


/*side */
.side {
    float: right;
    width: 470px;
    position: relative;
}


.side .arrow-left{
    position: absolute;
    top: 120px;
    left: -10px;
    width: 12px;
    height: 17px;
    overflow: hidden;
    background: url(images/left-arrow.png) no-repeat 0 0;
}

 /* user info */
.buy-info {
    position: relative;
    margin: 0 0 20px;
    background-color: #fff;
    border: 1px solid #DDD;
    padding: 18px;
}
.buy-info .title {
    color:#555;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 0 20px;
}
.buy-info .user-recommend .pic{
    width: 60px;
}
.buy-info .user-recommend .intro  {
    position: relative;
    text-indent: 30px;
    padding: 0 10px;
    font-size: 14px;
    color: #333;
    word-wrap: break-word;
    word-break: break-all;
    width: 350px;
    line-height: 25px;
}
.buy-info .user-recommend .intro-quot {
    position: absolute;
    top: 0;
    left: 15px;
    width: 20px;
    height: 20px;
    background: url(images/ico-quotation.png) no-repeat
}

.buy-info .buy-box {
    padding: 10px 0;
    position: relative;
}
.buy-box  dd {
    font-size: 14px;
    font-family:"微软雅黑";
    padding: 10px 0;
    color: #000;
}
.buy-box  dd span{
    color: #e26;
    font-weight: bold;
}
.buy-box .tags li{
    margin: 5px 3px;
}
.buy-box .tags .label{
    color: #333;
    height: 25px;
    line-height: 25px;
    background: none;
    float: left;
    font-weight: normal;
}
.buy-box .go-to-buy{
    height: 35px;
    background: url(images/bg_go_to_buy.png) repeat 0 0;
}

/* .buy-box  dd  a:hover{
    text-decoration: underline;
}*/
 .buy-box .price{
    float: left;
    height: 35px;
    line-height: 35px;
     width: 200px;
     padding-left: 45px;
}

.buy-box  .price-normal {
    font-size: 14px;
    text-decoration: line-through;
    color: #555;
}

 .buy-box  .price-promotion {
    font-size: 25px;
    font-weight: bolder;
    color: #e26;
}


.buy-box .buy-btn {
    float:left;
    margin-left:30px;
    width: 100px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    color: white;
    background: #FF7F00;
    border: 1px solid #E67300;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-decoration: none;
}

.buy-box .buy-btn2 {
    float:right;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 12px;
    color:#555;
}

.buy-box .shareTips {
    padding-top: 15px;
    height: 16px;
    line-height: 16px;
}

.buy-box .info-wrong {
    float: right;
}
.buy-box .food-security{
    padding: 15px;
    background: #f9f9f9;
    border: 1px dashed #ddd;
}
.buy-box .food-security li{
    line-height: 18px;
    color: #555;
    padding: 2px 0;
}
.buy-box .food-security li a{
    color: #ff7f00;
}
.buy-box .food-security li a:hover{
    color: #E67300;
}

/* comment */
.comment-list {
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #DDD;
    padding: 18px;
}


.comment-publish {
    overflow: hidden;
    margin-bottom: 10px;
}

.comment-publish .cmt-doc {
    float: right;
    overflow: hidden
}

.comment-publish .pub-box {
    margin-bottom: 12px
}

.comment-publish .user-pic {
    float: left;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.comment-publish .cmt-txa {
    width: 330px;
    height: 80px;
    line-height: 18px;
    padding: 0;
    border: 1px solid #ddd
}

#J_CmtHiddenForm {
    display: none
}

.comment-publish .select {
    height: 22px;
    margin-bottom: 12px
}

.comment-publish .select h4 {
    width: 50px;
    padding-right: 5px;
    float: left;
    color: #666;
    line-height: 22px;
    text-align: right;
    font-weight: normal
}

.comment-publish .select .worth-radioclick-on, .comment-publish .select .worth-radioclick-off, .comment-publish .select .worth-radioclick-on span, .comment-publish .select .worth-radioclick-off span {
    background-image: url(images/comment-worth-bg.png);
    background-repeat: no-repeat
}

.comment-publish .select .worth-radioclick-on {
    color: #fff;
    float: left;
    height: 22px;
    padding-left: 10px;
    background-position: 0 0
}

.comment-publish .select .worth-radioclick-on span {
    cursor: pointer;
    float: left;
    height: 22px;
    line-height: 22px;
    padding-right: 10px;
    background-position: right 0
}

.comment-publish .select .worth-radioclick-off {
    color: #666;
    float: left;
    height: 22px;
    padding-left: 10px;
    background-position: 0 -22px
}

.comment-publish .select .worth-radioclick-off span {
    cursor: pointer;
    float: left;
    height: 22px;
    line-height: 22px;
    padding-right: 10px;
    background-position: right -22px
}

.comment-publish .select .bought input {
    margin-right: 5px
}

.comment-publish .select .bought {
    height: 20px;
    line-height: 20px
}

.comment-publish .select .taobao-favorite {
    display: none;
    float: right;
    padding-top: 12px;
    padding-right: 20px;
    color: #999
}

.comment-publish .select .taobao-favorite input {
    margin-right: 5px
}

.comment-publish .detail-commentTags-row {
    margin-bottom: 12px
}

.comment-publish .detail-commentTags-row h4 {
    width: 50px;
    padding-right: 5px;
    float: left;
    color: #666;
    text-align: right;
    line-height: 39px;
    height: 39px;
    font-weight: normal
}

.comment-publish #J_CommentTagsDetail {
    width: 330px;
    padding: 6px 8px;
}

.comment-publish #J_HiddenForm {
    line-height: 28px
}

.comment-publish .detail-usedTags-row {
    margin-bottom: 8px
}

.comment-publish .detail-usedTags-row h4 {
    width: 50px;
    padding-right: 5px;
    float: left;
    color: #666;
    text-align: right;
    line-height: 20px;
    height: 20px;
    font-weight: normal
}

.comment-publish .detail-usedTags-row ul {
    margin-left: 55px
}

.comment-publish .detail-usedTags-row ul li {
    float: left;
    height: 18px;
    cursor: pointer;
    line-height: 18px;
    padding: 0 5px;
    white-space: nowrap;
    background: #f3f3f3;
    border: 1px solid #e8e8e8;
    color: #666;
    margin: 0 8px 8px 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.comment-publish .detail-usedTags-row ul li:hover {
    border: 1px solid #ccc;
    background: #f3f3f3
}

.comment-publish .detail-usedTags-row ul li.selected {
    color: #aaa
}

.comment-publish .submit-row {
    height: 28px;
}

.comment-publish .submit-row .share-comment {
    float: right;
    *width: 200px;
    line-height: 16px;
    padding-top: 3px;
    *margin-top: -20px
}

.comment-publish .submit-row .share-comment span {
    float: left
}

.comment-publish .submit-row .share-comment ul {
    float: left;
    height: 16px
}

.comment-publish .submit-row .share-comment ul li {
    float: left;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 5px
}

.comment-publish .submit-row .pub {
    margin-left: 55px
}

.comment-publish .appraisal, .bought-ck {
    float: left;
    line-height: 22px;
    margin-right: 10px
}
.comment .cmt {
    margin: 0 0 12px 0;
    border-bottom: 1px dotted #d1d1d1
}

.comment .cmt .bg-gray {
    background: #fff
}

.comment .cmt .user-pic {
    float: left;
    width: 80px;
    height: 80px;
    overflow: hidden
}

.comment .cmt .user-pic img {
    width: 80px;
    height: 80px
}

.comment .cmt .cmt-doc {
    float: right;
    width: 350px
}

.comment .cmt-doc .cmt-info {
    height: 18px;
    line-height: 18px;
    padding: 0 10px 10px 10px
}

.comment .cmt-doc p {
    line-height: 150%;
    color: #666;
    word-wrap: break-word
}

.comment .cmt-doc p.cmt-content {
    padding: 0 10px 10px 10px
}

.comment .cmt-doc p.cmt-content span {
    float: left;
}

.comment .cmt-doc p.cmt-content a.btn {
    float: right
}

.comment .cmt-doc a {
    cursor: pointer
}

.comment .cmt-doc a.g-daren em {
    margin-left: 0;
    color: #333
}

.comment .cmt-doc .open {
    display: block
}

.cmt-reply {
    display: none
}

.cmt-reply textarea {
    width: 563px;
    font-size: 12px;
    height: 35px;
    margin: 10px 10px 5px 10px
}

.cmt-reply .reply-info {
    margin: 0 10px
}

.cmt-reply .reply-info span {
    float: left;
    margin-left: 5px;
    display: inline
}

.cmt-reply .reply-info span em {
    font-weight: bolder;
    margin: 0 2px
}

.cmt-reply .reply-info a {
    float: right;
    margin-right: 10px
}

.cmt-reply ul {
    margin-top: 12px;
    background-color: #fff
}

.cmt-reply ul li {
    border-bottom: 1px dotted #ddd;
    padding: 10px 15px 10px 0
}

.cmt-reply ul li p {
    float: left;
    width: 400px;
    padding-left: 25px
}

.cmt-reply ul li p img {
    margin-left: -25px;
    margin-right: 5px
}

.cmt-reply ul li p em {
    color: #bbb;
    margin-left: 30px;
    white-space: nowrap
}

.cmt-reply ul li a.btn {
    float: right
}

.comment .cmt-doc .usefulBtn {
    float: right;
    *display: inline;
    margin-right: 10px
}

.comment .cmt-doc .usefulBtn.disableLnk {
    color: #999;
    cursor: default
}

.comment .cmt-doc .usefulBtn.disableLnk:hover {
    color: #999;
    text-decoration: none;
    cursor: default
}

/* product like*/
#product-like {
    margin-top: 15px
}

#product-like h3 {
    line-height: 25px;
    font-size: 16px;
    padding: 0 0 5px 0
}

#product-like .goods-wall {
    margin-top: 5px
}

#product-like .morefind {
    margin-left: 250px;
}





