/**
 * Created by zuosanshao.
 * Date: 12-9-18
 * Time: 下午3:02
 * 维护人员:zuosanshao@qq.com
 */
/*#J_Page {
    background: url(images/site_bg_lines.png) repeat;
}*/
.main-box {
    width: 950px;
    margin: 20px auto 25px;
    background: #fff;
    padding: 15px;
}

.flash {
    width: 685px;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
}

.flash  .items .item {
    width: 685px;
    height: 250px;
    position: relative;
}

.flash  .items .item a {
    cursor: pointer;
    color: #333;
}

.flash .navi {
    z-index: 99;
    position: absolute;
    right: 20px;
    bottom: 5px;
    width: 100px;
    overflow:hidden; }

.flash .navi li {
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
    display: inline;
    background-color: #ddd;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px
}

.flash .navi li.active  {
    background: #e26;
}

.bulletin {
     padding-left: 20px;
     width:230px;
     height:250px;
     background-color: #f9f9f9;
 }
.bulletin .tag-wrap {
    padding: 10px 0 0 18px
}

.bulletin .tag-wrap a {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    padding: 0 10px;
    margin: 5px 5px 5px 2px
}

.bulletin .tag-wrap a:hover {
    background-color: #588C0E;
    color: #fff
}

.bulletin .tag-wrap a:active {
    color: #fff
}

.bulletin .tag-wrap .special {
    color: #588C0E
}
.bulletin p {
    padding: 10px 0;
    text-align: center;
}
/*.bulletin .create-cookbook {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #5ad;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}

.create-cookbook:hover {
    color: #fff;
    text-decoration: none
}*/
.bulletin .create-cookbook {
    display: inline-block;
    width:100px;
    height: 30px;
    border: 1px solid #7ab121;
    background-color: #86b835;
    border-radius: 3px;
    text-align: center;
    line-height:30px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.bulletin .create-cookbook:hover {
    text-decoration: none;
    background: #86b835 url(images/button.png) -5px -611px;
}

.bulletin .create-cookbook:active {
    text-decoration: none;
    background: #86b835 url(images/button.png) -5px -641px;
}




.category {width:950px;background:#fff;padding:15px; margin: 0 auto 20px;position: relative}
.category .group{overflow: hidden;}
.category .hd{ margin-bottom:6px;overflow:hidden;padding: 0 10px;position: relative}
.category .hd h2{ font-size:16px;height:28px;line-height:28px;float:left;color:#666;}
.category .hd h2 a, .hd h2 a{color:#666;text-decoration:none}
.category .hd h3{font-size: 12px;height:28px;line-height:28px;float:left;color:#e26;}
.category .hd h3 a{ font-weight: normal}
.category .hd h3 a:hover{ color:#e26}
.category .hd h3 span{font-weight: normal}
.category .hd .more{float:right;display:block;font-size:12px;font-weight:700;line-height:28px;}
.category .hd .more a{color:#333;text-decoration:none;}
.category .hd .more a.on{display:block;}
.category .group{padding-left: 10px;overflow: hidden;}

.category .group .item {
    float: left;
    width: 210px;
    margin-right: 30px;
    padding: 0 0 10px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden
}

.category  .item  .pic {
    margin-bottom: 10px;
    display: block;
    width: 210px;
    height: 210px;
    float: left;
    position: relative;
    overflow: hidden
}

.category .item .pic strong{
    display: inline-block;
    vertical-align: top;
    height: 38px;
    position: absolute;
    right: 0px;
    top: 12px;
}
.category .item .pic strong span{
    display: inline-block;
    vertical-align: top;
    height: 32px;
    padding: 0px 12px;
    background: #60a531;
    line-height: 32px;
    color: #fff;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    font-size: 14px;
}


.category  .item  h3 {
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.1;
    color: #666
}

.category  .item  h3 a, .category  .item  h3 a:hover {
    text-decoration: none;
    color: #666
}

.category  .item .num {
    position: relative;
    color: #000;
    background-color: #fff;
    margin: 0px auto;
    width: 160px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.category  .item .num .view-num {
    float: left;
    padding-left: 25px;
    background: url(images/post-view.png) no-repeat 0 center;
    overflow: hidden;
    width:30px;
}
.category  .item .num .reply-num {
    float: left;
    padding-left: 25px;
    background: url(images/post-comment.png) no-repeat 0 center;
    overflow: hidden;
    width:30px;
}
.category  .item .num .like-state {
    width: 50px;
    float:left;
}
.category  .item .num a {
    color: #000;
    float: left;
}
.category  .item .num .like-state .like-num {
    height: 24px;
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    position: relative;
}
.category  .item .num .like-state .like-num dl {
    position: relative;
}
.category  .item .num .like-state .like-num dl dd {
    width: 21px;
    height: 24px;
}
.category  .item .num .like-state .like-num dl dd {
    width: 21px;
    height: 24px;
}

.category .last {
    margin-right: 0 !important
}


 /* 应季食材 */
.category .switch-content{overflow: hidden;width: 950px;height: 150px;}

.category .switch-content .item {
    float: left;
    *display: inline;
    width:150px;
    margin-right:10px;
    background-color: #fff;
    overflow: hidden
}

.category  .switch-content .pic {
    display: block;
    width: 150px;
    height: 150px;
    float: left;
    overflow: hidden
}

.category  .switch-content  a.pic:hover {
    text-decoration: none
}

.category  .item  .pic .hover {
    opacity: 1;
    filter: alpha(opacity = 100)
}

.category .tabs {
    z-index: 1;
    position: absolute;
    right: 0px;
    bottom: 5px;
    overflow:hidden; }

.category .tabs li {
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
    display: inline;
    background-color: #ddd;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px
}

.category .tabs li.active  {
    background: #e26;
}
















