/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-31  
 * Time: 下午8:50
 * 维护：zuosanshao@qq.com
*/
#content {
    position: relative;
    z-index: 3;
}
.diagram .main{
    float: left;
    width: 680px;
    background: #FFF;
    border-right: #b4b4b4 solid 1px;
    overflow: auto;
}
.diagram .side {
    background: #FFF;
    float: right;
    width: 308px;
    height: auto;
}

/* side  */
/* box notice*/
.diagram .side .box {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 288px;
}

.diagram .side .box .hd {
    line-height: 1.2;
    padding: 0 0 6px 0;
    margin: 0 0 5px;
    border-bottom: 1px dotted #d1d1d1
}
.diagram .side .box .bd{
    line-height: 22px
}

 /* 创建帖子页面*/
.ico-pic-del, .ico-pic-save { height: 22px; line-height: 22px; padding: 0 0 0 22px; overflow: hidden; display: inline-block;*display:inline;vertical-align: middle;zoom:1; background-image: url(images/widget_site.png);background-repeat:no-repeat; margin-right: 5px;}
.ico-pic-del{ background-position: -128px 0px;}
.ico-pic-save{ background-position: -167px 0px;}
.pic-doing{ float:right;}
.pic-doing a{ float:left; margin: 0 0 0 15px;}
.diagram-edit {
    background-color: #fff;
    padding: 15px;
    height: auto;
    min-height: 400px;
    overflow: visible;
    border: 1px solid #eee;
    margin-bottom: 15px;
}
.diagram-edit  dt{ font-size: 14px; padding-top: 15px;color:#999}
.diagram-edit  .b-input{ font-size: 14px; width: 580px;margin: 0;}
.diagram-edit .b-textarea{width: 580px;height: 50px;}
.diagram-edit  dd.msg{ padding: 10px 0; text-align:right; height: 24px; }
.diagram-edit  .msg-error{ vertical-align: inherit; margin-right: 15px;}
.diagram-edit .diagram-btnbar{ margin-bottom: 50px; padding: 10px 25px;}
.diagram-edit .diagram-btnbar a:hover{ text-decoration: none;}
.diagram-edit .diagram-btnbar .share{ color: #aaa; float: left;}
.diagram-edit .btn-draft,.diagram-btnbar .btn-diagram{ float: left; background: #a7a9ac; height: 30px; line-height: 30px; padding: 0 15px; text-align:center; font-size: 14px; color: #fff;}
.diagram-edit .btn-diagram{ background: #000; margin-left: 30px; display:inline;}
.diagram-edit a:hover.btn-diagram{ background: #555;}
.diagram-edit .upload-img{overflow: hidden;}
.diagram-edit .upload-img .img{ position:relative; background: #fff; text-align: center; margin: 0 auto;}
.diagram-edit .upload-img .img img{margin: 0 auto; }

.diagram-edit .post-photo{
    margin-top:20px;
    padding-bottom: 40px;
    position: relative;
}

.diagram-edit .move-bar{position:absolute;z-index:201; float:left; right: 0; top: 4px; display: none;}
.diagram-edit .move-bar a{height: 30px; width:30px; float:right; margin-left: 1px; text-indent: -99em; display:block; overflow: hidden; background: url(images/ico_site.png) no-repeat -8px -96px;}
.diagram-edit .move-bar a.move-down{background-position: -48px -96px;}
.diagram-edit .move-bar a.move-up{background-position: -8px -96px;}
.diagram-edit .post-item-edit .edit-box{ border: 1px solid #bbb; padding: 3px; margin: -4px;}
.diagram-edit .pic-doing{ float: left; margin: 0 0 0 0; display: inline; padding: 0 0;}
.diagram-edit .post-photo .pic-doing{ margin-left: 100px; margin-top: 10px;}
.diagram-edit .post-photo .photo-des{ clear: both;margin: 0 20px; padding: 20px 0;}
.diagram-edit .post-photo .photo-des textarea{ height: 60px; width:600px;}
.pic-doing-all{display: none; position:absolute; right:0; bottom: 0px;}
.diagram-edit .post-item-edit .pic-doing-all{ display: block; padding: 10px 0;}
.diagram-edit .post-item-edit .pic-doing-all .pic-doing{ float: right;}
.diagram-edit .post-item-edit .move-bar{ display: block;}
