/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-31  
 * Time: 下午8:50
 * 维护：zuosanshao@qq.com
*/
#content {
    position: relative;
    z-index: 3;
}
.diagram .no-content{
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    height: 80px;
    text-align: center;
    line-height: 80px;
}
.diagram .row{
    position: relative;
    background-color: #fff;
}
.diagram .main{
    border-right: #b4b4b4 solid 1px;
    overflow: auto;
}
.diagram .side {
    background: #FFF;
    float: right;
    width: 308px;
    height: auto;
    padding: 0;
}
.main .sitebar {
    height: 60px;
    margin-bottom: 40px;
    background: url(images/dash_line_1x3.png) repeat-x bottom
}

.diagram  .sitebar li {
    float: left;
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    color: #bbb
}

.main .sitebar li strong {
    padding: 0 4px
}

.main .sitebar li.esp {
    padding-left: 0
}

.diagram .main .sitebar li a {
    font-size: 12px;
    color: #bbb
}
.diagram .main .sitebar li a img{
    width: 60px;
    height: 60px;

}

.diagram .main .sitebar li.btn {
    float: right;
    margin-right: 30px
}

.diagram .main .sitebar li.btn a {
    display: block;
    background: #009bba;
    height: 26px;
    line-height: 26px;
    width: 72px;
    text-align: center;
    margin-top: 16px;
    color: #fff;
    font-weight: normal
}

.diagram .main .sitebar li.btn a.js_follow {
    background: #009bba
}

.diagram .main .sitebar li.btn a.js_unfollow {
    background: #ccc
}
.diagram .main  h1{
    color: #333;
    font-size: 32px;
    line-height: 48px;
    padding: 0 50px 20px 50px;
    font-weight: normal;
    text-shadow: 0 0 3px rgba(0,0,0,0.4);
    text-align: center;
    max-height: 280px;
    overflow: hidden;
   ;
}


.diagram .main .desc {
    padding: 15px 50px 80px 50px;
    font-size: 16px;
    color: #444;
    line-height: 26px;
}
.diagram .main .desc textarea{
    border: none;
}
.diagram .main .desc h2, .diagram .main .desc h1, .diagram .main .desc h3, .diagram .main .desc h4 {
    color: #666;
    padding: 0;
    text-align: left;
    text-shadow: none;
   
}

.diagram .main .desc h1 {
    font-size: 20px;
    padding: 0
}

.diagram .main .desc h2 {
    font-size: 18px
}

.diagram .main .desc u, .diagram .main .desc ol, .diagram .main .desc li, .diagram .main .desc article, .diagram .main .desc span, .diagram .main .desc font, .diagram .main .desc td {
    font-size: 16px;
    color: #66635e;
    line-height: 26px;
   
}

.diagram .main .desc iframe {
    width: 600px;
    height: 600px;
    max-height: 1200px;
    overflow: auto
}

.diagram .main .desc strong, .diagram .main .desc b {
    font-size: 16px;
    color: #66635e;
    line-height: 26px;
   ;
    font-weight: bold
}

.diagram .main .desc table {
    background: #eee;
    border-top: #ccc solid 1px;
    border-left: #ccc solid 1px
}

.diagram .main .desc table td {
    padding-left: 4px;
    line-height: 24px;
    border-bottom: #ccc solid 1px;
    border-right: #ccc solid 1px
}

.diagram .main .desc embed, .diagram .main .desc object {
    width: 600px;
   
}

.diagram .main .desc a {
    color: #009bba;
   
}

.diagram .main .desc a:hover {
    text-decoration: underline;
   
}

.diagram .main .desc p {
    font-size: 16px;
    margin-top: 20px;
    color: #444;
    line-height: 26px;
    text-align: left;
   
}

.diagram .main .desc p span {
   
}

.diagram .main .desc img {
    max-width: 580px
}



/* side  */

.diagram .side .UserApp {
    padding-bottom: 10px;
    overflow: auto
}

.diagram .side .UserApp li {
    float: left
}

.diagram .side .UserApp li.espImg {
    width: 100px
}

.diagram .side .UserApp li.espImg img {
    height: 100px;
    width: 100px;
    border-radius: 0
}

.diagram .side .UserApp li.espTxt {
    width: 180px;
    padding-left: 8px
}

.diagram .side .UserApp li.espTxt img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
    float: left;
    border-radius: 8px
}

.diagram .side .UserApp li.espTxt p {
    line-height: 20px;
    color: #999;
    font-family: "宋体";
    padding-top: 10px
}

.diagram .side .UserApp li.espTxt p.esp {
    background: #fff;
    border-radius: 2px;
    height: 24px;
    padding: 3px 6px;
    line-height: 24px;
    width: 150px;
    margin-top: 9px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}

.diagram .side .UserApp li.espTxt p.esp span {
    padding-left: 17px;
    font-family: "宋体"
}

.diagram .side .UserApp li.espTxt p a {
    color: #666;
    font-family: "宋体";
    font-size: 12px
}

.diagram .side .UserApp li.espTxt a.appname {
    font-size: 16px;
    font-weight: bold;
    font-family: "宋体";
    height: 24px;
    width: 147px;
    overflow: hidden;
    color: #666;
    cursor: default
}

.diagram .side .UserApp li.espTxt p a.upload {
    text-decoration: underline
}

.diagram .side .UserApp li.espTxt p span {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #009bba
}

.diagram .side .recommendRead {

    background: url(images/dash_line_1x3.png) repeat-x bottom
}

.diagram .side .recommendRead h2 {
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    background: url(images/dash_line_1x3.png) repeat-x top
}

.diagram .side .recommendRead h2 span {
    float: left;
    color: #444;
    font-size: 14px;
    font-weight: bold;
    font-family: "宋体";
    padding-left: 8px
}

.diagram .side .recommendRead h2 a {
    float: right;
    font-family: "宋体";
    color: #666;
    font-size: 12px;
    font-weight: normal;
    font-size: 12px;
    padding-right: 16px;
    background: url(images/icon_refresh.png) no-repeat left;
    padding-left: 20px
}

.diagram .side .rRead {
    width: 298px
}

.diagram .side .rRead ul {
    width: 280px;
    margin: 0 auto
}

.diagram .side .rRead li {
    line-height: 18px;
    font-size: 12px;
    text-align: left;
    color: #666;
    overflow: hidden;
    height: 36px;
    background: #fff;
    margin-top: 10px
}

.diagram .side .rRead li:hover {
    background: #eee
}

.diagram .side .rRead li a {
    color: #888;
    font-family: "宋体";
    display: block;
    height: 36px;
    overflow: hidden;
    background: url(images/dot_gray.png) no-repeat left 5px;
    padding-left: 15px;
    font-weight: bold
}


/*  diagram edit */
/* box notice*/
.diagram .side .box {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 288px;
}

.diagram .side .box .hd {
    line-height: 1.2;
    padding: 0 0 6px 0;
    margin: 0 0 5px;
    border-bottom: 1px dotted #d1d1d1
}
.diagram .side .box .bd{
    line-height: 22px
}

/* diagram share-pin */
.diagram .share-pin{
    position: fixed;
    height: auto;
    z-index: 3;
    left: 836px;
    top: 282px;
}
.diagram .share-pin .share-nav{
    float: left;
    width: 25px;
}
.diagram .share-pin .share-nav li{
    width: 25px;
    cursor: pointer;
}
.diagram .share-pin .share-nav li.collect{
    height: 75px;
    background: url(images/buttons_collection_hmc.png) no-repeat 0 0;
}
.diagram .share-pin .collectNum {
    width: 23px;
    height: 24px;
    background: url(images/HMC_remind.png);
    position: absolute;
    z-index: 4;
    color: #fff;
    text-align: center;
    line-height: 24px;
    top: -10px;
    left: -12px;
    font-size: 12px;
    font-family: 'Arial';
    font-weight: 700;
    display: none;
}
.diagram .share-pin .share-nav li.esp{
    height: 44px;
    background: url(images/buttons_collection_hmc.png) no-repeat 0 -202px;
}
.diagram .share-pin .share-content{
    position: relative;
    float: right;
    width: 290px;
    height: auto;
    border-bottom: #c8c8c8 solid 1px;
    border-top: #c8c8c8 solid 1px;
    background: #fff;
    padding-bottom: 10px;
    margin-top: 78px;
    border-right: #c8c8c8 solid 1px;
    margin-right: 10px;
}
.diagram .share-pin .share-content .like-common{
    left:50px;
}
.diagram .share-pin .share-content  .share-link{
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
.diagram .share-pin .share-content .discuss{

    margin: 5px auto;
    text-align: center;
}
.diagram .share-pin .share-content .discuss textarea{
    width: 250px;
    height: 50px;
    height: 50px;
    font-size: 12px;
    padding: 5px;
    color: #54412E;
    float: left;
    border: 1px solid #A7A197;
    box-shadow: 0 2px 1px rgba(0,0,0,0.05) inset,0 1px 0 #fff;
    border-radius: 4px;
    line-height: 100%;
}
.diagram .share-pin .share-content .discuss .bbl-btn{
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}


/* diagram discuss*/
.diagram .discuss-textarea{
    padding: 20px 10px;
    clear: both;
    font-size: 14px;
    line-height: 18px;
    border-top: 2px solid #A0BFD1;
    border-bottom: 2px solid #A0BFD1;
    margin: 20px 0 0;
    color: #39482D;
}
.discuss-textarea .login{
    text-align: center;
}
.discuss-textarea .login a{
    float: none;
    display: inline-block;
}
.discuss-textarea h3{
    font-size: 100%;
    font-weight: normal;
}
.discuss-textarea textarea{
    width: 91.6%;
    height: 50px;
    font-size: 12px;
    padding: 5px;
    color: #54412E;
    float: left;
    border: 1px solid #A7A197;
    box-shadow: 0 2px 1px rgba(0,0,0,0.05) inset,0 1px 0 #fff;
    border-radius: 4px;
    -webkit-appearance: none;
    line-height: 100%;
}
.discuss-textarea .bbl-btn{
    margin-right: 50px;
    float: right;
    margin-top: 10px;
}
.diagram .discusses{
   padding: 10px;
}
.discusses .pagination{

}
.discusses .pagination .refresh{
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    display: block;
    float: right;
    cursor: hand;
    color: #008cba;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0.0625rem 0.625rem 0.0625rem;
    margin-right: 2px;
    border: 1px solid #008cba;
}
.discusses .pagination .refresh.active{
    background-color: #008cba;
    color: #ffffff;
}
.discusses .items{
    margin: 10px auto;
}
.item{
    padding: 5px 0 0 5px;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.item .item-left{
    float: left;
    width: 44px;
}
.item .item-left a{
    display: block;
}
.item .item-left img{
    width: 44px;
    height: 44px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.item .item-right{
    float: right;
    width: 600px;
}
.item .item-right .c-head{

}
.item .item-right .c-head a{
    color: #0082CB;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 16px;
}
.item .item-right .c-body{
    word-break: break-all;
    color: #262626;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 22px;
}
.item .item-right .c-meta{
    height: 16px;
    line-height: 16px;
    font-size: 12px;
}
.item .item-right .c-meta .main-access a {
    float: left;
    display: inline;
    height: 16px;
    margin-left: 10px;
    color: #bfbfbf;
}

.item .item-right .c-meta .main-access a.accusation {
    display: inline-block;
    padding-left: 16px;
    background: transparent url("images/accusation_you.png") 0 2px no-repeat
}

.item .item-right .c-meta .main-access a.accusation:hover {
    background-position: 0 -20px
}

.item .item-right .c-meta .main-access a.support-icon {
    display: inline-block;
    padding-left: 16px;
    background: transparent url("images/support_you.png") 0 0 no-repeat
}

.item .item-right .c-meta .main-access a.support-icon:hover {
    background-position: 0 -17px
}

.item .item-right .c-meta .main-access a.c-up {
    display: inline-block;
    padding-left: 16px;
    background: transparent url("images/support_you.png") 0 0 no-repeat
}

.item .item-right .c-meta .main-access a.c-up:hover {
    background-position: 0 -17px
}

.item .item-right .c-meta .main-access a.c-down {
    display: inline-block;
    padding-left: 16px;
    background: transparent url("images/comment-down.png") 0 0 no-repeat
}

.item .item-right .c-meta .main-access a.c-down:hover {
    background-position: 0 -17px
}

.item .item-right .c-meta .main-access a.replay {
    display: inline-block;
    padding-left: 18px;
    background: transparent url("images/reply_arrow2.png") 0 -14px no-repeat
}

.item .item-right .c-meta .main-access a.replay:hover {
    background-position: 0 1px
}

