/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-31  
 * Time: 下午8:50
 * 维护：zuosanshao@qq.com
*/
#content {
    position: relative;
    z-index: 3;
}
.diagram .main{
    float: left;
    width: 680px;
    background: #FFF;
    border-right: #b4b4b4 solid 1px;
    overflow: auto;
}
.diagram .side {
    background: #FFF;
    float: right;
    width: 308px;
    height: auto;
}

/* side  */
/* box notice*/
.diagram .side .box {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 288px;
}

.diagram .side .box .hd {
    line-height: 1.2;
    padding: 0 0 6px 0;
    margin: 0 0 5px;
    border-bottom: 1px dotted #d1d1d1
}
.diagram .side .box .bd{
    line-height: 22px
}

 /* 创建帖子页面*/
.ico-site-edit, .ico-site-pagecover, .ico-site-goods, .ico-site-del, .ico-site-save, .ico-site-link, .ico-site-upload,.ico-site-comment, .ico-site-dig, .ico-site-digcanel, .ico-site-setting, .ico-addimage, .ico-addword, .ico-addgoods, .ico-addphoto-m, .ico-addphotoalbum-m, .ico-addvideo-m, .ico-addpost-m, .ico-addphoto-s, .ico-addphoto-s2, .ico-addphotoalbum-s,.ico-addvideo-s{ height: 22px; line-height: 22px; padding: 0 0 0 22px; overflow: hidden; display: inline-block;*display:inline;vertical-align: middle;zoom:1; background: url(images/widget_site.png) no-repeat -2222px -136px; margin-right: 5px;}
.ico-site-edit{ background-position: 3px -592px;}
.ico-site-pagecover{ background-position: -38px -592px;}
.ico-site-goods{ background-position: -86px -592px;}
.ico-site-del{ background-position: -128px -592px;}
.ico-site-save{ background-position: -167px -592px;}
.ico-site-link{ background-position: -208px -592px;}
.ico-site-upload{ background-position: -248px -592px;}
.ico-site-comment{background-position: 0px -630px; height: 16px; line-height: 16px; padding-left: 20px; margin-right: 0;}
.ico-site-dig{background-position: -39px -628px;}
.ico-site-setting{background: url(images/ico_site.png) no-repeat 0 -463px;}


.ico-addimage{ height: 26px; line-height: 26px; padding-left: 34px;background-position: 0 -496px;}
.ico-addword{ height: 26px; line-height: 26px; padding-left: 34px;background-position: -53px -496px;}
.ico-addgoods{ height: 26px; line-height: 26px; padding-left: 34px;background-position: -104px -496px;}

.ico-addphoto-m{ height: 58px; line-height: 58px; padding-left:64px;background-position: -210px -1162px;}
.ico-addphotoalbum-m{ height: 58px; line-height: 58px; padding-left:64px;background-position: 7px -998px;}
.ico-addvideo-m{ height: 58px; line-height: 58px; padding-left: 64px;background-position: -105px -995px;}
.ico-addpost-m{ height: 58px; line-height: 58px; padding-left: 64px;background-position: -205px -998px;}

.ico-addphoto-s{height: 26px; line-height: 26px; padding-left: 30px;background-position: -110px -1062px;}
.ico-addphotoalbum-s{height: 26px; line-height: 26px; padding-left: 30px;background-position: -158px -1062px;}
.ico-addvideo-s{height: 26px; line-height: 26px; padding-left: 30px;background-position: -205px -1062px;}
.ico-addphoto-s2{height: 26px; line-height: 26px; padding-left: 30px;background-position: -62px -1062px;}

.site-doing{ float:right;}
.site-doing a{ float:left; margin: 0 0 0 15px;}
.diagram-edit {
    background-color: #fff;
    padding: 15px;
    height: auto;
    min-height: 400px;
    overflow: visible;
    border: 1px solid #eee;
    margin-bottom: 15px;
}
.diagram-edit  dt{ font-size: 14px; padding-bottom: 10px;}
.diagram-edit  input{ font-size: 18px; width: 498px; padding: 10px 10px; margin: 0;}
.diagram-edit  dd.msg{ padding: 10px 0; text-align:right; height: 24px; }
.diagram-edit  .msg-error{ vertical-align: inherit; margin-right: 15px;}
.diagram-edit .diagram-btnbar{ margin-bottom: 50px; padding: 10px 25px;}
.diagram-edit .diagram-btnbar a:hover{ text-decoration: none;}
.diagram-edit .diagram-btnbar .share{ color: #aaa; float: left;}
.diagram-edit .btn-draft,.diagram-btnbar .btn-diagram{ float: left; background: #a7a9ac; height: 30px; line-height: 30px; padding: 0 15px; text-align:center; font-size: 14px; color: #fff;}
.diagram-edit .btn-diagram{ background: #000; margin-left: 30px; display:inline;}
.diagram-edit a:hover.btn-diagram{ background: #555;}
.diagram-edit .upload-img{overflow: hidden;}
.diagram-edit .upload-img .img{ position:relative; background: #fff; text-align: center; margin: 0 auto;}
.diagram-edit .upload-img .img img{margin: 0 auto; }

.diagram-edit .post-photo{
    margin-top:20px;
    padding-bottom: 40px;
    position: relative;
}

.diagram-edit .move-bar{position:absolute;z-index:201; float:left; right: 0; top: 4px; display: none;}
.diagram-edit .move-bar a{height: 30px; width:30px; float:right; margin-left: 1px; text-indent: -99em; display:block; overflow: hidden; background: url(images/ico_site.png) no-repeat -8px -96px;}
.diagram-edit .move-bar a.move-down{background-position: -48px -96px;}
.diagram-edit .move-bar a.move-up{background-position: -8px -96px;}
.diagram-edit .post-item-edit .edit-box{ border: 1px solid #bbb; padding: 3px; margin: -4px;}
.diagram-edit .site-doing{ float: left; margin: 0 0 0 0; display: inline; padding: 0 0;}
.diagram-edit .post-photo .site-doing{ margin-left: 100px; margin-top: 10px;}
.diagram-edit .post-photo .photo-des{ clear: both;margin: 0 20px; padding: 20px 0;}
.diagram-edit .post-photo .photo-des textarea{ height: 60px; width:600px;}
.site-doing-all{display: none; position:absolute; right:0; bottom: 0px;}



.diagram-edit .post-item-edit .site-doing-all{ display: block; padding: 10px 0;}
.diagram-edit .post-item-edit .site-doing-all .site-doing{ float: right;}
.diagram-edit .post-item-edit .move-bar{ display: block;}
/*!
 *
 * jQuery TE 1.4.0 , http://jqueryte.com/
 * Copyright (C) 2013, Fatih Koca (fattih@fattih.com), (http://jqueryte.com/about)

 * jQuery TE is provided under the MIT LICENSE.
 *
*/

/* editor's general field */
.jqte {
  /*  margin:30px 0;*/
  /*  border:#000 1px solid;*/
    border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
    box-shadow:0 0 3px #999; -webkit-box-shadow:0 0 3px #999; -moz-box-shadow:0 0 3px #999;
    overflow:hidden;
    transition:box-shadow 0.4s, border 0.4s; -webkit-transition:-webkit-box-shadow 0.4s, border 0.4s; -moz-transition:-moz-box-shadow 0.4s, border 0.4s; -o-transition:-o-box-shadow 0.4s, border 0.4s;
}
.jqte * {
    color:#333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
.jqte_focused {
    border-color:#00AAE7;
    box-shadow:0 0 10px #00BDFF; -webkit-box-shadow:0 0 10px #00BDFF; -moz-box-shadow:0 0 10px #00BDFF;
}
/* toolbar */
.jqte_toolbar {
    overflow:auto;
    padding:3px 4px;
    background:#EEE;
    border-bottom:#BBB 1px solid;
}
.jqte_tool {
    float:left;
    margin:0;
    padding:0;
    cursor:pointer;
}
.jqte_tool, .jqte_tool_icon, .jqte_tool_label {
    border:#EEE 1px solid;
    border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px
}
.jqte_hiddenField {
    display:none
}
.jqte_tool_icon {
    display:block;
    width:22px;
    height:22px;
    background:url(images/jquery-te.png) no-repeat
}
.jqte_tool.jqte_tool_1 .jqte_tool_label {
    position:relative;
    display:block;
    padding:3px;
    width:70px;
    height:16px;
    overflow:hidden;
}
.jqte_tool.jqte_tool_1 .jqte_tool_text {
    font:bold 13px Arial,sans-serif;
    color:#222;
}
.jqte_tool.jqte_tool_1 .jqte_tool_icon {
    position:absolute;
    top:10px;
    right:2px;
    width:6px;
    height:4px;
    background-position:-19px -23px;
    border:none;
    border-radius:none; -webkit-border-radius:none; -moz-border-radius:none
}
.jqte_tool.jqte_tool_2 .jqte_tool_icon {
    background-position:0 0
}
.jqte_tool.jqte_tool_3 .jqte_tool_icon {
    background-position:-22px 0
}
.jqte_tool.jqte_tool_4 .jqte_tool_icon {
    background-position:-44px 0
}
.jqte_tool.jqte_tool_5 .jqte_tool_icon {
    background-position:-66px 0
}
.jqte_tool.jqte_tool_6 .jqte_tool_icon {
    background-position:-88px 0
}
.jqte_tool.jqte_tool_7 .jqte_tool_icon {
    background-position:-110px 0
}
.jqte_tool.jqte_tool_8 .jqte_tool_icon {
    background-position:-132px 0
}
.jqte_tool.jqte_tool_9 .jqte_tool_icon {
    background-position:-154px 0
}
.jqte_tool.jqte_tool_10 .jqte_tool_icon {
    background-position:-176px 0
}
.jqte_tool.jqte_tool_11 .jqte_tool_icon {
    background-position:-198px 0
}
.jqte_tool.jqte_tool_12 .jqte_tool_icon {
    background-position:-220px 0
}
.jqte_tool.jqte_tool_13 .jqte_tool_icon {
    background-position:-242px 0
}
.jqte_tool.jqte_tool_14 .jqte_tool_icon {
    background-position:-264px 0
}
.jqte_tool.jqte_tool_15 .jqte_tool_icon {
    background-position:-286px 0
}
.jqte_tool.jqte_tool_16 .jqte_tool_icon {
    background-position:-308px 0
}
.jqte_tool.jqte_tool_17 .jqte_tool_icon {
    background-position:-330px 0
}
.jqte_tool.jqte_tool_18 .jqte_tool_icon {
    background-position:-352px 0
}
.jqte_tool.jqte_tool_19 .jqte_tool_icon {
    background-position:-374px 0
}
.jqte_tool.jqte_tool_20 .jqte_tool_icon {
    background-position:-396px 0
}
.jqte_tool.jqte_tool_21 .jqte_tool_icon {
    background-position:-418px 0
}
.jqte_tool:hover {
    background-color:#FFF;
    border-color:#FFF
}
.jqte_tool:hover .jqte_tool_icon, .jqte_tool:hover .jqte_tool_label {
    border:#AAA 1px solid
}
.jqte_tool:active .jqte_tool_icon, .jqte_tool:active .jqte_tool_label {
    border:#777 1px solid
}
.jqte_tool.jqte_tool_1:hover .jqte_tool_icon, .jqte_tool.jqte_tool_1:active .jqte_tool_icon {
    border:none
}
.jqte_tool_depressed {
    background-color:#DDD;
    border-color:#CCC
}
.jqte_tool_depressed .jqte_tool_icon {
    border-color:#AAA
}
.jqte_tool_depressed:hover {
    background-color:#EEE
}
/* link form area */
.jqte_linkform {
    padding:5px 10px;
    background:#DDD;
    border-bottom:#BBB 1px solid;
}
.jqte_linktypeselect {
    position:relative;
    float:left;
    width:130px;
    background:#EEE;
    cursor:pointer
}
.jqte_linktypeselect:Active {
    background:#FFF
}
.jqte_linktypeview {
    padding:3px 5px;
    border:#333 1px solid;
    color:#777;
    border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
    outline:none
}
.jqte_linktypetext {
    font-size:12px;
}
.jqte_linktypearrow {
    position:absolute;
    bottom:8px; right:6px;
    width:7px;
    height:6px;
    margin:0 auto;
    background:url(images/jquery-te.png) -7px -23px no-repeat;
}
.jqte_linktypes {
    display:none;
    position:absolute;
    top:22px; left:1px;
    width:125px;
    background:#FFF;
    border:#333 1px solid;
    box-shadow:0 1px 4px #AAA; -webkit-box-shadow:0 1px 4px #AAA; -moz-box-shadow:0 1px 4px #AAA
}
.jqte_linktypes a {
    display:block;
    padding:4px 5px;
    font-size:12px;
}
.jqte_linktypes a:hover {
    background:#DDD
}
.jqte_linkinput {
    float:left;
    margin:0 5px;
    padding:3px 5px;
    width:300px;
    background:#EEE;
    border:#333 1px solid;
    color:#777;
    font-size:12px;
    border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
    outline:none;
}
.jqte_linkinput:focus, .jqte_linkinput:hover {
    background:#FFF;
    border-color:#000;
}
.jqte_linkbutton {
    float:left;
    padding:3px 12px;
    background:#AAA;
    border:#333 1px solid;
    color:#FFF;
    font-size:12px;
    font-weight:bold;
    cursor:pointer;
    border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
    box-shadow:inset 0 1px #EEE; -webkit-box-shadow:inset 0 1px #EEE; -moz-box-shadow:inset 0 1px #EEE;
}
.jqte_linkbutton:hover {
    background:#A1A1A1
}
.jqte_linkbutton:active {
    box-shadow:inset 0 1px #CCC; -webkit-box-shadow:inset 0 1px #CCC; -moz-box-shadow:inset 0 1px #CCC;
    background:#888;
}

/* text format menu */
.jqte_formats {
    display:none;
    position:absolute;
    width:180px;
    oveflow-x:hidden;
    overflow-y:auto;
    background:#FFF;
    border:#AAA 1px solid;
    box-shadow:0 0 5px #AAA; -webkit-box-shadow:0 0 5px #AAA; -moz-box-shadow:0 0 5px #AAA;
    z-index:100;
}
.jqte_format {
    display:block;
    padding:4px 7px;
    font-size:13px
}
.jqte_format:hover {
    background:#DDD
}
.jqte_format_1, .jqte_format_2, .jqte_format_3, .jqte_format_4, .jqte_format_5, .jqte_format_6 {
    font-weight:bold
}
.jqte_format_1 {
    font-size:22px
}
.jqte_format_2 {
    font-size:20px
}
.jqte_format_3 {
    font-size:18px
}
.jqte_format_4 {
    font-size:16px
}
.jqte_format_5 {
    font-size:14px
}
.jqte_format_6 {
    font-size:12px
}
.jqte_format_7 {
    font-family:"Courier New", Courier, monospace
}

/* font size menu */
.jqte_fontsizes {
    display:none;
    position:absolute;
    width:180px;
    height:198px;
    oveflow-x:hidden;
    overflow-y:auto;
    background:#FFF;
    border:#AAA 1px solid;
    box-shadow:0 0 5px #AAA; -webkit-box-shadow:0 0 5px #AAA; -moz-box-shadow:0 0 5px #AAA
}
.jqte_fontsize {
    display:block;
    padding:3px 7px;
}
.jqte_fontsize:hover {
    background:#DDD
}

/* color pallette */
.jqte_cpalette {
    display:none;
    position:absolute;
    padding:6px;
    width:144px;
    background:#FFF;
    border:#AAA 1px solid;
    box-shadow:0 0 5px #AAA; -webkit-box-shadow:0 0 5px #AAA; -moz-box-shadow:0 0 5px #AAA
}
.jqte_color {
    display:block;
    float:left;
    width:16px;
    height:16px;
    border:#FFF 1px solid;
}
.jqte_color:hover {
    border-color:#000
}
.jqte_colorSeperator {
    float:none;
    clear:both;
    height:7px;
}

/* editor area */
.jqte_editor, .jqte_source {
    padding:10px;
    background:#FFF;
    min-height:100px;
    max-height:900px;
    overflow:auto;
    outline:none;
    word-wrap:break-word; -ms-word-wrap:break-word;
    resize:vertical
}
.jqte_editor div, .jqte_editor p {
    margin:0 0 7px
}
.jqte_editor a:link, .jqte_editor a:link * {
    color:#0066FF !important;
    text-decoration:underline;
}
.jqte_editor blockquote {
    margin-top:0;
    margin-bottom:7px
}
.jqte_editor img {
    float:left;
    margin:0 10px 5px 0
}
.jqte_editor a[jqte-setlink], .jqte_editor a[jqte-setlink] * {
    background:#3297FD !important;
    color:#FFF !important
}
.jqte_editor h1, .jqte_editor h2, .jqte_editor h3, .jqte_editor h4, .jqte_editor h5, .jqte_editor h6, .jqte_editor pre {
    display:block;
    margin:0 0 3px;
}
.jqte_editor h1, .jqte_editor h1 * {
    font-size:26px
}
.jqte_editor h2, .jqte_editor h2 * {
    font-size:24px
}
.jqte_editor h3, .jqte_editor h3 * {
    font-size:22px
}
.jqte_editor h4, .jqte_editor h4 * {
    font-size:20px
}
.jqte_editor h5, .jqte_editor h5 * {
    font-size:18px
}
.jqte_editor h6, .jqte_editor h6 * {
    font-size:15px
}
.jqte_editor pre, .jqte_editor pre * {
    font-family:"Courier New", Courier, monospace
}

/* source area */
.jqte_source, .jqte_source textarea {
    background:#FFF1E8
}
.jqte_source textarea {
    margin:0 !important;
    padding:0 !important;
    display:block !important;
    width:100% !important;
    min-height:100px;
    font-family:Courier, Arial, sans-serif !important;
    font-weight:normal;
    font-size:15px;
    overflow:hidden !important;
    outline:none;
    resize:none;
}
.jqte_source textarea, .jqte_source textarea:focus {
    css_shadow:none !important;
    background:none !important;
    border:none !important;
}

/* title box */
.jqte_title {
    display:none;
    position:absolute;
    z-index:9999;
}
.jqte_titleArrow {
    position:relative;
}
.jqte_titleArrowIcon {
    width:7px;
    height:6px;
    margin:0 auto;
    background:url(images/jquery-te.png) 0 -23px no-repeat;
}
.jqte_titleText {
    padding:5px 7px;
    margin-top:0;
    min-width:5px;
    min-height:1px;
    max-width:400px;
    background:#000;
    border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;
    word-wrap:break-word; -ms-word-wrap:break-word
}
.jqte_titleText, .jqte_titleText * {
    color:#FFF;
    font-size:11px
}

/* placeholder */
.jqte_placeholder {
    position:relative;
    display:none;
}
.jqte_placeholder_text {
    position:absolute;
    top:43px;
    left:10px;
    font-size:14px;
    color:#CCC;
}