/**
* Created by zuosanshao.
* Email:zuosanshao@qq.com
* @contain: 
* @depends: 
* Since:13-1-1上午9:32
* ModifyTime :
* ModifyContent:
* http://www.smeite.com/
*
*/

.tag-list {
    margin-top:15px;
    position: relative;
    border-bottom: 1px solid #d9d9d9;

}
 .tag-list dl{
     width: 960px;
     margin: 0 auto;
     padding: 10px;

 }
 .tag-list dl dt, .tag-list dl dd{
     float: left;
 }
 .tag-list dl dt.title{
     width: 100px;
     line-height:70px;
     color: #333;
     font-weight: bold;
 }
.tag-list-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #f3f3f3;
}
.tag-list dl dd{
    width: 830px;
    padding-left: 10px;
    border-left: 2px solid #9b9b9b;
}

.tag-list .tag, .tag-list .tag:link, .tag-list .tag:visited {
    float: left;
    height: 22px;
    padding: 0 10px;
    margin: 0 5px 8px 0;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
    line-height: 22px;
    color: #666;
    white-space: nowrap;
    background-color: #fff
}

.tag-list .tag:hover, .tag-list .tag:focus {
    border-color: #588C0E;
    color: #fff;
    background-color: #588C0E
}

.tag-list .curr:link, .tag-list .curr:visited, .tag-list .curr:hover {
    border-color: #588C0E;
    color: #fff;
    background-color: #588C0E
}




 /* sort  */
.filter-wrap {
    margin: 20px 0;
    padding: 0;
    position: relative;
}

.filter-wrap h2 {
    float: left;
    font-size: 18px;
    border-left: 5px solid #5c6f09;
    background-color: #588c0e;
    border-right: 5px solid #5c6f09;
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    color: #fff;
    display: inline;
}

.filter-wrap i {
    width: 980px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: url(images/site_dotted.png) repeat-x center
}

.goods-filter {
    float: left;
    padding-left: 15px
}

.goods-filter a {
    float: left;
    margin: 0 10px 0 0;
    background: #ececec;
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    white-space: nowrap;
    color: #808285;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px
}

.goods-filter a:hover {
    text-decoration: none;
    color: #fff;
    background: #588C0E
}

.goods-filter a.current {
    background: #588C0E;
    color: #fff
}

.filter-wrap #bdshare {
    position: absolute;
    right: 0;
    top: -5px;
    background-color: #fff
}

/* end */



.pagin4faxian {
    position: relative;
    height: 32px;
    margin-left: 362px;
    float: left
}

.pagin4faxian ul {
    display: none;
    border: 1px solid #ececec;
    padding: 1px;
    position: absolute;
    background: #fff;
    bottom: 34px;
    left: 0;
    width: 60px
}

.pagin4faxian li a {
    display: block;
    height: 25px;
    line-height: 25px;
    color: #333
}

.pagin4faxian li span {
    color: #999;
    height: 25px;
    line-height: 25px
}

.pagin4faxian li a:hover {
    color: #666;
    background: #ececec;
    text-decoration: none
}

.pagin4faxian .current {
    float: left;
    width: 62px;
    line-height: 32px;
    height: 32px;
    margin-right: 10px;
    color: #666
}

.pagin4faxian .next {
    float: left;
    background: #588C0E;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}

.pagin4faxian .next:hover {
    text-decoration: none
}
