/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-31  
 * Time: 下午8:50
 * 维护：zuosanshao@qq.com
*/
#content {
    background: #f0f0f0;
    position: relative;
    z-index: 3;
}
.index .mod-header {overflow: hidden;padding: 35px 180px}
.index .mod-header h1 {font-size: 100px;color: #c33;display: inline;float: left;margin-bottom: 0;}
.index .mod-header p {font-size: 60px;line-height: 53px;overflow: hidden;height: 128px;display: inline;float: left;}
.index .mod-header em {font-size: 18px;font-weight: normal;color: white;background: black;margin-left: 7px;padding: 2px;}


.index .row .coll, .index .row .colm,.index .row .colr{
    width: 330px;
    float: left;
}
.index .title{
    height: 92px;
    padding: 30px 0 15px 0;
    text-align: center;
}
.index .title h1{
    font-size: 32px;
    height: 38px;
    margin-bottom: 10px;
}
.index .title span{
    display: block;
    font-size: 14px;
    color: #000;
    font-family: Microsoft YaHei;
    line-height: 24px;
}
.index .title span em{
    color: #57c5c1;
    padding: 0px 10px;
}
.index .colm .title, .index .colr .title{
    height: 92px;
    background: url(images/index-col-bg.png) 0 10px no-repeat;
}

.index .coll .wrap{
    min-height: 910px;
}
.index .coll .wrap .box{
    padding: 28px 20px;
    margin-right: 22px;
    background: #fff;
    border: 1px #e5e5e5 solid;
}

.index .coll .wrap dl{
    height: 245px;
    min-height: 245px;
    border-bottom: 1px #ccc dashed;
    padding-bottom: 33px;
    margin-bottom: 25px;
}
.index .colm .wrap{
    min-height: 910px;
    border-left: 1px #57c5c1 solid;

}

.index .colm dl{
    margin: 0 22px;
    height: 250px;
    min-height: 250px;
    padding-top: 16px;
    padding-bottom: 38px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    line-height: 20px;
    border-bottom: 1px #ccc dashed;
}
.index .colm dl .pic {
    margin: 0 auto;
    height: 162px;
    position: relative;
    width: 166px;
}
.index .colm dl .pic a{
    display: block;
    width: 166px;
    height: 162px;
    position: relative;
}
.index .colm dl .pic a:hover {color: #c00;}

.index .colm  dl  .shadow{
    position: absolute;
    left: 0px;
    top: 0px;
    background: url(http://mat1.gtimg.com/fashion/2014fw/ny/raidus_bg.png) no-repeat;
    overflow: hidden;
    width: 166px;
    height: 162px;
}
.index .colm  dl.hover .shadow { background-position:  0px -162px;}
.index .colm .author {
    text-align: center;
    font-size: 14px;
    margin: 15px 0px 10px 0px;
    line-height: 24px;
}
.index .colm .author a{
    color: #333333;
}
.index .colm .intro{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
}

/* index colm right */
.index .colr .wrap{
    min-height: 910px;
    border-left: 1px #57c5c1 solid;
}


.index .colr .wrap .box{
    padding: 28px 20px;
    margin-left: 22px;
    margin-right: 0px;
    background: #fff;
    border: 1px #e5e5e5 solid;
}

.index .colr dl{
    height: 245px;
    min-height: 245px;
    border-bottom: 1px #ccc dashed;
    padding-bottom: 33px;
    margin-bottom: 25px;
}