/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-31  
 * Time: 下午8:50
 * 维护：zuosanshao@qq.com
*/
.show-grid {
    margin-bottom: 15px;
}
.show-grid [class^="col-"] {
    text-align: center;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
}


