/**
 * Created by zuosanshao.
 * Date: 12-9-21
 * Time: 上午10:45
 * 维护人员:zuosanshao@qq.com
 */


.common{ width:980px; margin:35px auto 20px;  background:url(images/bg-help.png) repeat-y;}
.common a:link,
.common a:visited,
.common a:hover,
.common a:active,
.common a:focus{ color: #588C0E; text-decoration: none;}
.common a:hover{ text-decoration: underline}
.main{ float:right; width:820px; background-color: #fff;}
.aside{ float:left; width:160px;}
.aside .inner{ padding-top: 50px;}
.aside-nav{ width: 160px;}
.aside-nav li{ height: 28px; margin-bottom: 5px;}
.aside-nav li a{ display: block; width: 160px; height: 28px; text-align: center; font: 14px/28px SimSun; color: #588c0d; text-decoration:none;}
.aside-nav li a:hover{ background-color: #ebebeb;}
.aside-nav .current{ background-color: #839A1D;}
.aside-nav .current a,
.aside-nav .current a:hover{ background-color: #839A1D; color: #fff; font-weight: bold;}
.aside-contact {
    border-top: 1px dotted #999;
    margin: 30px 10px;
    width: 140px;
    padding-top: 10px;
 }

.aside-contact p{
      text-align: center;
    padding-bottom: 10px;
}
/* main */
.main .inner{ padding: 50px; min-height: 500px; _height: 500px;}
.help-hd h3{ height: 30px; margin-bottom: 15px; font: bold 14px/30px SimSun; border-bottom: 1px solid #ededed; }
.help-bd{ line-height:22px;}
.help-bd p{
    color: #333;
    line-height: 25px;
    padding-bottom: 10px;
}
.help-bd .team{
    padding-top: 50px;
}
/** 乐活协议 **/
.help-bd ol h5{margin: 6px auto;}
.help-bd ol ol{margin-left:2em;color:#666;}
.help-bd ol li{margin:10px 0;}
.help-bd .help-pic{text-align:center;text-align:center;margin:30px 0;}
.help-bd .help-pic img{margin:0 auto;}
.help-bd .help-pic span{display:block;}
.help-bd p a,
.help-bd p a:hover,
.help-bd p a:active{text-decoration:underline;}

/* 友情链接页面 */

.friends h3 { font-size:14px;padding-bottom:15px; }
.friends ul.imglinks { padding-left:15px; }
.friends ul.imglinks li { float:left;display:inline;margin:0 40px 20px 0; }
.friends ul.textlinks { padding-left:15px; }
.friends ul.textlinks li { float:left;display:inline;width:140px;margin-bottom:20px;line-height:18px; }
.friendApply {padding-top:10px;border-top:1px dotted #d1d1d1;}
.friendApply h3 { font-size:14px;padding:5px 0 10px; }
.friendApply p{ line-height:2;}

.agreement h2 {
    text-align: center;
    border-bottom: none;
}
.agreement ul li {
    line-height: 2;
    color: #333;
}
.agreement ul li h3 {
    margin: 20px 0 0 0;
}
.agreement ul li ol {
    line-height: 1.8;
    margin-left: 2em;
}
.agreement ul li ol pre, .agreement-box ul li pre {
    margin-left: 2em;
}
.agreement ul li p {
    line-height: 1.6;
    padding-left: 2em;
    margin: 15px 0 0 0;
    color: #333;
}


.help .help-bd dl{margin:0;}
.help .help-bd dt{height:20px;line-height:20px; padding: 5px 0;}
.help .help-bd dd{display:none;}
.help h5{margin:20px 0 5px;}
.help h5 span{
    color: #333;
    font-weight: normal;
}
.help p{
    padding-bottom: 5px;
}
.rebate h5{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
}
#J_loading{
    padding:100px;text-align: center;
}
#J_productMain{
    display: none;
}


