/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-31  
 * Time: 下午8:50
 * 维护：zuosanshao@qq.com
*/

.banner {
    position: relative;
    width: 100%;
    overflow: auto;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: rgba(255,255,255,.6);
    text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

    background: #5b4d3d;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    margin-bottom: 30px;
}
.banner ul {
    list-style: none;
    width: 300%;
}
.banner ul li {
    display: block;
    float: left;
    width: 33%;
    min-height: 350px;

    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;

    box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
}

.banner .inner {
    padding: 160px 0 110px;
}

.banner h1, .banner h2 {
    font-size: 40px;
    line-height: 52px;

    color: #fff;
}

.banner .btn {
    display: inline-block;
    margin: 25px 0 0;
    padding: 9px 22px 7px;
    clear: both;

    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid rgba(255,255,255,.4);
    border-radius: 5px;
}
.banner .btn:hover {
    background: rgba(255,255,255,.05);
}
.banner .btn:active {
    -webkit-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    -moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    -ms-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    -o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
    filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
}

.banner .btn, .banner .dot {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    -o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}

.banner .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
}
.banner .dots li {
    display: inline-block;
    *display: inline;
    zoom: 1;

    width: 10px;
    height: 10px;
    line-height: 10px;
    margin: 0 4px;

    text-indent: -999em;
    *text-indent: 0;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.banner .dots li.active {
    background: #fff;
    opacity: 1;
}

.banner .arrows {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
}
.banner .arrow {
    display: inline;
    padding-left: 10px;
    cursor: pointer;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {


    .banner h1, .banner h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .banner ul li {
        height: 240px;
    }
    .banner .inner {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .banner p {
        font-size: 15px;
        width: 80%;
        margin: 0 auto;
    }
    pre {
        overflow: auto;
    }

}

/*items 模块 */
.items {
    padding:10px;
}

.items .item {
    float: left;
    width: 660px;
    position: relative;
}

.items .item .content {
    float: left;
    border-right: 2px solid #cecece;
    width: 460px;
}

.items .item .content h2 {
    height: 60px;
    position: relative;
    background: #f4f5f6;
    font-size: 20px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.items .item .content h2 .title {
    padding-left: 20px;
    float: left;
    height: 60px;
    line-height: 60px;
}

.items .item .content .desc{
    position: relative;
    width: 460px;
    min-height: 280px;
    float: left;
    margin: 10px auto;
}
.items .item .content .desc .pics{
    width: 460px;
    position: relative;
}
.items .item .content .desc .pics-list{
    position: relative;
    display: block;
    width: 460px;
}

.items .item .content .desc .pics-list img{
    max-width: 450px;
    padding-bottom: 10px;
}
.items .item .content .desc  .pics-hidden{
    display: none;
    height: 32px;
    background: url(images/pics-hidden.png) center 0;
    width: 100%;
    text-indent: -9999px;
}

.items .item .content .desc .pics-too-high .pics-list{
    position: relative;
    display: block;
    position: relative;
    width: 460px;
    height: 500px;
    overflow: hidden;
}
.items .item .content .desc .pics-too-high .pics-hidden{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.items .item .content .desc .pics-too-high-close {
    margin-right: 15px;
    font-size: 10px;
    text-align: right;
    display: none;
}
.items .item .content .desc .intro{
    padding: 10px;
    max-height: 50px;
    overflow:hidden;
}

.items .item .meta {
    width: 198px;
    float: left;
}

.items .item .meta .user {
    background: #f4f5f6;
    position: relative;
    height: 60px;
    line-height: 60px;
    width: 198px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.items .item .meta .user img {
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    overflow: hidden;
}

.items .item .meta .user span {
    font-size: 12px;
    color: #555;
}

.items .item .meta .user i {
    float: right;
    color: #999;
    font-size: 12px;
    margin-right: 15px;
}

.items .item .meta .extra {
    padding: 10px 15px;
    text-align: center;
    margin: 20px 10px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
}

.items .item .meta .extra a {
    color: #44b2c3;
}

.items .item .meta .thumbs {
    border-bottom: 1px solid #31708f;
    padding-bottom: 10px;
}

.items .item .meta .thumbs .up {
    margin-right: 15px;
}

.items .item .meta  span.glyphicon-thumbs-up {
    color: red;
    font-size: 36px;
}

.items .item .meta  span.glyphicon-thumbs-down {
    color: #44b2c3;
    font-size: 36px;
}

.items .item .meta .others {
    margin-top: 10px;
}

.items .item .meta .others a.comment, .items .item .meta .others a.collect {
    margin-right: 15px;
}

.items .item .meta span.glyphicon-edit {
    font-size: 18px;

}

.items .item .meta span.glyphicon-heart {
    font-size: 18px;

}

.items .item .meta span.glyphicon-share {
    font-size: 18px;
}
/* items end*/

#content {
    background: #f0f0f0;
    position: relative;
    z-index: 3;
}



/* 图说区域 */
/* pics */

.pics .mod-header {}
.pics .row .coll, .pics .row .colm,.pics .row .colr{
    width: 330px;
    float: left;
}
.pics .title{
    height: 92px;
    padding: 30px 0 15px 0;
    text-align: center;
}
.pics .title h1{
    font-size: 32px;
    height: 38px;
    margin-bottom: 10px;
}
.pics .title span{
    display: block;
    font-size: 14px;
    color: #000;
    font-family: Microsoft YaHei;
    line-height: 24px;
}
.pics .title span em{
    color: #57c5c1;
    padding: 0px 10px;
}
.pics .colm .title, .pics .colr .title{
    height: 92px;
    background: url(images/index-col-bg.png) 0 10px no-repeat;
}
.pics  .wrap  dl{
    border-bottom: 1px #ccc dashed;
    padding-bottom: 5px;
    margin-bottom: 25px;
    text-align: center;
}
.pics .coll .wrap{
    min-height: 910px;
}
.pics .coll .wrap .box{
    padding: 28px 20px;
    margin-right: 22px;
    background: #fff;
    border: 1px #e5e5e5 solid;
}


.pics .colm .wrap{
    min-height: 910px;
    border-left: 1px #57c5c1 solid;

}

.pics .colm .wrap .box {
    padding: 28px 20px;
}
.pics .colm dl .pic {
    margin: 0 auto;
    height: 250px;
    position: relative;
    width: 256px;
}
.pics .colm dl .pic a{
    text-align: center;
    display: block;
    width: 256px;
    height: 250px;
    position: relative;
}
.pics .colm dl .pic a:hover {color: #c00;}

.pics .colm  dl  .shadow{
    position: absolute;
    left: 0px;
    top: 0px;
    background: url(images/raidus_bg.png) no-repeat;
    overflow: hidden;
    width:256px;
    height:251px;
}
.pics .colm  dl.hover .shadow { background-position:  0px -249px;}


/* index colm right */
.pics .colr .wrap{
    min-height: 910px;
    border-left: 1px #57c5c1 solid;
}


.pics .colr .wrap .box{
    padding: 28px 20px;
    margin-left: 22px;
    margin-right: 0px;
    background: #fff;
    border: 1px #e5e5e5 solid;
}



.pics .box .intro {
    text-align: center;
    font-size: 14px;
    margin: 15px 0 10px 0;
    line-height: 24px;
}
.pics .box  .intro a{
    color: #333333;
}
.pics .box  .share{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
}










