/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-31  
 * Time: 下午8:50
 * 维护：zuosanshao@qq.com
*/
#content {
    background: #f0f0f0;
    position: relative;
    z-index: 3;
}
.main .diagrams{
    padding: 0 10px;
}
.main .diagrams .diagram{
    width: 660px;
    padding: 20px 0;
    border-bottom: 1px solid #999;
}
.main .diagrams .diagram .diagram-content{
    position: relative;
    width: 460px;
    min-height: 280px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.main .diagrams .diagram .diagram-content .pics{
    width: 460px;
    position: relative;
}
.main .diagrams .diagram .diagram-content .pics-list{
    position: relative;
    display: block;
    width: 460px;
}

.main .diagrams .diagram .diagram-content .pics-list img{
    max-width: 460px;
    padding-bottom: 10px;
}
.main .diagrams .diagram .diagram-content  .pics-hidden{
    display: none;
    height: 32px;
    background: url(images/pics-hidden.png) center 0;
    width: 100%;
    text-indent: -9999px;
}

.main .diagrams .diagram .diagram-content .pics-too-high .pics-list{
    position: relative;
    display: block;
    position: relative;
    width: 460px;
    height: 700px;
    overflow: hidden;
}
.main .diagrams .diagram .diagram-content .pics-too-high .pics-hidden{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.main .diagrams .diagram .diagram-content .pics-too-high-close {
    font-size: 10px;
    text-align: right;
    display: none;
}
.main .diagrams .diagram .diagram-content .intro{
    padding: 10px;
    max-height: 50px;
    overflow:hidden;
}
.main .diagrams .diagram .diagram-info{
    width: 170px;
    float: left;
}
.main .diagrams .diagram .diagram-info .pin{
    width: 170px;
}
.main .diagrams .diagram .diagram-info .pin .title{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.main .diagrams .diagram .diagram-info .pin .user-info{
    padding-top: 5px;
    float: left;
    font-size: 12px;
    color: #bbb;
}
.main .diagrams .diagram .diagram-info .pin .user-info .user-img{
    float: left;
    height: 36px;
    width: 36px;
}
.main .diagrams .diagram .diagram-info .pin .user-info .user-img a{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    display: block;
    border: #FFF solid 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.main .diagrams .diagram .diagram-info .pin .user-info .user-img a img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.main .diagrams .diagram .diagram-info .pin .user-info .user-name{
    padding: 0 4px;
    overflow: hidden;
    float: left;
    line-height: 36px;
}
.main .diagrams .diagram .diagram-info .pin .meta{
    clear: both;
    position: relative;
    background-color: #F4F4F4;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #FFFFFF inset, 0 1px 2px #EEEEEE;
    margin: 0;
    overflow: hidden;
}
.main .diagrams .diagram .diagram-info .pin .like-common{
    left:50px;
}
.main .diagrams .diagram .diagram-info .pin .share-link{
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}
.main .diagrams .diagram .diagram-info .pin .discuss{
    height: 30px;
    line-height: 30px;
    margin: 5px auto;
    text-align: center;
}

/* 首页 */
.index .mod-header {overflow: hidden;padding: 15px 180px}
.index .mod-header h1 {font-size: 100px;color: #c33;display: inline;float: left;margin-bottom: 0;}
.index .mod-header p {font-size: 60px;line-height: 53px;overflow: hidden;height: 128px;display: inline;float: left;}
.index .mod-header em {font-size: 18px;font-weight: normal;color: white;background: black;margin-left: 7px;padding: 2px;}

/* 图说-- 发现页面 */
.find .mod-header {
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    height: 80px;
}
.find .mod-header ul {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height:80px
}

.find .mod-header li {
    width: 100px;
    text-align: center;
    float: left;
    line-height:80px
}

.find .mod-header li a {
    color: #666;
    font-family: "宋体";
    font-size: 14px;
    display: block
}

.find .mod-header li.on a {
    color: #009bab
}

.find .mod-header li.sort{
    position: relative;
}
.find .mod-header li.sort #J_diagram_sort {
    background: url(images/icon_triangle_down.png) no-repeat right;
    padding-right: 20px;
    width: 60px;
    text-align: right
}

.find .mod-header .dropdown {
    display: none;
    position: absolute;
    z-index: 999;
    text-align: center;
    left: 0;
    top:50px;
    width: 302px;
    overflow: hidden;
    border: #dfdfdf solid 1px;
    border-top: 0;
    background: #fff;
    padding: 15px 0;

}

.find .mod-header .dropdown dd {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px
}

.find .mod-header .dropdown dd a {
    color: #666;
    font-size: 12px;
    display: block;
    height: 30px;
    line-height: 30px;
    display: block;
}

.find .mod-header .dropdown dd a:hover {
    background-color: #f3f3f3;
    text-decoration: none;
}

/* 微信精选 页面 */
.weixin .mod-header {overflow: hidden;padding: 15px 180px}
.weixin .mod-header h1 {font-size: 100px;color: #c33;display: inline;float: left;margin-bottom: 0;}
.weixin .mod-header p {font-size: 60px;line-height: 53px;overflow: hidden;height: 128px;display: inline;float: left;}
.weixin .mod-header em {font-size: 18px;font-weight: normal;color: white;background: black;margin-left: 7px;padding: 2px;}

/* 宠物乐园 */
/* pets */
.pets .mod-header {
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    height: 80px;
}
.pets .mod-header ul {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height:80px
}

.pets .mod-header li {
    width: 100px;
    text-align: center;
    float: left;
    line-height:80px
}

.pets .mod-header li a {
    color: #666;
    font-size: 14px;
    display: block
}

.pets .mod-header li.on a {
    color: #009bab
}








