/**
 * Created by zuosanshao.
 * User: smeite.com
 * Email:zuosanshao@qq.com
 * @description: 
 * @depends: 
 * Includes:
 * Since: 13-2-22  下午2:50
 * ModifyTime : 
 * ModifyContent: 
 * http://www.smeite.com/
 *
 */
.sitemap{background-color:#fff;width:920px;margin:0 auto;padding:20px;font-size:12px}.sitemap h2{border-bottom:1px dotted #ddd;font-size:18px;line-height:2.2;margin-bottom:15px}.sitemap div{clear:both;color:#333;margin-top:20px;margin-left:5px}.sitemap div h3{float:left;font-weight:bolder;width:70px;font-size:14px}.sitemap div a{margin:4px 4px;color:#333}.sitemap div label{color:#999}.sitemap .tags-smeite{padding-bottom:16px}.sitemap .tags-smeite ul{display:block;clear:both;padding-top:6px}.sitemap .tags-smeite li{float:left;white-space:nowrap;width:auto}.sitemap .tags-smeite li a{float:left;display:block;color:#666;height:20px;line-height:20px;padding:0 3px;background:#fff;border:1px solid #e8e8e8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;max-width:198px}.sitemap .tags-smeite li a:hover{text-decoration:none;border:1px solid #ccc}.sitemap .tags-smeite li.focus a:hover{border:1px solid #ccc}