/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-31  
 * Time: 下午8:50
 * 维护：zuosanshao@qq.com
*/
#content {
    position: relative;
    z-index: 3;
}
/*sub bar*/
.subbar .container{
    position: relative;
}
.subbar .container .sitePic {
    position: relative;
    float: left;
    height: 80px;
    width: 80px;
    padding: 0;
}
.subbar .container .sitePic img{
    position:absolute;
    top:0;
    left: 0;
}
.subbar .container li.siteName {
    font-size: 18px;
    color: #333;
}

.site-header{
    margin-bottom: 20px;
    background-color: #fff;
    overflow: hidden;
}

.site-header .siteIntro {
    margin-left: 90px;
    float: left;
    position: relative;
    height: 45px;
    background: #fff;
    overflow: hidden
}

.site-header .sr_user {
    height: 25px;
    line-height: 25px;
    padding: 10px 20px
}

.site-header .sr_user li {
    float: left;
    list-style-type: none;
    padding-left: 10px;
    margin: 0
}

.site-header .sr_user .user_pic img{
    width: 25px;
    height: 25px;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
    behavior: url(PIE.htc);
}
.site-header .sr_user li font {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 4px
}
.site-header .notice{
    float: left;
    margin-left: 30px;
}
.site-header .notice i{
    float: left;
    display: block;
    width: 45px;
    height:35px;
    background: url(images/icon_notice.png) no-repeat 15px;
}
.site-header .notice p{
    float: left;
    height: 35px;
    line-height: 35px;
}

.site-list .box{
    width: 720px;
    border-bottom: #f0f0f0 solid 8px;
    background-color: #fff;
    height: 150px;
    position: relative;
}
.site-list dt{
    width: 330px;
    height: 150px;
    float: left;
}
.site-list dt .pic {
    height: 150px;
    width: 150px;
    overflow: hidden;
    float: left;
}
.site-list dt img{
    display: block;
    height: 150px;
    width: 150px;
}


.site-list dt p{
    height: 105px;
    padding: 10px 10px 0 20px;
    overflow: hidden;
}
.site-list dt p a{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    height: 80px;
    display: block;
    overflow: hidden;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    font-family: "微软雅黑";
}
.site-list dt p a:hover {
    color: #009fdd;
    text-shadow: none
}
.site-list dt .num {
    height: 34px;
    background: #fff;
    height: 34px;
    border-top: #dadada solid 1px
}

.site-list dt .num a {
    float: left;
    color: #ababab;
    height: 34px;
    line-height: 34px;
    text-align: right;
    cursor: default;
    font-weight: bold;
    width: 38px;
    font-family: Arial
}

.site-list dt .num a.pvCount {
    background: url(images/amount_read.png) no-repeat right;
    padding-right: 34px
}

.site-list dt .num a.commentCount {
    background: url(images/amount_comment.png) no-repeat right 10px;
    padding-right: 25px
}

.site-list dt .num a.markCount {
    background: url(images/amount_mark.png) no-repeat right 10px;
    padding-right: 22px
}

.site-list dd{
    float: right;
    width: 389px;
    border-left: #dadada solid 1px;
    height: 150px;
}
.site-list dd .intro{
    height: 115px;
    overflow: hidden;
}
.site-list dd .intro p {
    color: #666;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
    height: 115px;
    overflow: hidden;
}
.site-list dd .intro  p a {
    color: #666;
    font-size: 12px;
    font-family: "宋体";
    padding: 10px 40px 0 20px;
    height: 96px;
    overflow: hidden;
    display: block;
}
.site-list dd .author {
    overflow: hidden;
    border-top: solid #dadada 1px;
    padding: 4px 20px;
    height: 26px;
    position: relative;
}
.site-list dd  .author li{
    float: left;
    line-height: 26px;
    padding: 0 5px 0 10px;
    font-family: "宋体";
    color: #666;
}
.site-header dd .author li a{
    color: #666;
    word-break: break-all;
    word-wrap: normal;
    font-family: "宋体";
    font-weight: bold;
}

.site-list dd .author li.pic{
    width: 25px;
    height: 25px;
    padding: 0;
}
.site-list dd .author li.pic a img {
    float: left;
    width: 23px;
    height: 23px;
    border: #ccc solid 1px;
    display: inline;
    border-radius: 25px;
}
.site .side .ad{padding:10px;background:#fff;}
.site .side .box {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.site .side .box .hd {
    line-height: 1.2;
    padding: 0 0 6px 0;
    margin: 0 0 5px;
    border-bottom: 1px dotted #d1d1d1
}
.site .side .box .bd{
    line-height: 22px
}

