/**
 * Created by zuosanshao.
 * User: smeite.com
 * Email:zuosanshao@qq.com
 * @description: 
 * @depends: 
 * Includes:
 * Since: 13-6-22  上午10:23
 * ModifyTime : 
 * ModifyContent: 
 * http://www.smeite.com/
 *
 */
/*#J_Page {
    background: url(images/site_bg_lines.png) repeat;
}*/
/* site nav */
 .site-nav{
    background-color: #fff;
 margin: 20px 0;
     position: relative;
     width: 100%;
     height: 200px;
     z-index: 9;
     box-shadow: 0 1px 1px rgba(34, 25, 25, 0.2);
     -moz-box-shadow: 0 1px 1px rgba(34, 25, 25, 0.2);
     -webkit-box-shadow: 0 1px 1px rgba(34, 25, 25, 0.2);
 }
 .site-nav .logo,.site-nav .site-info{
     float: left;
     overflow: hidden;
 }
 .site-nav .logo{
      width: 200px;
     margin-right:10px;
 }
 .site-nav .site-info{
     padding: 10px 19px 10px 10px;
     width:490px;
     height: 180px;
 }
 .site-nav .site-info h3{
     text-align: left;
     font-family: 'MicroSoft Yahei';
     font-size: 16px;
     color: #333;
     line-height: 28px;
     padding-bottom: 5px;
 }
.site-nav .site-info .intro{
    height: 80px;
    width: 490px;
    overflow: hidden;
}
.site-nav .site-info .tags {
    margin-bottom: 5px;
    margin-top: 5px;
}
.site-info .tags label{
    float: left;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}
.site-info .tags li {
    float: left;
    display: inline;
    margin:0 8px 0 0;
    white-space: nowrap
}
.site-info  .tags li a {
    float: left;
    display: block;
    color: #666;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    background: #fff;
    border: 1px solid #e8e8e8;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    max-width: 150px;
    overflow: hidden
}
.site-info .tags li.focus a {
    background: #ffefd1;
    color: #666;
    border: 1px solid #e8e8e8
}
.site-info .tags li.on a {
    background: #5089b9;
    color: #fff
}
.site-info .tags li a:hover {
    text-decoration: none;
    border: 1px solid #ccc
}
.site-info .tags li.focus a:hover {
    border: 1px solid #ccc
}

.site-info .join{
    float: left;
}

.site-info .join .follow{
    float: left;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 15px;
}
.site-info .join .member-num{
    line-height: 24px;
}
.site-info .join .follow-btn{
    width: 80px;
    float: left;
}
.site-info .join .followed-btn{
    float: left;
}

.site-nav .notice{
    float: right;
    border-left: 1px dashed #EFEFEF;
    padding:10px;
    height:180px;
    width:230px;
    overflow: hidden;
 }
.site-nav .notice h3{
    color: #E26;
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 4px;
}



/* site media start */
.site-media{
    background-color: #fff;
    height: 260px;
    padding: 20px 15px;
}
.site-media p{
    text-align: center;
}
.site-media  a.add{
    display: block;
}
.site-media .site-baobei,.site-media .site-pic{
    float: left;
     width: 275px;
    margin-right: 20px;

}
.site-media .site-baobei a.add{
    border: 1px dashed #ccc;
    width:273px ;
    height: 258px;
    background: #fff;
}
.site-media .site-pic{
    float: left;
    width: 275px;
    margin-right: 20px;

}
.site-media .site-pic a.add{
    border: 1px dashed #ccc;
    width:273px ;
    height: 258px;
    background: #fff;
}
.site-media .site-pic img{
    width: 273px;
    height: 258px;
    overflow: hidden;
}

.site-media .site-video{
    float: left;
    width: 360px;
}
.site-media .site-video a.add{
    border: 1px dashed #ccc;
    float: left;
    width: 358px;
    height: 258px;
}
.site-media  a.add:hover{
    border: 1px dashed #333;
}
.site-media .ico-baobei,.site-media .ico-pic,.site-media .ico-video{
    margin-top: 85px;
    height: 22px;
    line-height: 22px;
    padding: 0 0 0 22px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    background: url(images/widget_site.png) no-repeat;
    margin-right: 5px;
}
.site-media .ico-baobei{
    margin-left: 96px;
    height:77px;
    line-height:77px;
    padding-left: 77px;
    background-position: -223px 0px;
}.site-media .ico-pic{
     margin-left: 96px;
    height:80px;
    line-height:80px;
    padding-left: 80px;
    background-position: 0px 0px;
}
.site-media  .ico-video{
    margin-left: 147px;
    height: 65px;
    line-height: 65px;
    padding-left: 64px;
    background-position: -105px -96px;
}
  /* end */
.site-tools{
    background-color: #eee;
    margin: 15px auto;
    padding: 10px 15px;
    height: 80px;
    width: 950px;
}

.site-tools p{
    float: left;
    line-height: 80px;
    width: 60px;
    text-align: left;
}
.site-tools  a.add{
    padding-left: 30px;
    display: block;
    height:80px;
    background: #fff;
}
.site-tools .site-baobei,.site-tools .site-pic,.site-tools .site-video,.site-tools .site-post{
    float: left;
    width:230px;
    margin-right:10px;
}
.site-tools .ico-baobei,.site-tools .ico-pic,.site-tools .ico-video,.site-tools .ico-post{
    margin: 5px 10px;
     float: left;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background: url(images/widget_site.png) no-repeat;
}
.site-tools .ico-baobei{
    height:77px;
    line-height:77px;
    padding-left: 77px;
    background-position: -223px 0px;
}
.site-tools .ico-pic{
     height:80px;
     line-height:80px;
     padding-left: 80px;
     background-position: 0px 0px;
 }
.site-tools  .ico-video{
    margin-top: 15px;
    height: 65px;
    line-height: 65px;
    padding-left: 64px;
    background-position: -105px -96px;
}
.site-tools  .ico-post{
    height: 77px;
    line-height:77px;
    padding-left:77px;
    background-position: -109px 0px;
}
.site-tools .last{
    margin-right: 0;
}
/*site-posts  site-filter*/
.site-filter{
    margin: 20px 0;
    padding: 0;
    position: relative;
}

.site-filter h2 {
    float: left;
    font-size: 25px;
    height: 20px;
    line-height: 20px;
    margin-right: 15px;
    padding: 0 7px;
    display: inline;
}

.site-filter i{
    width: 980px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: url(images/site_dotted.png) repeat-x center
}

.site-filter a {
    float: left;
    margin: 0 10px 0 0;
    background: #ececec;
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    white-space: nowrap;
    color: #808285;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px
}

.site-filter a:hover {
    text-decoration: none;
    color: #fff;
    background: #588C0E
}

.site-filter a.current {
    background: #588C0E;
    color: #fff
}

.filter {
    float: left;
}
.edit{
    float: right;
    padding-right: 15px;
}
/* site share*/
.site-share {
    background: #fff;
    padding: 10px;
    margin-top: 10px
}

.site-share .site-tip {
    float: left;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    margin-right: 10px;
    color: #666
}

.site-share .share {
    padding-top: 6px;
    padding-right: 8px
}


.site-share .ifollow {
    float: left;
    padding: 0 15px;
    height: 30px;
    background: #86b835;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-weight: 400;
    border-radius: 2px;
    display: inline-block;
    margin-right: 15px
}

.site-share .ifollow:hover {
    text-decoration: none
}


/************************************** site-post post list********************************* */
.site-post .bd{
    clear: both;
    margin: 0 auto 50px auto;
    text-align: center;
}
.post-item{
    float: left;
    border: 1px #fff solid;
    display: inline;
    text-align: left;
    position: relative;
    width: 210px;
    padding: 9px;
    background: #fff;
    margin-right: 20px;
    height: 290px;
    overflow: hidden;
}
.post-item .pic{
    width: 210px;
    overflow: hidden;
    text-align: center;
    position: relative;
    background: 0;
}
.post-item .pic img {
    vertical-align: top;
}


.post-item .num {
    position: relative;
    color: #000;
    background-color: #fff;
    margin: 10px auto;
    width: 160px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.post-item .num .view-num {
      float: left;
      padding-left: 25px;
      background: url(images/post-view.png) no-repeat 0 center;
      overflow: hidden;
      width:30px;
  }
.post-item .num .reply-num {
    float: left;
    padding-left: 25px;
    background: url(images/post-comment.png) no-repeat 0 center;
    overflow: hidden;
    width:30px;
}
.post-item .num .like-state {
    width: 50px;
    float:left;
}
.post-item .num a {
    color: #000;
    float: left;
}
.post-item .num .like-state .like-num {
    height: 24px;
    overflow: hidden;
    text-align: left;
    padding-left: 5px;
    position: relative;
}
.post-item .num .like-state .like-num dl {
    position: relative;
}
.post-item .num .like-state .like-num dl dd {
    width: 21px;
    height: 24px;
}
.post-item .num .like-state .like-num dl dd {
    width: 21px;
    height: 24px;
}
.post-item .title{
   text-align: left;
}
.post-item .title a{
    font-size: 16px;
    line-height: 1.1;
    text-align: left;
    color: #666;
    font-weight: bold;
}
.post-item .title a:hover{
    text-decoration: none;
}




.last{
    margin-right: 0;
}




/* post  content*/
.post{

}
.post .post-left{
    float: left;
    width: 180px;
    background-color: #fff;
    margin-right:20px ;
}
.post .post-main{
    float: left;
    width: 578px;
    background-color: #fff;
    padding: 15px 19px;
    border: 1px solid #eee;
    margin-right: 20px;
}
.post .post-right{
    float: left;
    width: 180px;
}