/**
 * Created by zuosanshao.
 * User: smeite.com
 * Email:zuosanshao@qq.com
 * @description: 
 * @depends: 
 * Includes:
 * Since: 13-6-22  上午9:40
 * ModifyTime : 
 * ModifyContent:   for siteEdit.scala.html
 * http://www.smeite.com/
 *
 */
/*#J_Page {
    background: url(images/site_bg_lines.png) repeat;
}*/
.site-edit{
/*    min-height: 500px;*/
    padding: 30px;
    background: white;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.site-edit h2 {
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px dotted #D1D1D1;
    font-size: 18px;
    line-height: 1.2;
}
.col-left{
    float:left;
    width: 540px;
}
.fm-item {
    float: left
}
.fm-item .site-logo{
    clear: both;
    margin-bottom: 5px;
   display: none;
}
.fm-item p {
    padding: 5px 0 0 0;
    color: #999
}

.fm-item .b-input, .intro-txa {
    width: 360px ;
    padding: 2px 12px;
}

.intro-txa {
    height: 150px
}

.fm-item select {
    width: 180px;
    margin-right: 12px
}
.fm-item .fm-radio{
    height: 33px;
    line-height: 33px;
}
.fm-item .uploadImg{position:relative;height:28px;/*padding-bottom:12px;border-bottom:1px dotted #ddd;*/}
.fm-item .upload-cover{width:105px;}
.fm-item .upload-btn{ position:absolute;top:0px;left:0px;filter:alpha(opacity=0);opacity:0;z-index:698;display:block;width:105px;height:28px; cursor:pointer;}

 .fm-item p.fl{
     padding-left: 15px;
 }
 .fm-item .sub-item{
    display: none;
     width: 520px;
     padding: 10px 0;
     background-color: #f5f5f5;
 }
 .sub-item dl {
     float: left;
 }
 .sub-item dl dt{
     float: left;
 }
 .sub-item dl dd{
     margin-top: 5px;
     float: left;
 }
 .sub-item select{
     width: 80px;
 }


 .fm-item .type {
     font-size: 14px;
     display: inline-block;
     padding: 2px 10px;
     margin:5px 15px 5px auto;
     background: #ddd;
     -moz-border-radius: 15px;
     -webkit-border-radius: 15px;
     border-radius: 15px;
     behavior: url(PIE.htc);
 }
.fm-item  .type.active {
    background: #449acd;
    color: #fff;
    border-radius: 15px;
    behavior: url(../js/PIE.htc);
}
.fm-item .type:hover{
text-decoration: none;
    background: #1c82bf;
    color: #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    behavior: url(PIE.htc);

}
 .col-right{
     margin-right: 50px;
     width: 300px;
    float: right;
 }
 .col-right .about {
     border-top: 4px solid #000;
     padding: 20px;
     border-right:1px solid #eee;
     border-left:1px solid #eee;
     border-bottom: 1px solid #eee;
 }
.col-right .about .bd {
    color: #aaa;
    margin-top: 20px;
}
#J_GuangEditorIframe{
    height: 250px;
}

/* 主题图片上传 */
/* 头像上传*/
.imgareaselect-border1 {
    background: url(images/border-v.gif) repeat-y left top
}

.imgareaselect-border2 {
    background: url(images/border-h.gif) repeat-x left top
}

.imgareaselect-border3 {
    background: url(images/border-v.gif) repeat-y right top
}

.imgareaselect-border4 {
    background: url(images/border-h.gif) repeat-x left bottom
}

.imgareaselect-border1, .imgareaselect-border2, .imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity = 50);
    opacity: .5
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity = 50);
    opacity: .5
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity = 50);
    opacity: .5
}

.photo-row {
    margin: 0 auto;
    width: 520px;
    position: relative
}

.photo-row .upload-cover {
    width: 92px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    cursor: pointer
}

.photo-row .upload-btn {
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
    z-index: 698;
    display: block;
    width: 92px;
    height: 28px;
    cursor: pointer
}

.photo-box {
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    border: 1px solid #DDD;
    overflow: hidden
}

.photo-box span {
    _height: 100%;
    _writing-mode: tb-rl;
    _vertical-align: middle
}

.photo-box img {
    vertical-align: middle;
    cursor: pointer
}

.photo-dialog {
    width: 450px
}

.photo-dialog form {
    margin-left: 40px
}

.post-edit-left{
    margin-top: 30px;
    background-color: #fff;
    width: 660px;
    margin-right: 30px;
    float: left;
}

.post-edit-left .post-edit-meta{
    background-color: #f1fbf0;
    padding: 20px 30px 0 30px;
}
.post-edit-meta .form-row{
    margin-bottom: 5px;
}
.post-edit-left .post-edit-content{
      background-color: #fff;
    margin-bottom: 20px;
}

.post-edit-left h2{
    padding: 20px;
    font-size: 18px;
    line-height: 1.2;
}
.post-edit-left .post-tags{
    margin-bottom: 0;
}
.post-edit-left .submit{
    float: right;
    margin-right: 20px;
}

.post-edit-right{
    width: 290px;
    float: left;
}
.post-edit-right .post-intro{
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
    border-top: 4px solid #000;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.post-edit-right .post-intro  .bd {
    color: #aaa;
    margin-top: 20px;
}