/*
 * 样式文件
 * User: Administrator
 * Date: 12-7-31  
 * Time: 下午8:50
 * 维护：zuosanshao@qq.com
*/
#content {
    position: relative;
    z-index: 3;
}
.sites .mod-header {overflow: hidden;padding: 35px 180px}
.sites .mod-header h1 {font-size: 100px;color: #c33;display: inline;float: left;margin-bottom: 0;}
.sites .mod-header p {font-size: 60px;line-height: 53px;overflow: hidden;height: 128px;display: inline;float: left;}
.sites .mod-header em {font-size: 18px;font-weight: normal;color: white;background: black;margin-left: 7px;padding: 2px;}

.sites .row{

}
.sites  .desc {
    font-size: 12px;
    height: 90px;
    margin-bottom: 30px;
    overflow: hidden;
    color: #999;
}
.sites .tri {position: absolute;top: 50%;width: 0;height: 0;margin-top: -10px;border-style: solid;font-size: 0;}
.sites .coll {display: inline;float: left;margin-left: 30px;padding: 20px 39px 100px 0;border-right: 1px dotted #999;}
.sites .coll .tri {right: -10px;border-color: #f4f4f4 #f4f4f4 #f4f4f4 white;border-width: 10px 0px 10px 10px;}
.sites .colr {display: inline;float: right;padding-top: 25px;margin-right: 30px;}
.sites .colr .tri {left: -10px;border-color: #f4f4f4 white #f4f4f4 #f4f4f4;border-width: 10px 10px 10px 0px;}
.sites .site {position: relative;width: 420px;height: 180px;margin-bottom: 40px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;-webkit-site-shadow: -2px 4px 6px -4px #999;-moz-site-shadow: -2px 4px 6px -4px #999;site-shadow: -2px 4px 6px -4px #999;background: white;}
.sites .site .face {position: relative;display: inline;float: left;width: 160px;height: 160px;margin: 10px 20px 10px 10px;overflow: hidden;}
.sites .site .face img {width: 160px;height: 160px;}
.sites .site .site-info {display: inline;float: left;margin: 10px;}
.sites .site .title, .sites .site .artist, .sites .site .desc, .sites .site .genre {display: block;width: 190px;overflow: hidden;}
.sites .site .desc, .sites .site .genre {color: #999;}
.sites .site .title {font-size: 18px;color: #333;}
.sites .site .artist {line-height: 40px;}
.sites .site .desc {font-size: 12px;margin: 0;}
.sites .site .status, .sites .site .favor {position: absolute;bottom: 20px;}
.sites .site .status {width: 24px;height: 24px;display: -moz-inline-stack;display: inline-block;display: inline;vertical-align: middle;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;cursor: pointer;float: left;}
.sites .site .status i {width: 24px;height: 24px;background: url("//mu4.bdstatic.com/static/i/uYvQyDA2.png") no-repeat -408px 0px;_background-image: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mu3.bdstatic.com/static/img/widget/playlist/play.png",sizingMethod="crop");margin: 0px auto 0;display: block;}
.sites .site .status:hover {*zoom: 1;}
.sites .site .status:hover i {width: 24px;height: 24px;background: url("//mu4.bdstatic.com/static/i/uYvQyDA2.png") no-repeat -360px 0px;_background-image: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mu4.bdstatic.com/static/img/widget/playlist/play_on.png",sizingMethod="crop");}
.sites .site .favor {right: 30px;width: 24px;height: 24px;}
.sites .site .favor i {display: block;display: -moz-inline-stack;display: inline-block;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;width: 18px;height: 15px;background: url("//mu4.bdstatic.com/static/i/Im5WDfDO.png") no-repeat -1620px 0px;overflow: hidden;overflow: hidden;_background-image: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mu3.bdstatic.com/static/i/lYM3Cq1b.png",sizingMethod="crop");margin-top: 5px;}
.sites .site .favor.on i {display: -moz-inline-stack;display: inline-block;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;width: 18px;height: 15px;background: url("//mu4.bdstatic.com/static/i/Im5WDfDO.png") no-repeat -1548px -24px;overflow: hidden;_background-image: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mu3.bdstatic.com/static/i/XjrIkjei.png",sizingMethod="crop");}
