 #J_Page{
     background-color: #F9F9EF;
 }
.box-shadow {
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2)
}

/* nav wrap */
.nav-wrap {
    margin-top: 20px;
    height: auto;
    position: relative
}

.brand-nav {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 9;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(34, 25, 25, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(34, 25, 25, 0.2)
}

.brand-nav .nav-bar {
    height: 47px;
    background: #fff;
    border-top: 3px solid #dedede;
    position: relative
}

.brand-nav .nav-bar li {
    float: left;
    margin-top: -3px;
    padding: 10px 0 7px;
    position: relative
}

.brand-nav .nav-bar li .nav-item {
    height: 33px;
    line-height: 16px;
    padding: 0 25px;
    float: left;
    text-align: center;
    border-right: 1px dotted #dedede;
    font-weight: bold
}

.brand-nav .nav-bar li.h .nav-item {
    padding: 0 15px
}

.brand-nav .nav-bar li.on {
    background: url(images/on.png) repeat-x
}

.brand-nav .nav-bar li a {
    float: left;
    color: #555;
    font-weight: bold
}

.brand-nav .nav-bar li a.trait {
    color: #e26;
    background: url(images/trait.png) right 22px no-repeat;
    padding-right: 10px
}

.brand-nav .nav-bar li a.trait:hover {
    color: #e26
}

.brand-nav .nav-bar li h2 a {
    color: #333
}

.brand-nav .nav-bar li a:hover {
  /*  color: #5AD;*/
    text-decoration: none
}

.brand-nav .nav-bar i {
    position: absolute;
    z-index: 9;
    left: 0;
    top: -3px;
    width: 100%;
    height: 1px;
    opacity: .1;
    filter: alpha(opacity = 10);
    background: #000;
    *display: none
}

.brand-nav .nav-bar .nav-item {
    position: relative
}

.brand-nav .nav-item .contribute-txt {
    text-indent: -999px;
    overflow: hidden;
    z-index: 99;
    height: 25px;
    width: 59px;
    position: absolute;
    top: -25px;
    right: -10px;
    background: url(images/contribute-title.png)
}

.brand-nav .nav-item .a {
    display: block;
    height: 25px;
    width: 59px
}

.brand-nav .nav-bar .nav-item h2 {
    font-size: 18px;
    font-weight: normal;
    float: left;
    line-height: 33px
}

.brand-nav .nav-bar .nav-item h2 a {
    float: left;
    line-height: 33px;
    font-family: 'Microsoft YaHei', '榛戜綋';
    font-weight: 400;
    padding-right: 15px
}

.brand-nav .nav-bar .nav-item h2 a:hover {
    float: left;
    line-height: 33px
}

.brand-nav .more-brand {
    position: absolute;
    right: 10px;
    top: 17px;
    color: #666
}

.brand-nav .nav-bar li .nav-item a.follow {
    float: left;
    width: 56px;
    height: 30px;
    background: #86b835;
    _margin-right: 20px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-weight: 400;
    border-radius: 5px;
    display: inline-block
}
.brand-nav .nav-bar li .nav-item a.followed {
    float: left;
    width: 56px;
    height: 30px;
    background: #f3f3f3;
    _margin-right: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    border-radius: 5px;
    display: inline-block
}
.brand-nav .nav-bar li .nav-item a.btn-share{
    text-align: left;
    font-weight: normal;
}
.brand-nav .nav-bar li .nav-item a.contribute-number {
    background-image: url(images/contribute-number.png);
    float: left;
    width: 100px;
    height: 25px;
    margin-left: 10px;
    text-align: center;
    color: #fff;
    line-height: 25px;
    font-weight: 400;
    display: inline-block
}
.pos-l-txt {
    position: absolute;
    right: 10px;
    top: 19px
}

/*nav wrap  user-tool */
.user-tool {
    background-color: #fff;
    margin-bottom: 15px
}

.user-tool a:hover {
    cursor: pointer
}

.upload-dialog form {
    position: relative;
    float: left;
    width: 180px;
    height: 40px;
    overflow: hidden;
    margin-left: 90px;
    display: inline
}

.upload-dialog form .file-input {
    background-color: red;
    cursor: pointer;
    height: 30px;
    left: -30px;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    position: absolute;
    top: 10px;
    visibility: visible;
    color: #fff
}

.upload-dialog p {
    text-align: center
}

.upload-dialog .bbl-btn {
    width: 180px;
    margin-top: 10px
}

.upload-dialog .content {
    padding-top: 35px
}

.user-tool-nav {
    padding: 10px 20px;
    background-color: #eee
}

.user-tool-nav label {
    float: left
}

.user-tool-nav a {
    margin-left: 10px
}

.user-tool-nav .fr {
    padding-top: 10px
}

.user-tool-nav .contribute {
    float: left;
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    width: 107px;
    text-align: center;
    color: #fff;
    background: url(images/contribute.png) no-repeat
}

.user-tool-nav .ipad-mini {
    line-height: 30px;
    color: red
}

.user-tool-nav .ipad-mini a {
    color: red;
    text-decoration: none
}

.user-tool-nav a.del {
    color: #333
}

.user-tool-nav .i-split {
    border-right: 1px solid #ddd;
    height: 30px;
    float: left;
    margin-left: 10px
}

.user-theme-style {
    padding: 15px 10px;
    display: none
}

.user-theme-style label {
    margin-right: 16px;
    float: left;
    line-height: 20px
}

.user-theme-style label .height-input {
    width: 40px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #ddd;
    margin-right: 5px;
    font-size: 12px
}

.user-theme-style label.color span, .user-theme-style label.color a, .user-theme-style label.color a i {
    float: left
}

.user-theme-style label.color a {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid #ddd
}

.user-theme-style label.color a i {
    margin: 2px;
    width: 10px;
    height: 10px;
    background-color: #333
}

.header-style label.color a {
    background-color: #fff
}

.page-style label.color a {
    background-color: #f9f9ef
}

.user-theme-style dl {
    float: left;
    padding: 5px 10px;
    margin-right: 10px;
    *display: inline
}

.user-theme-style dl dt {
    font-weight: bolder;
    padding-bottom: 8px
}

.user-theme-style dl dd {
    margin-top: 8px;
    overflow: hidden;
    clear: both;
    height: 25px
}

.user-theme-style dl dd strong {
    float: left;
    padding-right: 15px;
    line-height: 20px
}

.user-theme-style dl dd a.del {
    line-height: 22px
}

.user-theme-style dl dd label input {
    margin-right: 3px
}

.user-theme-style .theme-pic span {
    float: left;
    margin-top: 2px
}

.user-theme-style .oper {
    padding: 6px 0 0 15px;
    float: right
}

.user-theme-style .oper a {
    margin-right: 10px
}

#J_UserProductUrl {
    width: 290px
}

#J_ShareGoodsTipD {
    width: 376px;
    z-index: 990;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

#J_ShareGoodsTipD .content {
    padding: 10px 0 5px 10px
}

.sg-text-tip {
    display: none;
    line-height: 1.1;
    padding-bottom: 5px
}

.farbtastic {
    position: relative
}

.farbtastic * {
    position: absolute;
    cursor: crosshair
}

.farbtastic, .farbtastic .wheel {
    width: 195px;
    height: 195px;
    background-color: #fff
}

.farbtastic .color, .farbtastic .overlay {
    top: 47px;
    left: 47px;
    width: 101px;
    height: 101px
}

.farbtastic .wheel {
    background: url(images/wheel.png) no-repeat;
    width: 195px;
    height: 195px
}

.farbtastic .overlay {
    background: url(images/mask.png) no-repeat
}

.farbtastic .marker {
    width: 17px;
    height: 17px;
    overflow: hidden;
    background: url(images/marker.png) no-repeat;
    margin: -8px 0 0 -8px
}

.cp-dialog {
    width: 225px
}

.cp-dialog input {
    width: 185px;
    margin-bottom: 10px;
    text-align: center
}

.cp-dialog .content {
    padding-top: 30px
}

.upload-con {
    display: none
}


.ilike-del {
    top: 5px;
    right: 5px
}
.goods-wall {
    min-height: 250px
}

/*side tags*/



/*  theme info */
.theme-info {
    background: #fbfbfb;
    padding: 15px;
    margin: 0 auto 20px;
}
.theme-info .title{
    font-family: 'MicroSoft Yahei';
    font-size: 18px;
    color: #666;
    line-height: 28px;
}
 .discusses{
    width: 450px;
    float: left;
    padding-right: 20px;
    border-right: 1px solid #ddd;
}

 .discusses .discusses-wrap {
    padding: 10px 0 5px 0;
    border-bottom: 1px dotted #ececec
}


 /*  discusses */
.theme-info .loves{
    width: 200px;
    float: left;
    padding: 0 20px;
    border-right: 1px solid #ddd;
}
.loves a.follow {
    float: left;
    width:100px;
    height: 30px;
    background: #86b835;
    _margin-right: 20px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-weight: 400;
    border-radius: 5px;
    display: inline-block
}
.loves a.followed {
    float: left;
    width: 100px;
    height: 30px;
    background: #f3f3f3;
    _margin-right: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    border-radius: 5px;
    display: inline-block
}
.loves .theme-follow{
    height: 40px;
    line-height: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}
.loves .share-link{
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.loves .theme-lovers li{
   width: 50px;
    height: 50px;
    float: left;
}

.theme-info .author{
    width: 218px;
    padding-left: 20px;
    float: left;
}
.author .title span{
    font-size: 12px;
    font-weight: normal;
}
 .author .pic {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden
}
 .author .info {
    line-height: 22px;
    padding-top: 10px;
    overflow: hidden
}
 .author .info .pic-text {
    float: left;
    padding-left: 8px;
    width: 150px;
    height: 50px;
    overflow: hidden
}
 .author .info .txt-title {
    padding: 3px 0;
    line-height: 16px;
    height: 16px;
    overflow: hidden
}
 .author .info em {
    max-width: 80px;
    font-size: 14px
}
 .author .info a {
    color: #5ad;
    display: block;
    float: left;
    max-width: 100px
}
 .author .info a:hover {
    color: #5ad;
    text-decoration: underline
}

.author .info p {
    line-height: 26px
}
 .author .message {
    line-height: 26px;
    display: block
}

.author .message p {
    line-height: 26px
}
.author .tags {
    margin-bottom: 5px;
    margin-top: 20px;
}
.author .tags ul {
    width: 208px
}
.author .tags li {
    float: left;
    display: inline;
    margin: 8px 8px 0 0;
    white-space: nowrap
}

.author  .tags li a {
    float: left;
    display: block;
    color: #666;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    background: #fff;
    border: 1px solid #e8e8e8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-width: 150px;
    overflow: hidden
}

.author .tags li.focus a {
    background: #ffefd1;
    color: #666;
    border: 1px solid #e8e8e8
}

.author .tags li.on a {
    background: #5089b9;
    color: #fff
}

.author .tags li a:hover {
    text-decoration: none;
    border: 1px solid #ccc
}

.author .tags li.focus a:hover {
    border: 1px solid #ccc
}

.author .tags a.tag {
    color: #666;
    margin-right: 5px;
    float: none;
    background: #fff;
    padding: 0
}

/* comment */
 .comment{
     margin-bottom: 30px;
 }

 .comment .comment-box {
     text-align: left;
 }
 .comment .comment-title {
     text-align: right;
     color: #aaa;
     padding: 0 20px;
 }
 .comment .comment-list {
     background: 0;
     margin: 0 20px 30px 20px;
     padding-top: 15px;
 }
 .comment-list li {
     padding-left: 60px;
     margin-bottom: 10px;
     position: relative;
     overflow: hidden;
     zoom: 1;
 }
 .comment-list li .share-avt {
     width: 38px;
     height: 38px;
     overflow: hidden;
     position: absolute;
     left: 0;
     top: 0;
 }
 .comment-list li .arrow {
     float: left;
     position: absolute;
     height: 14px;
     overflow: hidden;
     background: url(images/left-arrow.png) no-repeat 0 0;
     width: 10px;
     left: 51px;
     top: 13px;
 }
 .comment-list .share-user {
     border: 1px solid #e5e5e5;
     background: #fff;
     padding: 15px 15px 5px 15px;
     zoom: 1;
 }
 .comment-list .share-user h3 {
     margin-bottom: 12px;
     line-height: 16px;
 }
 .share-user h3 a {
     font-size: 14px;
     color: #000;
 }
 .share-user h3 span{
     margin-left: 15px;
     color: #999;
     font-size:12px;
     font-weight: normal;
 }
 .share-user .user-title {
     color: #aaa;
     font-size: 12px;
     display: inline;
     margin-left: 10px;
     word-wrap: break-word;
 }
 .comment-list .share-user p.content {
     color: #444;
     word-wrap: break-word;
 }
 .comment-list .share-user p.quote-content {
     color: #444;
     background-color: #efefef;
     word-wrap: break-word;
 }
 .comment-list .share-user .pic {
     background: 0;
     padding: 10px 0;
     width: 436px;
     overflow: hidden;
 }
 .comment-list .share-user .pic img {
     max-width: 436px;
 }
 .comment-list .item-doing {
     text-align: right;
     color: #d1d1d1;
     padding: 5px 0;
 }
 .comment-list .item-doing .reply {
     margin-right: 15px;
 }
 .comment-list .post textarea {
     width: 310px;
     height: 60px;
     margin-bottom: 10px;
 }
 .comment-list .post-quote {
     margin-top: 8px
 }

 .comment-list .post-quote blockquote {
     padding: 8px 10px;
     margin: 0 0 8px 0;
     background-color: #fafafa;
     position: relative;
     line-height: 24px
 }

 .comment-list .post-quote blockquote .close {
     position: absolute;
     right: 15px;
     top: 10px
 }


