/**
 * Created by zuosanshao.
 * Date: 12-9-18
 * Time: 下午3:02
 * 维护人员:zuosanshao@qq.com
 */

.main-box {
    width: 950px;
    margin: 20px auto 25px;
    background: #fff;
    padding: 15px;
}

.flash {
    width: 685px;
    height: 250px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
}

.flash  .items .item {
    width: 685px;
    height: 250px;
    position: relative;
}

.flash  .items .item a {
    cursor: pointer;
    color: #333;
}

.flash .navi {
    z-index: 99;
    position: absolute;
    right: 20px;
    bottom: 5px;
    width: 100px;
    overflow:hidden; }

.flash .navi li {
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
    display: inline;
    background-color: #ddd;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px
}

.flash .navi li.active  {
    background: #e26;
}
/*
   flash end
*/

.bulletin {
     padding-left: 20px;
     width:230px;
     height:250px;
     background-color: #f9f9f9;
 }
.bulletin h3{
    text-align: center;
    font-size: 16px;
    color: #333;
}
.bulletin p{
    padding: 10px 0;
    text-align: center;
}
.bulletin .edit{
    font-size: 20px;
    color: #E26;
    font-weight: bolder;
}

.bulletin .create-theme {
    display: inline-block;
    width:100px;
    height: 30px;
    border: 1px solid #7ab121;
    background-color: #86b835;
    border-radius: 3px;
    text-align: center;
    line-height:30px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.bulletin .create-theme:hover {
    text-decoration: none;
    background: #86b835 url(images/button.png) -5px -611px;
}

.bulletin .create-theme:active {
    text-decoration: none;
    background: #86b835 url(images/button.png) -5px -641px;
}


/* sort for gallery page  */
.filter-wrap {
    margin: 20px 0;
    padding: 0;
    position: relative;
}

.filter-wrap h2 {
    float: left;
    font-size: 25px;
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    display: inline;
}

.filter-wrap i {
    width: 980px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: url(images/site_dotted.png) repeat-x center
}

.theme-filter {
    float: left;
    padding-left: 15px
}

.theme-filter a {
    float: left;
    margin: 0 10px 0 0;
    background: #ececec;
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
    white-space: nowrap;
    color: #808285;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px
}

.theme-filter a:hover {
    text-decoration: none;
    color: #fff;
    background: #588C0E
}

.theme-filter a.current {
    background: #588C0E;
    color: #fff
}

.filter-wrap #bdshare {
    position: absolute;
    right: 0;
    top: -5px;
    background-color: #fff
}
/* end */
.category {width:950px;background:#fff;padding:15px; margin: 0 auto 20px;}
.category .group{overflow: hidden;}
.category .hd{ margin-bottom:6px;overflow:hidden;padding: 0 10px}
.category .hd h2{ font-size:16px;height:28px;line-height:28px;float:left;color:#666;}
.category .hd h2 a, .hd h2 a{color:#666;text-decoration:none}
.category .hd h3{font-size: 12px;height:28px;line-height:28px;float:left;color:#e26;}
.category .hd h3 a{ font-weight: normal}
.category .hd h3 a:hover{ color:#e26}
.category .hd h3 span{font-weight: normal}
.category .hd .more{float:right;display:block;font-size:12px;font-weight:700;line-height:28px;}
.category .hd .more a{color:#333;text-decoration:none;}
.category .hd .more a.on{display:block;}
.category .group{padding-left: 10px;overflow: hidden;}

.category .group .item {
    float: left;
    *display: inline;
    width: 210px;
    margin-right: 30px;
    padding: 0 0 10px 0;
    background-color: #fff;
    overflow: hidden
}

.category  .item  .pic {
    display: block;
    width: 210px;
    overflow: hidden
}

.category  .item  a.pic:hover {
    text-decoration: none
}

.category  .item  .pic .b-img {
    width: 210px;
    height: 210px;
    float: left
}

.category  .item  .pic .s-img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 1px;
    opacity: 0.8;
    filter: alpha(opacity =0.8)
    background: #ccc
}
.category  .item  .pic .hover {
    opacity: 1;
    filter: alpha(opacity = 100)
}
.category  .item  h3 {
    padding-top: 15px;
    font-size: 16px;
    line-height: 1.1;
    color: #666
}

.category  .item  h3 a, .category  .item  h3 a:hover {
    text-decoration: none;
    color: #666
}

.category  .item  .title {
    color: #333
}

.category  .item  .title a {
    text-decoration: none;
    color: #333 !important
}


.category  .item  .info .editor-link, .category  .item  .info .editor-link:hover {
    color: #666
}

.count-like, .count-cmt {
    padding: 0 0 0 18px;
    line-height: 18px;
    font-size: 12px;
    color: #BBB;
    background: url(images/like-icon2.png) 1px -14px no-repeat
}

.category  .item  .info {
    width: 210px;
    line-height: 24px;
    margin: 10px 0;
    color: #999;
    height: 72px;
    overflow: hidden
}

.category  .item  .follow {
    height: 24px;
    width: 53px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    line-height: 24px;
    color: #fff;
    background-color:#86b835;
    border: 0;
}
.category  .item  .followed {
    height: 24px;
    width: 53px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    line-height: 24px;
    color: #999;
    background-color:#f3f3f3;
    border: 0;
}


.category  .item  a.on {
    height: 24px;
    width: 53px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    line-height: 24px;
    background: #86b835;
    border: 0;
    color: #fff;
    text-decoration: none
}



.category  .item  .followed-btn {
    cursor: default;
    height: 24px;
    float: left;
    line-height: 24px;
    color: #999;
    background: #f2f2f2;
    border-radius: 3px;
    display: block;
    padding: 0 6px;
    border: 0
}

.category  .item  .follow-likes {
    color: #666;
    text-decoration: none
}

.category  .item :hover .follow-likes {
    color: #86b835;
    text-decoration: none
}

.category  .item  .followed-btn a {
    color: #666;
    text-decoration: none
}

.category  .item  span.mete {
    color: #999;
    padding-top: 5px;
    display: inline-block
}
.category .last {
    margin-right: 0 !important
}


