/**
 * Created by zuosanshao.
 * Date: 12-9-19
 * Time: 上午10:02
 * 维护人员:zuosanshao@qq.com
 */
html {
    overflow: auto
}

.user-main {
    float: left;
    width: 730px
}
.ad-banner{
    margin-bottom: 15px;
    width: 730px;
    overflow: hidden;
}
.user-side{
    float: right;
    width: 230px;
}


/*user common.global css style*/
/*user nav start*/
.u-nav {
    margin-top:20px;
    margin-bottom: 12px
}

.u-nav ul {
    height: 50px;
    background: #fff;
    border-top: 3px solid #dedede;
    position: relative
}

.u-nav ul li {
    float: left;
    margin-top: -3px;
    padding-top: 10px
}

.u-nav ul li a, .u-nav ul li b {
    color: #555;
    text-align: center;
    height: 33px;
    width:68px;
    padding: 0 20px;
    line-height: 16px;
    display: inline-block;
    border-right: 1px dotted #dedede;
    font-weight: bold
}

.u-nav ul li a:hover {
    color: #5ad;
    text-decoration: none
}

.u-nav ul li.last a, .u-nav ul li.last b {
    border-right: 0;
    padding: 0 10px;
    width: 65px;
}

.u-nav ul li.user {
    position: relative
}

.u-nav ul li.user a {
    padding: 0 20px 0 55px;
    width: 272px;
    font-size: 20px;
    color: #333;
    line-height: 33px;
    font-weight: normal;
    text-align: left;
    overflow: hidden
}

.u-nav ul li.user a img {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 40px;
    height: 40px
}

.u-nav ul li.cur {
    background: url(images/on.png) repeat-x top
}

.u-nav ul i {
    position: absolute;
    z-index: 9;
    left: 0;
    top: -3px;
    width: 100%;
    height: 1px;
    opacity: .1;
    filter: alpha(opacity = 10);
    background: #000;
    _display: none
}

.u-nav ul li.trait a {
    color: #e26;
    background: url(images/trait.png) 60px 22px no-repeat
}

.u-nav ul li.trait a:hover {
    color: #e26
}
/*user nav end*/
.main{
    background: #fff;
    margin-bottom: 12px;
    padding-bottom: 16px
}
.main-title{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #ECECEC;
}
 .main-title h2 {
    font-size: 12px;
    float: left;
    color: #666
}

 .main-title h2 span{
    color: #666;
    font-size: 12px;
    font-weight: normal
}

 .main-title h2 a {
    color: #0b718c;
    font-size: 12px;
    font-weight: normal
}
/* user main 下的 main 效果*/


/*user 宝贝 list start*/
.goods-list .goods-item{
    margin-top: 15px;
    margin-right:0;
    height: 330px;
}
.goods-item .comment .user-list .share-user .info{
    margin-left: 0;
}

/*user goods page start*/

/*user 主题 list */
.theme-list {
    margin-top: 20px
}

.theme-list .theme-item {
    float: left;
    margin: 0 5px 20px 0;
    width: 210px;
    padding: 10px;
    background: #fff;
    position: relative
}

.theme-list .theme-item h3 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-family: "微软雅黑","宋体";
    font-weight: normal
}

.theme-list .theme-item h3 a {
    color: #666
}

.theme-list .theme-item h3 a:hover {
    color: #666;
    text-decoration: none
}


.theme-list .theme-item .theme-pic a {
    display: block;
    background: #FFF url(images/bg-photo.gif) repeat;
    height: 100%
}
.theme-list .theme-item .pic .b-img {
    width: 210px;
    height: 210px;
    background: #efefef;
    float: left
}

.theme-list .theme-item .pic .s-img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 1px;
    opacity: .5;
    filter: alpha(opacity = 50);
    background: #ccc
}
.theme-list .theme-item .pic .hover {
    opacity: 1;
    filter: alpha(opacity = 100)
}



.theme-list .theme-item .theme-state {
    height: 24px;
    line-height: 24px
}

.theme-list .theme-item .theme-state span {
    color: #999
}

.theme-list .last {
    margin-right: 0
}

.theme-item .ilike-del {
    top: 5px;
    right: 5px;
}
/*theme end*/

/*user 小镇 list */
.site-list {
    margin-top: 20px
}

.site-list .site-item {
    float: left;
    margin: 0 5px 20px 0;
    width: 210px;
    padding: 10px;
    background: #fff;
    position: relative
}

.site-list .site-item h3 {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-family: "微软雅黑","宋体";
    font-weight: normal
}

.site-list .site-item h3 a {
    color: #666
}

.site-list .site-item h3 a:hover {
    color: #666;
    text-decoration: none
}


.site-list .site-item .site-pic a {
    display: block;
    background: #FFF url(images/bg-photo.gif) repeat;
    height: 100%
}
.site-list .site-item .pic img {
    width: 210px;
    height: 210px;
    background: #efefef;
    float: left
}


.site-list .site-item .pic .hover {
    opacity: 1;
    filter: alpha(opacity = 100)
}


.site-list .site-item .site-state {
    height: 24px;
    line-height: 24px
}

.site-list .site-item .site-state span {
    color: #999
}

.site-list .last {
    margin-right: 0
}

.site-item .ilike-del {
    top: 5px;
    right: 5px;
}


/*side start*/

.user-side .title {
    font-weight: bold;
    padding: 15px 0 10px 0;
    line-height: 16px;
    height: 16px;
    border-bottom: 1px dotted #ececec
}

.user-side .title .all-follows {
    float: right;
    font-weight: normal
}

.user-side .ss {
    background: #fff;
    margin-bottom: 12px
}
.user-side .rw {
    line-height: inherit
}



/* home aside user-tags*/
.user-tags {
    padding-bottom: 16px
}

.user-tags ul {
    display: block;
    width: 200px
}

.user-tags li {
    float: left;
    margin: 8px 8px 0 0;
    white-space: nowrap;
    width: auto
}

.user-tags li a {
    float: left;
    display: block;
    color: #666;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    background: #fff;
    border: 1px solid #e8e8e8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-width: 198px;
    _width: expression(this.scrollWidth>180 ? "180px":(this.scrollWidth < 1? "1px":"auto"))
}

.user-tags li.focus a {
    background: #ffefd1;
    color: #666;
    border: 1px solid #e8e8e8
}

.user-tags li.on a {
    background: #5089b9;
    color: #fff
}

.user-tags li a:hover {
    text-decoration: none;
    border: 1px solid #ccc
}

.user-tags li.focus a:hover {
    border: 1px solid #ccc
}
/*标签 end*/


/*fans main */
.fans-list {
    padding: 0 15px;
    background: #fff
}

.fans-search {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    color: #666;
    font-weight: bold
}

.fans-list .section {
    padding: 15px 0;
    background: #fff;
    cursor: default;
    position: relative;
    border-bottom: 1px dotted #ececec
}

.fans-list .section .user-pic {
    width: 50px;
    float: left
}

.fans-list .section .user-info {
    margin-left: 60px;
    padding-right: 110px;
    height: 50px
}

.fans-list .section .user-intro {
    line-height: 25px
}

.fans-list .section .user-intro a {
    font-size: 14px
}

.fans-list .section .user-data  {
    color: #999;
    line-height: 25px;
}

.fans-list .section .follow {
    width: 110px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 15px
}

.fans-list .section .remove-fans {
    display: none;
    padding-top: 8px;
    color: #666;
    white-space: nowrap
}

.fans-list .section:hover .remove-fans {
    display: inline-block
}
/*use fans page 左侧 list*/
.interest {
    padding-bottom: 10px
}

.interPer {
    padding-top: 6px
}

.interPer li {
    height: 50px;
    padding: 6px 0
}

.interPer li .user-pic {
    float: left
}

.interPer li .user-info {
    padding-left: 60px
}

.interPer li .user-info p {
    line-height: 16px;
    color: #999
}

.interPer li .user-info .username {
    line-height: 14px;
    display: block
}

.interPer li .user-info .followed-btn {
    float: left
}

/*浏览最多的宝贝*/
.interGoods {
    padding-top: 6px
}

.interGoods li {
    height: 80px;
    padding: 6px 0;

}

.interGoods li .goods-pic {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    overflow: hidden;
}

.interGoods li .goods-info {
   float: left;
    width: 110px;
    overflow: hidden;
}

.interGoods li .goods-info p {
    line-height: 20px;

}

.interGoods li .goods-info .name {
    line-height: 14px;
    display: block
}
.interGoods li .goods-info p  span{
    color: #e26;
    font-weight: bold;
}
/*use follow page side 你可能感兴趣的人*/
.follow-list {
    padding: 0 15px;
    background: #fff
}

.follow-search {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    color: #666;
    font-weight: bold
}

.follow-list .section {
    padding: 15px 0;
    cursor: default;
    border-bottom: 1px dotted #ececec;
    position: relative
}

.follow-list .section .user-pic {
    width: 50px;
    float: left
}

.follow-list .section .user-info {
    margin-left: 60px;
    padding-right: 100px;
    height: 50px
}

.follow-list .section .user-intro {
    line-height: 25px
}

.follow-list .section .user-intro a {
    font-size: 14px
}

.follow-list .section .follow {
    width: 110px;
    position: absolute;
    right: 0;
    top: 15px;
    text-align: right
}

.follow-list .section .remove-follow {
    display: none;
    padding-top: 5px;
    color: #666
}

.follow-list .section:hover .remove-follow {
    display: inline-block
}
/*user follow main list end*/

/*user square discuss*/
.discuss-con {
   /* padding: 0 15px 15px;*/
    background: #fff
}

.discuss-title {
    padding: 10px 0;
    border-bottom: 1px dotted #d1d1d1
}

.discuss-title .reply {
    float: left;
    width: 95px
}

.discuss-title .topic {
    float: left;
    width: 505px
}

.discuss-title .author {
    float: left;
    width: 100px
}

.discuss-list li {
    border-bottom: 1px dotted #d1d1d1;
    border-left:none;
    border-right: none;
    border-top: none;
    padding: 10px 0;
    line-height: 20px;

}

.discuss-list .col-left {
    float: left;
    width: 100px;
    line-height: 1.4
}

.col-left .re-count {
    font-size: 16px;
    color: #666
}

.col-left .u-reply {
    color: #666;
    display: block
}

.col-left .u-reply span {
    max-width: 65px;
    _width: 65px
}

.discuss-list .col-right {
    float: left;
    width: 600px
}

.topic-row {
    margin-bottom: 10px
}

.topic-row .col-title {
    float: left;
    width: 470px;
    word-wrap: break-word;
    word-break: break-word
}

.topic-row .col-title .topic-title {
    font-size: 14px;
    color: #eee
}



.topic-row .col-title p {
    color: #999
}

.topic-row .col-author {
    float: right;
    width: 100px
}

.topic-row .col-author dt {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 10px 0 0;
    _margin: 0 7px 0 0;
    overflow: hidden
}

.topic-row .col-author dd {
    overflow: hidden;
    zoom: 1
}

.topic-row .col-author .name span {
    line-height: 18px;
    max-width: 80px;
    _width: 80px;
    color: #666
}

.topic-preview li {
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
    padding: 0;
    float: left;
    display: inline;
    border: 0;
    overflow: hidden
}

.topic-preview img {
    max-width: 130px;
    max-height: 60px;
    _width: 130px;
    _height: 60px;

}

.topic-preview .video-play {
    display: inline-block;
    width: 76px;
    height: 27px;
    margin: 18px 0 0 -103px;
    background: url(images/video-play.png) 0 0 no-repeat
}

.topic-preview .video-play:hover {
    background-position: 0 -33px
}

.topic-image, .topic-video {
    padding: 14px;
    background: url(images/bg-photo.gif) repeat-y;
    border: 1px solid #f3f3f3
}
.topic-side {
    background: #FFF;
    padding: 15px 10px 10px;
    overflow: hidden
}

.topic-side h3 {
    line-height: 1.2;
    margin-bottom: 10px
}

.topic-side ul li {
    padding-top: 10px;
    width: 210px;
    border-top: 1px dotted #d1d1d1
}

.topic-side ul li .img {
    display: block;
    width: 210px;
    height:210px;
    overflow: hidden
}

.topic-side ul li .img img {
    width: 210px;
    height:210px
}

.topic-side ul li .info {
    padding: 10px 0 5px
}

.topic-side ul li .info .name {
    padding-bottom: 3px;
    line-height: 1.2
}

.topic-side ul li .info .name a {
    font-size: 14px;
    font-weight: bold;
    color: #333
}

.topic-side ul li .info p span {
    float: left;
    display: inline;
    width: 100px;
    color: #999
}

.topic-side ul li .info .editor-link {
    color: #999
}
.topic-comment li {
    position: relative;
    padding: 8px 0;
    height: 30px;
    border-bottom: 1px dotted #ececec
}

.topic-comment li .comment-pic {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 8px
}

.topic-comment li .comment-con {
    padding-left: 40px
}

.topic-comment li .comment-con a {
    cursor: pointer;
    white-space: nowrap
}

.topic-comment li .comment-con p {
    width: auto;
    line-height: 15px
}

.topic-comment li .comment-con p.top {
    margin-top: -3px;
    word-break: break-word;
}

.topic-comment li .comment-con p.btm {
    margin-top: 3px;
    word-break: break-word;
    color: #999
}

.topic-comment li .comment-con p.btm a {
    color: #999
}
  /* user 讨论 end*/
/*user 集分宝 start*/
.credits-time{
    color: #AAA;
    margin: 0 10px;
    height: 30px;
    border-bottom: 1px solid #BBB;
    font-size: 16px;
    line-height: 30px;
}
.credits-list .credits-item { padding-bottom:15px;border-bottom: 1px dotted #555 }
.credits-item .credits-detail { background:#fff; } /*660*/
.credits-item .credits-detail .con { padding:10px; }
.credits-item .fd-media { margin-top:15px; }
.credits-item .fd-media .pic { float:left;width:120px;overflow:hidden; }
.credits-item .fd-media .info { float:left;padding-left:10px;width:400px; }
.credits-item .fd-media .info .title {
    font-size: 14px;
    font-weight: bolder;
}

.credits-item .fd-media .info  dd {
    font-size: 14px;
    font-family:"微软雅黑";
    padding: 10px 0 0 10px;
    color: #000;
}
.credits-item .fd-media .info  dd a{
    /*color: #5AD;*/
}
.credits-item .fd-media .info  dd  a:hover{
    color: #ff7f00;
    text-decoration: underline;
}
.credits-item .fd-media .info .price,.credits-item .fd-media .info .volume{
    float: left;
    height: 35px;
    line-height: 35px;
}
.credits-item .fd-media .info .price{
    width: 250px;
}
.credits-item .fd-media .info .volume{

}
.credits-item  span{
    color: #e26;
    font-weight: bold;
}
.credits-item .fd-media .info  .price-normal {
    font-size: 14px;
    text-decoration: line-through;
    color: #555;
}

.credits-item .fd-media .info  .price-promotion {
    font-size: 20px;
    font-weight: bolder;
    color: #e26;
}
.credits-item  .time{
    float:left;
    color:#999;
    overflow: hidden;
    padding:5px;
    height: 120px;
    border-left: 1px dotted #999;
}
.credits-item  .time p{
    height: 30px;
    line-height: 30px;
}
/*topicedit 话题编辑  主题编辑*/
.content {
    min-height: 500px;
    padding: 30px;
    background: #fff;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.content h2 {
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    border-bottom: 1px dotted #d1d1d1;
    font-size: 14px;
    line-height: 1.2
}

.fm-item {
    float: left
}

.fm-item p {
    padding: 5px 0 0 0;
    color: #999
}

.fm-item .b-input, .intro-txa {
    width: 360px
}

.intro-txa {
    height: 100px
}

.fm-item select {
    width: 180px;
    margin-right: 12px
}
