/**
 * Created by zuosanshao.
 * Date: 12-9-21
 * Time: 上午9:49
 * 维护人员:zuosanshao@qq.com
 */
.setting {
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 50px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.side-nav {
    float: left;
    width: 100px
}

.side-nav h2 {
    font-size: 16px;
    line-height: 100%
}

.side-nav ul {
    margin-top: 20px
}

.side-nav ul li {
    margin-bottom: 15px
}

.side-nav ul li a {
    color: #666;
    font-size: 14px
}

.side-nav ul li a.on {
    color: #f32a6b
}

.main-content {
    float: left;
    width: 779px;
    min-height: 400px;
    border-left: 1px dotted #d1d1d1
}
.main-content a{
    color:#5Ad;
}
.main-content  a:hover{
    color: #ff7f00;
    text-decoration: underline;
}

.theemail {
    line-height: 32px;
    font-size: 14px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    overflow: hidden
}

.set-info {
    float: left;
    width: 450px
}

.set-pic {
    float: right
}

#thePhoto {
    width: 180px;
    height: 180px
}

.set-password .set-form label, .set-info .set-form label {
    width: 130px
}

.set-form .sex {
    float: left;
    padding: 7px 0
}

.set-form .sex input {
    vertical-align: middle
}

.set-form .sex .radio-txt {
    cursor: pointer
}

.set-form select {
    margin: 6px 0 0 5px;
    vertical-align: middle
}

.set-form .intro-txa {
    width: 270px;
    height: 80px
}

.set-password .set-form .error-row, .set-info .set-form .error-row {
    margin: 0 0 20px 130px
}


  /* 头像上传*/
.imgareaselect-border1 {
    background: url(images/border-v.gif) repeat-y left top
}

.imgareaselect-border2 {
    background: url(images/border-h.gif) repeat-x left top
}

.imgareaselect-border3 {
    background: url(images/border-v.gif) repeat-y right top
}

.imgareaselect-border4 {
    background: url(images/border-h.gif) repeat-x left bottom
}

.imgareaselect-border1, .imgareaselect-border2, .imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity = 50);
    opacity: .5
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity = 50);
    opacity: .5
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity = 50);
    opacity: .5
}

.photo-row {
    margin: 0 auto;
    width: 320px;
    position: relative
}

.photo-row .upload-cover {
    width: 92px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    cursor: pointer
}

.photo-row .upload-btn {
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
    z-index: 698;
    display: block;
    width: 92px;
    height: 28px;
    cursor: pointer
}

.photo-box {
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    border: 1px solid #DDD;
    overflow: hidden
}

.photo-box span {
    _height: 100%;
    _writing-mode: tb-rl;
    _vertical-align: middle
}

.photo-box img {
    vertical-align: middle;
    cursor: pointer
}


/* 我的收货地址*/

.address .form-row label {
    width: 130px
}

.address .address-tip {
    padding: 10px 20px 28px 55px;
    color: #999
}

.address .set-form .intro-txa {
    height: 50px
}
/*我的奖品*/
.award {
    padding-left: 40px
}

.award h3 {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 10px
}

.award .award-list th {
    background-color: #f2f2f2;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: normal
}

.award .award-list td {
    padding: 5px;
    text-align: center;
    line-height: 20px
}

.award .award-list td.tal {
    text-align: left
}

.award .no-award {
    background-color: #f9f9ef;
    padding: 20px
}

.award .no-award p {
    line-height: 30px;
    text-align: center
}

.award .ml42 {
    margin-left: 42px
}

.award .ml56 {
    margin-left: 56px
}


.vip{
    padding-left: 40px
}


/*help*/
.help {
    padding-left: 20px;
}
.help .help-title {
    font-weight: bold;
    font-size: 14px;
    height: 45px;
    line-height: 45px
}

.help ul {
    margin-left: 20px;
    line-height: 30px
}

.help ul li {
    list-style-type: disc
}

.help ul li a {
    color: #666
}
