/**
 * Created by zuosanshao.
 * Date: 12-9-21
 * Time: 上午9:49
 * 维护人员:zuosanshao@qq.com
 */
.setting {
    margin-top: 20px;
    min-height: 500px;
    padding: 50px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.side-nav {
    float: left;
    width: 100px
}

.side-nav h2 {
    font-size: 16px;
    line-height: 100%
}

.side-nav ul {
    margin-top: 20px
}

.side-nav ul li {
    margin-bottom: 15px
}

.side-nav ul li a {
    color: #666;
    font-size: 14px
}

.side-nav ul li a.on {
    color: #f32a6b
}

.main-content {
    float: left;
    width: 779px;
    min-height: 500px;
    border-left: 1px dotted #d1d1d1
}
.main-content a{
    color:#5Ad;
}
.main-content  a:hover{
    color: #ff7f00;
    text-decoration: underline;
}

.theemail {
    line-height: 32px;
    font-size: 14px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    overflow: hidden
}

.set-info {
    float: left;
    width: 430px
}

.set-pic {
    float: right
}

#thePhoto {
    width: 180px;
    height: 180px
}

.set-password .set-form label, .set-info .set-form label {
    width: 130px
}

.set-form .sex {
    float: left;
    padding: 7px 0
}

.set-form .sex input {
    vertical-align: middle
}

.set-form .sex .radio-txt {
    cursor: pointer
}

.set-form select {
    margin: 6px 0 0 5px;
    vertical-align: middle
}

.set-form .intro-txa {
    width: 270px;
    height: 80px
}

.set-password .set-form .error-row, .set-info .set-form .error-row {
    margin: 0 0 20px 130px
}


  /* 头像上传*/
.imgareaselect-border1 {
    background: url(images/border-v.gif) repeat-y left top
}

.imgareaselect-border2 {
    background: url(images/border-h.gif) repeat-x left top
}

.imgareaselect-border3 {
    background: url(images/border-v.gif) repeat-y right top
}

.imgareaselect-border4 {
    background: url(images/border-h.gif) repeat-x left bottom
}

.imgareaselect-border1, .imgareaselect-border2, .imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity = 50);
    opacity: .5
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity = 50);
    opacity: .5
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity = 50);
    opacity: .5
}

.photo-row {
    margin: 0 auto;
    width: 520px;
    position: relative
}

.photo-row .upload-cover {
    width: 92px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    cursor: pointer
}

.photo-row .upload-btn {
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity = 0);
    opacity: 0;
    z-index: 698;
    display: block;
    width: 92px;
    height: 28px;
    cursor: pointer
}

.photo-box {
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    border: 1px solid #DDD;
    overflow: hidden
}

.photo-box span {
    _height: 100%;
    _writing-mode: tb-rl;
    _vertical-align: middle
}

.photo-box img {
    vertical-align: middle;
    cursor: pointer
}

.photo-dialog {
    width: 450px
}

.photo-dialog form {
    margin-left: 40px
}
/*我的邀请*/
.invite {
    overflow: hidden;
    zoom: 1;
    padding-left:20px
}
.invite .title ,.credits .title,.shiDou .title, .orders .title  {
    font-size: 16px;
    display: block;
    margin-bottom:5px;
    height:30px;
    line-height:30px;
    font-weight: bold;
}
.invite-intro, .invite-link, .invite-share, .invite-record{
    margin-bottom: 20px;
}
.invite-intro{
   background-color: #F9F9EF;
}

.invite-intro li{
    padding-left: 15px;
    line-height: 30px;
}
.invite-intro .alert{
    background: url(images/alert.png) no-repeat 0 0 transparent;
    padding-left: 20px;
}

.invite .invite-link{
    height: 65px;
    line-height: 65px;
}
.invite-link .invite_txa {
    width: 570px;
    float: left;
    height: 50px;
    line-height: 23px;
    margin-bottom: 20px;
    color: #999;
}
.invite-link .bbl-btn{
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}
.invite-link .bbl-btn.hover {
    color: #fff;
    background-position: -5px -411px;
    text-decoration: none;
    border: 1px solid #1c82bf
}

.invite-link .bbl-btn.active {
    color: #fff;
    background-position: -5px -461px;
    text-decoration: none;
    border: 1px solid #1c82bf
}

.invite-share .share-tip{
    height: 30px;
    margin-top: 5px;
    background: url(images/correct.png) no-repeat 0 0 transparent;
    padding-left: 20px;
    color: #e26;
    font-size: 14px;
    font-weight: bold;
}

.invite-share  li {
    height: 32px;
    line-height: 32px;
    margin: 0 20px 0 0;
    width: auto;
    float: left
}
.invite-share li a {
    color: #666;
    padding-left: 20px;
    display: block;
}
.invite-share .i-sina, .invite-share .i-qq, .invite-share .i-renren, .invite-share .i-douban, .invite-share .i-qzone {
    background-image: url(images/icons-share.png);
    background-repeat: no-repeat
}

.invite-share .i-sina {
    background-position: 0 -410px
}

.invite-share .i-qq {
    background-position: 0 -273px
}

.invite-share .i-renren {
    background-position: 0 -73px
}

.invite-share .i-douban {
    background-position: 0 -113px
}

.invite-share .i-qzone {
    background-position: 0 -364px
}


.invite-record .invite_success {
    background: #fdf6ea;
    padding: 0 0 0 20px;
    display: block;
    margin-bottom: 20px;
    height: 32px;
    line-height: 32px;
    color: #333
}

.invite-record .invite_success span {
    font-size: 14px;
    padding: 0 5px;
    color: #f32a6b;
    font-weight: 700;
    font-family: Georgia, "Times New Roman", Times, serif
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    text-align: center;
}

.table th {
    font-weight: bold;
}

.table thead th {
    text-align: center;
    vertical-align: bottom;
}

/* 我的收货地址*/

.address .form-row label {
    width: 130px
}

.address .address-tip {
    padding: 10px 20px 28px 55px;
    color: #999
}

.address .set-form .intro-txa {
    height: 50px
}
/*我的奖品*/
.award {
    padding-left: 40px
}

.award h3 {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 10px
}

.award .award-list th {
    background-color: #f2f2f2;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: normal
}

.award .award-list td {
    padding: 5px;
    text-align: center;
    line-height: 20px
}

.award .award-list td.tal {
    text-align: left
}

.award .no-award {
    background-color: #f9f9ef;
    padding: 20px
}

.award .no-award p {
    line-height: 30px;
    text-align: center
}

.award .ml42 {
    margin-left: 42px
}

.award .ml56 {
    margin-left: 56px
}


/*我的集分宝*/
.credits,.shiDou,.orders{
    margin-left: 20px;
}
.credits .credits_info, .shiDou .shiDou_info,.orders .orders_info, {
    background: #fdf6ea;
    padding: 0 0 0 20px;
    display: block;
    margin-bottom: 20px;
    height: 32px;
    line-height: 32px;
    color: #333
}

.credits .credits_info span,.shiDou .shiDou_info span,.orders .credits_info span {
    font-size: 14px;
    padding: 0 5px;
    color: #f32a6b;
    font-weight: 700;
}
/* orders */
  .orders .title{
      float: left;
      padding: 15px 10px 5px 0;
      height: 20px;
      line-height: 20px;
  }

/*help*/
.help {
    padding-left: 20px;
}
.help .help-title {
    font-weight: bold;
    font-size: 14px;
    height: 45px;
    line-height: 45px
}

.help ul {
    margin-left: 20px;
    line-height: 30px
}

.help ul li {
    list-style-type: disc
}

.help ul li a {
    color: #666
}
