.weixin .mod-header {overflow: hidden;padding: 15px 180px}
.weixin .mod-header h1 {font-size: 100px;color: #c33;display: inline;float: left;margin-bottom: 0;}
.weixin .mod-header p {font-size: 60px;line-height: 53px;overflow: hidden;height: 128px;display: inline;float: left;}
.weixin .mod-header em {font-size: 18px;font-weight: normal;color: white;background: black;margin-left: 7px;padding: 2px;}
.weixin .mod-body .left-part .avatar {display: inline;float: left;}
.weixin .mod-body .left-part .song-list {display: inline;float: right;}
.weixin .mod-body .right-part .avatar {display: inline;float: right;}
.weixin .mod-body .right-part .song-list {display: inline;float: left;}
.weixin .mod-body .list {margin: 70px 0;}
.weixin .mod-body .list .avatar {-webkit-border-radius: 0;-moz-border-radius: 0;-ms-border-radius: 0;-o-border-radius: 0;border-radius: 0;width: 300px;height: 240px;background: white;border: 1px solid #b3b3b3;padding: 9px;}
.weixin .mod-body .list .song-list {width: 630px;}
.weixin .mod-body .list .song-list .artist-info {height: 110px;overflow: hidden;}
.weixin .mod-body .list .song-list .artist-info h2 {font-size: 36px;font-weight: bold;margin-right: 20px;display: inline;float: left;}
.weixin .mod-body .list .song-list .artist-info h2 a, .weixin .mod-body .list .song-list .artist-info h2 a:hover {color: black;text-decoration: none;}
.weixin .mod-body .list .song-list .artist-info .recommend {margin-top: 20px;color: #999;*display: inline;*vertical-align: bottom;}
.weixin .mod-body .list .song-list .artist-info .recommend .star1 {display: -moz-inline-stack;display: inline-block;vertical-align: middle;vertical-align: bottom;*vertical-align: auto;zoom: 1;*display: inline;width: 25px;height: 27px;background: url("//mu4.bdstatic.com/static/i/JKwsHHyv.png") no-repeat -336px -96px;overflow: hidden;}
.weixin .mod-body .list .song-list .artist-info .recommend .star2 {display: -moz-inline-stack;display: inline-block;vertical-align: middle;vertical-align: bottom;*vertical-align: auto;zoom: 1;*display: inline;width: 25px;height: 27px;background: url("//mu4.bdstatic.com/static/i/JKwsHHyv.png") no-repeat -264px -96px;overflow: hidden;}
.weixin .mod-body .list .song-list .artist-info .recommend .star3 {display: -moz-inline-stack;display: inline-block;vertical-align: middle;vertical-align: bottom;*vertical-align: auto;zoom: 1;*display: inline;width: 25px;height: 27px;background: url("//mu4.bdstatic.com/static/i/JKwsHHyv.png") no-repeat -300px -96px;overflow: hidden;}
.weixin .mod-body .list .song-list .artist-info .view-page {display: inline;float: left;background: #55b9c8;color: white;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;padding: 5px 10px;margin-top: 11px;}
.weixin .mod-body .list .song-list .artist-info .view-page:hover {text-decoration: none;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity: 0.8;}
.weixin .mod-body .list .song-list .artist-info p {line-height: 30px;clear: both;font-size: 12px;color: #666;}
.widget-playlist {*zoom: 1;background: white;margin-bottom: -1px;}
.widget-playlist:after {content: "";display: table;clear: both;}
.widget-playlist li {height: 28px;line-height: 28px;width: 100%;padding: 10px 0;position: relative;border-bottom: 1px solid #e6e6e6;}
.widget-playlist li, .widget-playlist li span {display: inline;float: left;}
.widget-playlist li .status {width: 24px;height: 24px;display: -moz-inline-stack;display: inline-block;display: inline;vertical-align: middle;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;cursor: pointer;cursor: pointer;float: left;position: relative;margin: 2px 12px 0 20px;}
.widget-playlist li .status i {width: 24px;height: 24px;background: url("//mu4.bdstatic.com/static/i/uYvQyDA2.png") no-repeat -408px 0px;_background-image: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mu3.bdstatic.com/static/img/widget/playlist/play.png",sizingMethod="crop");margin: 0px auto 0;display: block;}
.widget-playlist li .status:hover {*zoom: 1;}
.widget-playlist li .status:hover i {width: 24px;height: 24px;background: url("//mu4.bdstatic.com/static/i/uYvQyDA2.png") no-repeat -360px 0px;_background-image: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mu4.bdstatic.com/static/img/widget/playlist/play_on.png",sizingMethod="crop");}
.widget-playlist li .order {color: #ccc;margin-right: 18px;font-size: 16px;}
.widget-playlist li .title {font-size: 14px;width: 225px;}
.widget-playlist li .title .song-name {color: #39c;}
.widget-playlist li .title .song-name:visited {color: #39c;}
.widget-playlist li .title .song-name:focus {color: #39c;}
.widget-playlist li .title .song-name:hover {color: #39c;}
.widget-playlist li .title .song-name:active {color: #39c;}
.widget-playlist li .num {color: #666;font-size: 12px;}
.widget-playlist li .opts {position: absolute;top: 50%;right: 0;margin: -14px 20px 0;}
.widget-playlist li .opts a {position: relative;padding: 0 5px;text-decoration: none;}
.widget-playlist li .opts .favor, .widget-playlist li .opts .download {display: inline;float: left;cursor: pointer;}
.widget-playlist li .opts .favor {width: 20px;height: 28px;}
.widget-playlist li .opts .favor i {display: block;background: url("//mu4.bdstatic.com/static/i/c1gGCghO.png") no-repeat -336px 0px;width: 10px;height: 8px;margin: 9px auto 0;overflow: hidden;}
.widget-playlist li .opts .favor.on i {background: url("//mu4.bdstatic.com/static/i/JKwsHHyv.png") no-repeat -372px -108px;}
.widget-playlist li .opts .download i {display: inline;float: left;background: url("//mu4.bdstatic.com/static/i/c1gGCghO.png") no-repeat -336px -12px;width: 8px;height: 10px;margin-top: 8px;overflow: hidden;}
.widget-playlist li .opts .download .price {display: inline;float: left;margin-right: 0;color: #39c;padding: 0 10px 0 15px;}
.widget-playlist li .opts .download .price:visited {color: #39c;}
.widget-playlist li .opts .download .price:focus {color: #39c;}
.widget-playlist li .opts .download .price:hover {color: #39c;}
.widget-playlist li .opts .download .price:active {color: #39c;}
.widget-playlist li .opts .download .bought, .widget-playlist li .opts .download .free {font-weight: normal;}
.widget-playlist li .opts .download .bought {color: #999;}
.widget-playlist li .opts .download .free {color: #999;}
.widget-playlist li .opts .lrc-btn {display: inline;float: left;color: #39c;}
.widget-playlist li .opts .lrc-btn:visited {color: #39c;}
.widget-playlist li .opts .lrc-btn:focus {color: #39c;}
.widget-playlist li .opts .lrc-btn:hover {color: #39c;}
.widget-playlist li .opts .lrc-btn:active {color: #39c;}
.widget-playlist li .opts .share {display: inline;float: left;width: 20px;height: 28px;}
.widget-playlist li .opts .share i {display: block;background: url("//mu4.bdstatic.com/static/i/c1gGCghO.png") no-repeat -312px -12px;width: 10px;height: 10px;margin: 8px auto 0;overflow: hidden;}
.widget-playlist li .opts .line {float: left;height: 9px;line-height: 9px;margin: 10px 2px 0 2px;overflow: hidden;font-weight: normal;color: #e0e0e0;}
.widget-playlist li.on {background: #f3f3f3;border: 1px solid #e6e6e6;top: -1px;margin-bottom: -1px;margin-left: -1px;}