@(user:Option[models.user.User],form:Form[(Option[Long],String,String,Int,Int)])
@views.html.template(user,nav="index",subNav="pets")(css="/assets/css/template/editor.css"){

<div class="container">

    <div class="row">
        <div class="main">

            <div class="editor-box" >
                <form action="#" method="post" class="post-edit-form" id="J_editForm">
                    <input type="hidden" name="id" id="J_id"  value="0" />
                    <div class="editor-title">
                        <label for="J_title">标题</label>
                        <input type="text" name="title" class="input" id="J_title" value='哎呀，我要个牛逼哄哄的名字'  maxlength='45' />
                    </div>

                    <div id="uploader">
                        <div class="queueList">
                            <div id="dndArea" class="placeholder">
                                <div id="filePicker"></div>
                                <p>或将照片拖到这里，单次最多可选300张</p>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div>
                            <div class="info"></div>
                            <div class="btns">
                                <div id="filePicker2"></div>
                                <div class="uploadBtn">开始上传</div>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>


                    <p class="func_buttons clearfix" >
                        <input type="button" class="btn btn-default left" id="J_saveDraft" value="保存草稿">
                        <input type="button" class="btn btn-info right" id="J_createSubmit" value="发表" >

                    </p>

                </form>

            </div>


        </div>
        <div class="side clearfix">
            <div class="box">
                <div class="hd">
                    <h3>公告栏</h3>
                </div>
                <p class="bd" id="J_NoticeCon">
                    和谐社会，你我共建～
                </p>

            </div>
        </div>
    </div>


</div>

}{
<script type="text/javascript">
            seajs.use(['jquery','hiwowo/diagram/diagramEditor2'],function($){

                if(HIWOWO.userId == ""){
                    $.hiwowo.loginDialog.isLogin();
                }

            })
</script>

}