@(user:Option[models.user.User])
@views.html.template(user)(css="/assets/css/template/diagram.edit.css"){

        <div class="container diagram">

            <div class="row">
                <div class="main">
                    <div class="diagram-edit">
                        <div class="diagram-id">
                            <input type="hidden" id="J_id" value="">
                        </div>
                        <div class="diagram-title">
                            <dl>
                                <dt>标题：</dt>
                                <dd><input id="J_title" onkeyup="checkTopicTitleNode($(this), 100)" name="title" class="input-normal" value="嗨喔喔"></dd>
                                <dd class="msg" style="display:none"><div class="msg-error">：（ 超出2个字了</div>32/30</dd>
                            </dl>
                        </div>

                        <div class="diagram-intro">
                            <dl>
                                <dt>亲，你就说点什么呗 </dt>
                                <dd><input id="J_intro" name="intro" value="亲，你就不说点什么吗"> </dd>
                                <dd class="msg" style="display: none"><div class="msg-error"></div> </dd>
                            </dl>
                        </div>

                        <div class="diagram-uploadify">
                            <div  id="J_uploadify"> </div>
                        </div>


                      <!-- 操作 -->
                        <div class="diagram-btnbar clearfix">
                           <span class="fr">
                            <a id="id-btn-draft" class="btn-diagram"  href="javascript:;">保存草稿</a>
                            <a id="id-btn-diagram" class="btn-diagram" href="javascript:;">发布</a>
                          </span>
                        </div>
                        <div id="topic_image_example" class="post-photo post-item-edit" style="display: none">
                            <div class="move-bar"><a class="move-up" href="javascript:;">上移</a><a class="move-down" href="javascript:;">下移</a></div>
                            <div class="edit-box clearfix">
                                <div class="upload-img">
                                    <div class="img"><a href="" target="_blank"><img src=""></a></div>
                                </div>
                                <div class="photo-des"></div>

                            </div>

                            <div class="pic-doing-all clearfix">
        <span class="pic-doing">
            <a class="sitedel-href" href="javascript:;"><ins class="ico-pic-del"></ins>删除</a>
        </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="side">
                    <div class="box  affix">
                        <div class="hd">
                            <h3>公告栏</h3>
                        </div>
                        <p class="bd" id="J_NoticeCon">
                            和谐社会，你我共建～
                        </p>

                    </div>
                </div>
            </div>


        </div>

}{
<script type="text/javascript">

    seajs.use("hiwowo/diagram/diagram.edit.js")
</script>
}