@(user:Option[models.user.User],diagram:Option[models.diagram.Diagram])
@views.html.template(user)(css="/assets/css/template/diagram.css"){

<div class="container diagram">


 @if(diagram.isEmpty){
    <div class="row">
           <div class="no-content"> 哎呀，这篇图说被狗狗吃掉了 </div>
    </div>
 }else {
        <div class="row">
<div class="main">
<div class="sitebar">
    <ul>
        <li class="esp"><a href="" title=""><img  src="/images/1.jpg" width="60" height="60"></a></li>
        <li> <a href="" title="嗨喔喔">嗨喔喔</a></li>
        <li>阅读<strong>64</strong></li>

        <li class="btn"><a href="javascript:void(0)"  class="follow js_follow">+喜欢</a>
            <a href="javascript:void(0)" class="follow js_unfollow" style="display:none">已经喜欢</a>
        </li>
    </ul>
</div>
<h1 class="title"> @diagram.get.title</h1>


<div class="desc">
   @Html(diagram.get.content.getOrElse(""))
</div>
</div>
<div class="side">
    <div class="box">
    <div class="UserApp">
        <ul class="js_UserApp">
        <li class="espImg">
            <img src="http://vjiankedebug.blob.core.windows.net/image/jkweixin.png">
        </li>
        <li class="espTxt">
            <a href="javascript:void(0)" class="appname">嗨喔喔微信公共帐号</a>
            <p>微信搜索公共帐号"<span>嗨喔喔</span>"，或者扫描二维码关注，每日获取精选图说。</p>
        </li>
    </ul>
    </div>
    <div class="recommendRead">
        <h2><span>推荐阅读</span>
            <a href="javascript:void(0)" class="js_refresh">换一组试试</a>
        </h2><div class="rRead">
        <ul class="js_rRead">
            <li><a href="/Y4UOF.clip">姚晨：最难的一件事，其实叫随遇而安！</a></li>
            <li><a href="/Y4NSH.clip">你的枕边书是什么？</a></li>
            <li><a href="/Y4NR7.clip">孟非：生活从下班开始</a></li>
        </ul>
    </div></div>
    <div class="clear"></div>
    <div class="ReadUser">
        <h2>最近读过的人</h2>
        <ul class="ReadUserList js_ReadUserList">
            <li><a href="" title="一剪成名"><img src="http://vfanasia.blob.core.windows.net/image/vfanner-noname.png"></a></li>
            <li><a href="" title="psuooo"><img src="http://vfancn.blob.core.chinacloudapi.cn/image/vfanner-noname.png"></a></li>
            <li><a href="" title="北纬16du"><img src="http://tp4.sinaimg.cn/1888396103/180/0/1"></a></li>
            <li><a href="" title="梁璐"><img src="http://app.qlogo.cn/mbloghead/aa028054b2cc3be3e7c6/180"></a></li>
            <li><a href="" title="闫瑾"><img src="http://mat1.gtimg.com/www/mb/images/head_120.jpg"></a></li>
            <li><a href="" title="sherrysherry"><img src="http://mat1.gtimg.com/www/mb/images/head_120.jpg"></a></li>
            <li><a href="" title="慕颜秋"><img src="http://app.qlogo.cn/mbloghead/6a9d0f9ff045950db4b4/180"></a></li>
            <li><a href="" title="godlike的世界"><img src="http://tp1.sinaimg.cn/1958231132/180/5630283414/1"></a></li>
            <li><a href="" title="VIP-圣贻"><img src="http://tp1.sinaimg.cn/1945700272/180/5673530881/0"></a></li>
            <li><a href="" title="陈玺Frank"><img src="http://tp1.sinaimg.cn/1696626952/180/5666882719/1"></a></li>
            <li><a href="" title="初夏阳光微暖"><img src="http://app.qlogo.cn/mbloghead/1aa2a1f44a8c87bb2bcc/180"></a></li>
            <li><a href="" title="李骁"><img src="http://app.qlogo.cn/mbloghead/511d68074ec0c343a3cc/180"></a></li>
        </ul>
    </div>
    </div>
    </div>
            <!-- left float -->
            <div class="share-pin">
                <div class="share-nav">
                     <ul>
                         <li class="collect">
                             <div class="favNum" style="display: block;">6</div>
                         </li>
                         <li class="esp"></li>
                     </ul>
                </div>
                <div class="share-content">
                      <div class="ml15">
                          <div class="love">这里是喜欢区域</div>
                          <div class="share">这里是分享区域</div>
                      </div>
                </div>
            </div>
        </div>
 }


</div>

}{
<script type="text/javascript">

    seajs.use("hiwowo/diagram/diagram.js")
</script>
}