@(user:Option[models.user.User])
@views.html.template(user,nav="index",subNav="pets")(css="/assets/css/template/editor.css"){

<div class="container">

    <div class="row">
        <div class="main">
          <div class="editor-box">

          </div>
          </div>
        <div class="side">
            <div class="box  affix">
                <div class="hd">
                    <h3>公告栏</h3>
                </div>
                <p class="bd" id="J_NoticeCon">
                    和谐社会，你我共建～
                </p>

            </div>
        </div>
    </div>


</div>

}{
<script type="text/javascript">
            seajs.use(['jquery','hiwowo/diagram/diagramEditor.js','hiwowo/editor/hiwowo.editor'],function($,editor){
                if(HIWOWO.userId == ""){
                    $.hiwowo.loginDialog.isLogin();
                }
                $.hiwowo.editor = $.hiwowo.Editor();
            })
</script>

}