@(user:Option[models.user.User])
@views.html.template(user)(css="/assets/css/template/diagram.css"){

        <div class="container diagram">

            <div class="row">
                <div class="main">
                    <div class="diagram-create box-shadow">
                        <h3 class="diagram-title">创建话题</h3>

                            <input type="hidden" name="diagramId" value="" id="J_diagramId">

                            <ul class="form-group">
                                <li class="input-box">
                                    <label>亲，你就给我起个牛逼哄哄的名字呗</label>
                                    <input id="J_diagramTitle" name="title" class="b-input" type="text" value="" placeholder="亲，你就给我起个牛逼哄哄的名字呗">
                                </li>

                                <li class="input-box clearfix">
                                     <label>哎呀，亲，给我介绍下呗</label>
                                    <input id="J_diagramIntro" name="intro" class="b-textarea" placeholder="亲，简单的介绍下呗">

                                </li>



                                <li class="input-box clearfix mt15">

                                     <div  id="J_uploadify"> </div>
                                </li>


                                <li class="input-box clearfix">
                                   <label id="J_psLabel">亲，狠戳我，给我写个后记，怎么样啊</label>
                                    <input id="J_diagramPs"  name="ps" class="b-textarea hidden">
                                </li>
                                <li class="input-box">
                                     <label id="J_tagsLabel">那个啥，狠戳我,给我贴几个标签如何^_^</label>
                                    <input id="J_DiagramTags" name="tags" class="b-input hidden" type="text" value="" placeholder="亲，给我添几个标签如何">
                                </li>
                                <li class="oper clearfix">
                                    <input type="button" class="bgr-btn" id="J_diagramDraftBtn"  value="保存到草稿">
                                    <input id="J_diagramPublishBtn" type="submit" class="bbl-btn" value="发表">


                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <div class="side">
                    <div class="box  affix">
                        <div class="hd">
                            <h3>公告栏</h3>
                        </div>
                        <p class="bd" id="J_NoticeCon">
                            和谐社会，你我共建～
                        </p>

                    </div>
                </div>
            </div>


        </div>

}{
<script type="text/javascript">

    seajs.use("hiwowo/diagram/diagram.js")
</script>
}