/*
 * 样式文件 global
 * User: Administrator
 * Date: 12-9-15  
 * Time: 下午7:24
 * 维护：zuosanshao@qq.com
*/
/* reset 模块 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin: 0; padding: 0}
body, button, input, select, textarea { font: 12px Microsoft YaHei, Arial, Helvetica, sans-serif}
body{ background: url(images/bg-v3.png) repeat transparent 0 0;}
h1, h2, h3, h4, h5, h6 { font-size: 100%;color: #333}
address, cite, dfn, em, var {  font-style: normal}
code, kbd, pre, samp { font-family: courier new, courier, monospace}
small {font-size: 12px}
ul, ol, li { list-style: none}
a { text-decoration: none; color: #333;}
a:hover{ text-decoration: underline}
a:focus { outline: thin dotted;}
a:active,a:hover { outline: 0;}
sup { vertical-align: text-top}
sub {vertical-align: text-bottom}
legend{color: #000}
fieldset,img {border: 0}
button, input, select, textarea { font-size: 100%}
table { border-collapse: collapse; border-spacing: 0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { display: block;margin: 0; padding: 0}
mark { background: #ff0}
object, embed { outline: 0}
p { line-height: 1.6; color: #666}
.fl {float: left;display: inline}
.fr {float: right;display: inline}
.ofh {white-space: nowrap;word-wrap: normal;word-break: normal;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden}
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}
.clear{clear: both;display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden;}
.inlineblock { display: inline-block;zoom: 1;*display: inline;overflow: hidden}
.bigfs {font-family: '微软雅黑', 'YaHei', '黑体', 'Hei', Tahoma, Helvetica, arial, sans-serif}
 img { vertical-align:middle; display: inline-block;background-color: #fff;border: 0;}
.img-responsive { display: block;height: auto;max-width: 100%;}
.img-rounded {  border-radius: 10px;}
.img-thumbnail {display: inline-block; height: auto;max-width: 100%;padding: 4px;line-height: 1.428571429; background-color: #ffffff; border: 1px solid #dddddd;border-radius: 4px;-webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.img-circle {  -moz-border-radius: 150px;-webkit-border-radius: 150px; border-radius: 150px; behavior: url(PIE.htc);}
.hidden { display: none !important;visibility: hidden !important;}
.show {display: block !important;}
.invisible {   visibility: hidden;}
.text-hide { font: 0/0 a;color: transparent; text-shadow: none; background-color: transparent;border: 0;}
.affix { position: fixed;}
.r3{-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.r5{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.r10{-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.rt3{-moz-border-radius:3px 3px 0 0;-khtml-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;}
.rt5{-moz-border-radius:5px 5px 0 0;-khtml-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.rt10{-moz-border-radius:10px 10px 0 0;-khtml-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;}
.rb3{-moz-border-radius:0 0 3px 3px;-khtml-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
.rb5{-moz-border-radius:0 0 5px 5px;-khtml-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.rb10{-moz-border-radius:0 0 10px 10px;-khtml-border-radius:0 0 10px 10px;-webkit-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;}
.rl3{-moz-border-radius:3px 0 0 3px;-khtml-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.rl5{-moz-border-radius:5px 0 0 5px;-khtml-border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;}
.rl10{-moz-border-radius:10px 0 0 10px;-khtml-border-radius:10px 0 0 10px;-webkit-border-radius:10px 0 0 10px;border-radius:10px 0 0 10px;}
.rr3{-moz-border-radius:0 3px 3px 0;-khtml-border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.rr5{-moz-border-radius:0 5px 5px 0;-khtml-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;}
.rr10{-moz-border-radius:0 10px 10px 0;-khtml-border-radius:0 10px 10px 0;-webkit-border-radius:0 10px 10px 0;border-radius:0 10px 10px 0;}
.fl{float:left;display:inline;}.fr{float:right;display:inline;}.mt0{margin-top:0;}.mt5{margin-top:5px;}.mt10{margin-top:10px;}
.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt25{margin-top:25px;}.mt30{margin-top:30px;}.mt35{margin-top:35px;}.mt40{margin-top:40px;}
.mr0{margin-right:0;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mr25{margin-right:25px;}.mr30{margin-right:30px;}.mr35{margin-right:35px;}.mr40{margin-right:40px;}
.mb0{margin-bottom:0;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}.mb35{margin-bottom:35px;}
.ml0{margin-left:0;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.ml25{margin-left:25px;}.ml30{margin-left:30px;}.ml35{margin-left:35px;}.ml40{margin-left:40px;}.mlr5{margin:0 5px 0 5px;}.mlr10{margin:0 10px 0 10px;}
.pt0{padding-top:0;}.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt15{padding-top:15px;}.pt20{padding-top:20px;}.pt25{padding-top:25px;}.pt30{padding-top:30px;}.pt40{padding-top:40px;}
.pr0{padding-right:0;}.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr15{padding-right:15px;}.pr20{padding-right:20px;}.pr25{padding-right:25px;}.pr30{padding-right:30px;}.pr35{padding-right:35px;}
.pb0{padding-bottom:0;}.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}.pb20{padding-bottom:20px;}.pb25{padding-bottom:25px;}.pb30{padding-bottom:30px;}.pb35{padding-bottom:35px;}
.pl0{padding-left:0;}.pl5{padding-left:5px;}.pl10{padding-left:10px;}.pl15{padding-left:15px;}.pl20{padding-left:20px;}.pl25{padding-left:25px;}.pl30{padding-left:30px;}.pl35{padding-left:35px;}.pl40{padding-left:40px;}
.plr10{padding:0 10px;}.plr15{padding:0 15px;}
.pd10{ padding:10px;}.pd20{ padding:20px;}.pd40{ padding:40px;}
.rc{color:#ee2266;}.bc{color:#55aadd;}.yc{color:#ee6633;}.gc{color:#999;}.gc6{color:#666;}.gc9{color:#999;}.gcc{color:#dedede;}
.fs12{ font-size:12px;}
.fs14{ font-size:14px;}
.fs16{ font-size:16px;}
.fs18{ font-size:18px;}
.fs20{ font-size:20px;}
.fs30{ font-size:30px;}
.tac{ text-align:center;}
.tar{ text-align:right;}
.inlineblock {
    display: inline-block;
    zoom: 1;
    overflow: hidden;
    vertical-align: middle;
}
/*
* grid 模块
*  分为左右两栏 响应式布局，从 990px 740px 420px
*/
.container {
    position: relative; width:990px; margin: 0 auto; padding: 0;
}
.container:before,
.container:after {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

.container:before,
.container:after {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

.row {
    width: 100%;
    *zoom: 1  ;

}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.container .main{
    width: 740px;
    float: left;
    background: #fff;
}
.container .forum-main{
    width: 720px;
    float: left;

}
.container .main .coll,.container .main .colr{
    width: 47%;
    position: relative;
    min-height: 1px;
     float: left;
}
.container .main .coll {
   padding-right: 1.3%;
   padding-left: 1.5%;
}
.container .main .colr {
    padding-left: 1.5%;
    padding-right: 1.3%;
}

.container .side{
     width: 250px;
    float:right;
}
@media only screen and (max-width: 989px) {
    .container {
        width: 740px;
    }
    .container .main{
        width: 740px;
    }
    .container .forum-main {
        width: 740px;
    }
   .container .side{
       display: none !important;
   }

}



/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .container {
        width:420px;
    }
    .container .main{
        width: 420px;
    }
    .container .forum-main {
        width: 420px;
    }
    .container .main .coll,.container .main .colr{
        float: none;
        width: 50%;
       padding-right: 0;
       padding-left:0;
    }
    .container .side{
        display: none !important;
    }
    #footer{
        display: none !important;
    }
}

/*
 *  navbar 组件 用户页面的头部和底部
 */
.navbar-holder{position: relative; z-index: 3;}

.navbar section{display: -moz-inline-stack;display: inline-block;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;}
.navbar .nav{display: inline;display: inline;float: left;font-size: 14px;margin-left: 110px;}
.navbar {background: #282828;}
.navbar, .navbar a, .navbar a:active, .navbar a:hover {color: white;}
.navbar .logo {display: -moz-inline-stack;display: inline-block;display: inline;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;width: 156px;height: 40px;background: url("//mu4.bdstatic.com/static/i/eL38PCbx.png") no-repeat;overflow: hidden;float: left;text-indent: -999em;}
.navbar .nav {height: 40px;line-height: 40px;position: relative;margin-left: 40px;font-weight: bold;}
.navbar .nav li {display: inline;float: left;}
.navbar .nav a {display: inline;float: left;color: white;padding: 0 15px;}
.navbar .nav a:visited {color: white;}
.navbar .nav a:focus {color: white;}
.navbar .nav a:hover {color: white;}
.navbar .nav a:active {color: white;}
.navbar .nav a:hover {background: #1c1c1c;text-decoration: none;}
.navbar .nav a.active, .navbar .nav a.active:hover {background: #a32950;}
.navbar .user-info {display: inline;float: right;height: 40px;line-height: 40px;}
.navbar .user-info .login, .navbar .user-info .spacing, .navbar .user-info .signup, .navbar .user-info .avatar, .navbar .user-info .user {display: inline;float: left;}
.navbar .user-info .spacing {margin: 0 10px;color: #3e3e3e;}
.navbar .user-info .avatar {margin: 5px 10px 0 10px;}
.navbar .user-info .avatar, .navbar .user-info .avatar img {width: 30px;height: 30px;}
.navbar .user-info .user {height: 40px;line-height: 40px;padding-right: 10px;}
.navbar .user-info .user:hover {text-decoration: none;}
.navbar .user-info .nav-item {display: inline;display: -moz-inline-stack;display: inline-block;float: left;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;cursor: pointer;background: transparent;}
.navbar .user-info .nav-item.on {background: #333;}
.navbar .user-info .nav-item i {position: absolute;top: 50%;left: 50%;}
.navbar .user-info .favorite, .navbar .user-info .follow {width: 45px;height: 40px;}
.navbar .user-info .favorite {-webkit-box-shadow: inset 1px 0 0 #303030,1px 0 0 #303030;-moz-box-shadow: inset 1px 0 0 #303030,1px 0 0 #303030;box-shadow: inset 1px 0 0 #303030,1px 0 0 #303030;border-left: 1px solid #222;border-right: 1px solid #222;}
.navbar .user-info .favorite i {display: -moz-inline-stack;display: inline-block;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;width: 17px;height: 14px;background: url("images/love.png") no-repeat;overflow: hidden;_background-image: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mu4.bdstatic.com/static/i/aOCSihKL.png",sizingMethod="crop");margin-top: -7px;margin-left: -8.5px;}
.navbar .user-info .follow i {display: -moz-inline-stack;display: inline-block;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;width: 24px;height: 18px;background: url("images/follow.png") no-repeat;overflow: hidden;_background-image: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//mu4.bdstatic.com/static/i/mxhqHaa3.png",sizingMethod="crop");margin-top: -9px;margin-left: -12px;}
.navbar .user-info .menu .name {display: inline;float: left;cursor: pointer;}
.navbar .user-info .menu .triangle {display: inline;float: left;width: 0;height: 0;margin: 19px 0 0 5px;overflow: hidden;border-style: solid dashed none dashed;border-width: 4px 4px 0 4px;border-color: white transparent transparent transparent;}
.navbar .user-info .menu.on .triangle {border-style: none dashed solid dashed;border-width: 0 4px 4px 4px;border-color: transparent transparent white transparent;}
.navbar .user-info .menu.on .menu-list {display: block;}
.navbar .user-info .menu-list {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-box-shadow: 0 0 5px #333;-moz-box-shadow: 0 0 5px #333;box-shadow: 0 0 5px #333;display: none;position: absolute;z-index: 999;background: white;text-align: center;top: 40px;left: 0;border: 1px solid #e6e6e6;border-bottom: none;}
.navbar .user-info .menu-list li {border-bottom: 1px solid #e6e6e6;}
.navbar .user-info .menu-list li a {*zoom: 1;display: block;color: #282828;}
.navbar .user-info .menu-list li a:hover {background-color: #f3f3f3;text-decoration: none;}
.navbar-fixed-top,.navbar-fixed-bottom { position: fixed;right: 0;left: 0; z-index: 1030;}
.navbar-fixed-top { top: 0; border-width: 0 0 1px;}
.navbar-fixed-bottom { bottom: 0; margin-bottom: 0; border-width: 1px 0 0;}


/* footer 组件 */
#footer {height: 72px;line-height: 72px;background: white;border-top: 1px solid #e6e6e6;margin-bottom: 56px;}
#footer .container {height: 72px;}
#footer .go-music {float: left;margin-left: 120px;font-size: 14px;font-weight: bold;line-height: 75px;color: #333;}
#footer .nav { margin-left: 20px; display: inline;display: inline;float: left;font-size: 14px;}
#footer .nav, #footer .about {padding-top: 22px;line-height: 30px;margin-right: 10px;}
#footer .nav a, #footer .nav a:active, #footer .nav a:hover, #footer .about a, #footer .about a:active, #footer .about a:hover {color: #333;}
#footer .logo {width: 88px;height: 17px;position: absolute;top: 50%;left: 0;margin-top: -8.5px;text-indent: -999em;cursor: pointer;}
#footer .nav i {color: #999;font-size: 10px;margin: 0 8px;}
#footer .about {display: inline;float: left;color: #999;}
#footer .about a {margin: 0 8px;}
#footer .connect {position: absolute;right: 0;top: 50%;margin-top: -11px;}
#footer .connect a {display: inline;display: -moz-inline-stack;display: inline-block;float: left;height: 22px;line-height: 22px;vertical-align: middle;*vertical-align: auto;zoom: 1;*display: inline;color: #333;padding-left: 27px;}
#footer .connect a:hover {color: white;}
#footer .connect a.weibo {background: url("//mu4.bdstatic.com/static/i/TKE6jzz5.png") no-repeat -120px -96px;width: 42px;margin-right: 15px;}
#footer .connect a.weibo:hover {background: url("//mu4.bdstatic.com/static/i/NtiDpIIJ.png") no-repeat -96px 0px;text-decoration: none;}
#footer .connect a.weixin {background: url("//mu4.bdstatic.com/static/i/TKE6jzz5.png") no-repeat 0px -96px;width: 69px;}
#footer .connect a.weixin:hover {background: url("//mu4.bdstatic.com/static/i/NtiDpIIJ.png") no-repeat 0px 0px;text-decoration: none;}
#footer .connect .popover {left: -3px !important;}
#footer .connect .popover .popover-title {display: none;}
#footer .connect .popover .pic {margin-bottom: 10px;}
#footer .connect .popover .pic, #footer .connect .popover .pic img {width: 150px;height: 150px;}
#footer .connect .popover p {color: #333;line-height: 1.5;margin: 0;}
#footer .connect .popover-content .pic {width: 150px;height: 150px;background: url("//mu4.bdstatic.com/static/img/logo/weixin_yyr.png") no-repeat;}

/*  page 分页  */
.pagin span{border:1px solid #ebebeb;background:#fff;color:#666;float: left; height: 20px; line-height: 20px;padding: 3px 10px; margin-left: 8px;font-size: 14px;}
.pagin span.current{background:#999;color:#fff;}
.pagin a { float:left;height:20px;line-height:20px;color:#666;padding:3px 10px;margin-left:8px;font-size:14px;border:1px solid #ebebeb;background:#fff;overflow:hidden;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px; white-space: nowrap; }
.pagin a:hover{border:1px solid #ccc;color:#666;background:#fff;}
