@(user:models.user.User,page:models.Page[models.msg.SystemMsg],form: Form[controllers.admin.SystemMsgFilterFormData])
@views.html.admin.template(user,"msg") {



<div id="content-header">
    <h1>站内信管理</h1>
</div>
<div id="breadcrumb">
    <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
    <a href="#" class="current">站内信管理</a>
    <a href="#" class="current">系统站内信管理</a>
</div>

<div class="container-fluid">
<div class="row-fluid">

    <div class="btn-toolbar">
        <a class="btn btn-success" href="@controllers.admin.routes.Msgs.editSystemMsg(0)"><i class="icon-plus"></i>添加系统站内信</a>

    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box clearfix">
            <div class="widget-title">
        <span class="icon">
            <i class="icon-pencil"></i>
        </span>
                <h5>系统站内信筛选</h5>
            </div>
            <div class="widget-content nopadding">
                <form class=" form-horizontal" id="J_filterForm"  method="get" action="@controllers.admin.routes.Msgs.filterSystemMsgs">
                    <input type="hidden" name="currentPage" id="J_currentPage" value='@form("currentPage").value'>

                    <div class="control-group">
                        <label class="control-label">标题</label>
                        <div class="controls">
                            <input type="text"  name="title" value='@form("title").value'  placeholder="标题" >
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">

                            <input type="submit" class="btn btn-info" value="筛选"/>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="well">
        <form method="post" id="J_batchForm" action="@controllers.admin.routes.Msgs.batchSystemMsgs">
            <div class="controls">
                <select id="J_select" name="action">
                    <option value="-1">批量动作</option>
                    <option value="0">批量审核不通过</option>
                    <option value="1">批量审核通过</option>
                    <option value="2">批量删除</option>
                </select>

                <button  class="btn btn-info" id="J_batchAction" data-toggle="modal" data-target="#J_batchModal" >批量处理 </button>
            </div>
            <table class="table table-bordered table-striped with-check">
                <thead>
                <tr>
                    <th><input type="checkbox"  name="title-table-checkbox" /></th>
                    <th>ID</th>
                    <th>名称</th>
                    <th>内容</th>
                    <th>状态</th>
                    <th>时间</th>
                    <th style="width: 60px;">操作</th>
                </tr>
                </thead>
                <tbody>
                @for((item,i)<- page.items.view.zipWithIndex){
                <tr id="@item.id.get">
                    <td><input type="checkbox" name="ids[@i]" value="@item.id.get" /></td>
                    <td>@item.id</td>
                    <td>@item.title</td>
                    <td>@item.content</td>
                    <td>@if(item.status==0){<span class="label label-warning">未审核</span>} @if(item.status ==1){<span class="label label-success">已审核</span>}</td>
                    <td>@item.addTime</td>
                    <td>
                        <a href="@controllers.admin.routes.Msgs.editSystemMsg(item.id.get)"><i class="icon-edit"></i></a>
                      <!--  <a href=""><i class="icon-th-list"></i></a>-->
                    </td>
                </tr>
                }

                </tbody>
            </table>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_paginate">
                <ul class="pagination">
                    @page.prev.map { page =>
                    <li class="paginate_button previous">
                        <span  data-page="@page">Prev</span>
                    </li>
                    }.getOrElse {
                    <li class="paginate_button previous disabled">
                        <a href="javascript:void(0)">Prev</a>
                    </li>
                    }
                    @for(num <-page.nums){
                    @if(num==page.currentPage){
                    <li class="paginate_button active"><a  href="javascript:void(0)">@num</a></li>
                    }else {

                    <li class="paginate_button"><span  data-page="@num">@num</span></li>
                    }

                    }
                    @page.next.map { page =>
                    <li class="paginate_button next">
                        <span  data-page="@page">next</span>
                    </li>
                    }.getOrElse {
                    <li class="paginate_button next disabled">
                        <a href="javascript:void(0)">Next</a>
                    </li>
                    }

                </ul>
            </div>
        </div>
    </div>




</div>
</div>



}


