@(user:Option[models.user.User])
@views.html.template(
user
)(css="/assets/css/template/userMsg.css") {
<div class="container" id="home">
    <div class="setting clearfix">
        <div class="side-nav">
            <h2>消息中心</h2>
            <ul class="nav_r">
                <li><a  class="on" href="@controllers.users.routes.UsersMsg.at">@@我的</a></li>
                <li><a href="@controllers.users.routes.UsersMsg.love">喜欢我的</a></li>
                <li><a href="@controllers.users.routes.UsersMsg.comment">回复我的</a></li>
                <li><a href="@controllers.users.routes.UsersMsg.system(1)">系统通知</a></li>
            </ul>
        </div>				<div class="main-content">
        <div class="my_comment">
            <ul>
            </ul>
        </div>
        <!--分页-->
        <div class="tar mt30">
            <div class="pagin inlineblock clearfix" id="J_Pagination">
            </div>
        </div>
    </div>
    </div>
</div>
}{
<script type="text/javascript">
  //  seajs.use("hiwowo/user/baseSetting");
</script>
}