
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Note there is no responsive meta tag here -->

    <link rel="icon" href="/favicon.ico">

    <title>嗨喔喔</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap/3.2.0/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/hiwowo/hiwowo.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="headerBar">
<div id="topbar" class="topbar">
    <div class="container">

        <nav class="nav">
            <ul class="clearfix">
                <li><a href="/" class=" current ">嗨喔喔</a></li>
                <li><a href="" rel="loginD" class="  ">我的喔喔</a></li>
                <li><a href="/forum" class="  ">讨论吧</a></li>
            </ul>
        </nav>


        <section class="user-info">
            <a class="login need-login" href="javascript:void(0)" rel="loginD">登录</a><span class="spacing">|</span><a class="signup" href="/user/regist">注册</a>
        </section>


    </div>
</div>
<div id="J_subbar" class="subbar">
    <div class="container">
        <ul>
            <li class=" on "><a href="/" title="首页">首页</a></li>
            <li class="  new "><a href="/weixin/1" title="微信精选">微信精选</a></li>
            <li class="  "><a href="/pets/1" title="神兽乐园">神兽乐园</a></li>
            <li class="  "><a href="/pics/1" title="">图说</a></li>
        </ul>

        <section class="topSearch">
            <div class="searchBox">
                <input type="text" class="searchText" value="萌宠">
                <a class="searchBtn" href="javascript:void(0);"></a>
            </div>
        </section>

    </div>
</div>
</div>
<!-- Carousel
   ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->


<div id="content">
    <div class="container">
       <div class="main">
           <div class="alert alert-info clearfix">
               <span class="label label-danger">置顶</span>
               <a class="alert-link">
                   我是伟大的方靖
               </a>

           </div>
           <div class="select">
                <h1>每日精选</h1>
            </div>
           <div class="cat">
               <b>分类：</b>
               <ul>
                   <li><a href="javascript:void(0);" >全部</a></li>
                   <li><a href="javascript:void(0);">白菜价</a></li>
                   <li><a href="javascript:void(0);">促销活动</a></li>
                   <li><a href="javascript:void(0);">凑单品</a></li>
                   <li><a href="javascript:void(0);">图书</a></li>
                   <li><a href="javascript:void(0);">石英表</a></li>
                   <li><a href="javascript:void(0);">牛奶</a></li>
                   <li><a href="javascript:void(0);">啤酒</a></li>
                   <li><a href="javascript:void(0);">纸尿裤</a></li>
                   <li><a href="javascript:void(0);">卫生巾</a></li>
                   <li><a href="javascript:void(0);">键盘</a></li>
                   <li><a href="javascript:void(0);">平板电视</a></li>
                   <li><a href="javascript:void(0);">耳机</a></li>
                   <li><a href="javascript:void(0);">单反相机</a></li>
                   <li><a href="javascript:void(0);">手机</a></li>

               </ul>
           </div>


           <div class="items clearfix">
               <div class="item">
                   <div class="content">
                        <h2>
                            <a class="title">hello world 我是伟大的方靖显示</a>
                        </h2>
                       <div class="desc">
                           <div class="pic"><img src="/images/2.jpg"></div>
                           <div class="intro">dfdfdfdfdfd</div>
                       </div>

                   </div>
                   <div class="meta">
                       <div class="vs">
                           <i class="love">100</i> <i>1</i>
                       </div>
                       <div class="user">
                           <a><img src="/assets/user/default.jpg" class="img-circle" width="35" height="35"> <span>左三少</span> <i class="time"> 6分钟前</i> </a>
                       </div>

                       <div class="extra">
                           <a class="comment">评论</a>
                           <a class="collect">收藏</a>
                           <div class="share">分享</div>
                       </div>


                   </div>
               </div>
           </div>
       </div>
        <div class="aside">


        </div>


    </div>
</div>

<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/assets/js/sea/sea.js"></script>
<script type="text/javascript" src="/assets/js/sea/sea-config.js"></script>
<script>
    seajs.use("bootstrap")
</script>

</body></html>