@(user:Option[models.user.User])
@views.html.petTemplate(user,nav="index")(css="/assets/css/hiwowo/index.css"){


<!-- Carousel
   ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->


<div id="content">
    <div class="container">
        <div class="main">
            <div class="alert alert-info clearfix">
                <span class="label label-danger">置顶</span>
                <a class="alert-link">
                    我是伟大的方靖
                </a>

            </div>
            <div class="select">
                <h1>每日精选</h1>
            </div>
            <div class="cat">
                <b>分类：</b>
                <ul>
                    <li><a href="javascript:void(0);" >全部</a></li>
                    <li><a href="javascript:void(0);">白菜价</a></li>
                    <li><a href="javascript:void(0);">促销活动</a></li>
                    <li><a href="javascript:void(0);">凑单品</a></li>
                    <li><a href="javascript:void(0);">图书</a></li>
                    <li><a href="javascript:void(0);">石英表</a></li>
                    <li><a href="javascript:void(0);">牛奶</a></li>
                    <li><a href="javascript:void(0);">啤酒</a></li>
                    <li><a href="javascript:void(0);">纸尿裤</a></li>
                    <li><a href="javascript:void(0);">卫生巾</a></li>
                    <li><a href="javascript:void(0);">键盘</a></li>
                    <li><a href="javascript:void(0);">平板电视</a></li>
                    <li><a href="javascript:void(0);">耳机</a></li>
                    <li><a href="javascript:void(0);">单反相机</a></li>
                    <li><a href="javascript:void(0);">手机</a></li>

                </ul>
            </div>


            <div class="items clearfix">
                <div class="item">
                    <div class="content">
                        <h2>
                            <a class="title">hello world 我是伟大的方靖显示</a>
                        </h2>
                        <div class="desc">
                            <div class="pic"><img src="/images/2.jpg"></div>
                            <div class="intro">dfdfdfdfdfd</div>
                        </div>

                    </div>
                    <div class="meta">

                        <div class="user">
                            <a><img src="/assets/user/default.jpg" class="img-circle" width="45" height="45"> <span>左三少</span> <i class="time"> 6分钟前</i> </a>
                        </div>

                        <div class="extra">
                            <div class="thumbs">
                                <a class="up" href="" title="赞成"> <span class="glyphicon glyphicon-thumbs-up"></span><i>100</i></a>
                                <a class="down" href=" " title="不喜欢"><span class="glyphicon glyphicon-thumbs-down"></span><i>2</i> </a>
                            </div>
                            <div class="others">
                                <a class="comment" href="" title="评论"><span class="glyphicon glyphicon-edit"> </span><i>10</i></a>
                                <a class="collect" href="" title="收藏"><span class="glyphicon glyphicon-heart"></span><i>10</i></a>
                                <a class="share" title="分享"> <span class="glyphicon glyphicon-share"></span></a>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <h2>
                            <a class="title">hello world 我是伟大的方靖显示</a>
                        </h2>
                        <div class="desc">
                            <div class="pic"><img src="/images/3.jpg"></div>
                            <div class="intro">dfdfdfdfdfd</div>
                        </div>

                    </div>
                    <div class="meta">

                        <div class="user">
                            <a><img src="/assets/user/default.jpg" class="img-circle" width="45" height="45"> <span>左三少</span> <i class="time"> 6分钟前</i> </a>
                        </div>

                        <div class="extra">
                            <div class="thumbs">
                                <a class="up" href="" title="赞成"> <span class="glyphicon glyphicon-thumbs-up"></span><i>100</i></a>
                                <a class="down" href=" " title="不喜欢"><span class="glyphicon glyphicon-thumbs-down"></span><i>2</i> </a>
                            </div>
                            <div class="others">
                                <a class="comment" href="" title="评论"><span class="glyphicon glyphicon-edit"> </span><i>10</i></a>
                                <a class="collect" href="" title="收藏"><span class="glyphicon glyphicon-heart"></span><i>10</i></a>
                                <a class="share" title="分享"> <span class="glyphicon glyphicon-share"></span></a>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <h2>
                            <a class="title">hello world 我是伟大的方靖显示</a>
                        </h2>
                        <div class="desc">
                            <div class="pic"><img src="/images/4.jpg"></div>
                            <div class="intro">dfdfdfdfdfd</div>
                        </div>

                    </div>
                    <div class="meta">

                        <div class="user">
                            <a><img src="/assets/user/default.jpg" class="img-circle" width="45" height="45"> <span>左三少</span> <i class="time"> 6分钟前</i> </a>
                        </div>

                        <div class="extra">
                            <div class="thumbs">
                                <a class="up" href="" title="赞成"> <span class="glyphicon glyphicon-thumbs-up"></span><i>100</i></a>
                                <a class="down" href=" " title="不喜欢"><span class="glyphicon glyphicon-thumbs-down"></span><i>2</i> </a>
                            </div>
                            <div class="others">
                                <a class="comment" href="" title="评论"><span class="glyphicon glyphicon-edit"> </span><i>10</i></a>
                                <a class="collect" href="" title="收藏"><span class="glyphicon glyphicon-heart"></span><i>10</i></a>
                                <a class="share" title="分享"> <span class="glyphicon glyphicon-share"></span></a>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="aside">
            <!-- 公告 -->
            <dl class="notices clearfix">
                <dt><i class="glyphicon glyphicon-volume-up"></i></dt>
                <dd>
                    <ul>
                        <li>伟大的方靖回归了</li>
                    </ul>
                </dd>
            </dl>
            <!-- 发布 -->
            <div class="i-want-post">
                <a><img src="/assets/images/i_post.gif"></a>
            </div>
            <!-- 关注我们 -->
            <h3 class="title"><em></em><b>关注嗨喔喔</b>
                <a href="" target="_blank" class="more">更多 &gt;</a>
            </h3>

            <div class="follow-us">
                <a href="javascript:void(0);" class="weixin"></a>
                <a href="" class="weibo" target="_blank" rel="nofollow"></a>
                <a href="" class="qq-weibo" target="_blank" rel="nofollow"></a>
                <a href="" class="qq-zone" target="_blank" rel="nofollow"></a>
                <div class="ewm-wx" style="display: block;"></div>
            </div>
        </div>


    </div>
</div>




}{
<script type="text/javascript">
    seajs.use(["hiwowo/pages/page.js","hiwowo/diagram/diagram.favor"])
</script>
}


