@(user:Option[models.user.User],page:models.Page[(models.diagram.Diagram,models.user.User)],sortBy:String)
@views.html.template(user,nav="index",subNav="diagrams")(css="/assets/css/template/diagrams.css"){


<div class="container find">

    <div class="row">
       <!-- 热门图说 -->
        <section class="diagrams-box">
            <h2 class="box-title"></h2>
            <div class="box-content"></div>
        </section>

       <!-- 萌死人不偿命 -->
        <section class=""> </section>

        <!-- 爆笑江湖 -->
        <section class=""></section>

        <!--  神吐槽 -->
        <section class=""></section>

    </div>

</div>




}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/page.js")
</script>
}


