@(user:Option[models.user.User])
@views.html.template(user,nav="index",subNav="diagrams")(css="/assets/css/template/page.css"){




<div class="container diagrams">
    <div class="row">
    <div class="mod-header">
        <ul>

            <li><a href="">最新图说</a></li>
            <li class="on"><a href="">一周热门</a></li>
            <li><a href="">月度热门</a></li>
            <li class="sort">
                <a href="javascript:void(0)"  id="J_diagram_sort">发现更多</a>
                <dl class="dropdown diagram-dropdown">

                    <dd><a href="#">动物世界</a></dd>
                    <dd><a href="#">发布图说</a></dd>
                    <dd><a href="#">发布图说</a></dd>
                    <dd><a href="#">发布图说</a></dd>
                    <dd><a href="#">发布图说</a></dd>
                    <dd><a href="#">发布图说</a></dd>
                    <dd><a href="#">发布图说</a></dd>
                    <dd><a href="#">发布图说</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="mod-body clearfix">


    <div class="left-part">
        <p class="desc">
            <em>编辑导语：</em>爱是小编也想不清楚的问题啊！~~
        </p>
         <div class="feed-list">
             <div class="feed">
                <div class="feed-content-holder pop">
                    <div class="pop-triangle-r"></div>
                    <div class="link-to-post-holder" style="display: none;">
                        <div class="link-to-post-inner" style="background-position: 0px -15px;">
                            <a href="http://smokj.diandian.com/post/2014-02-23/40061073006" target="_blank" class="link-to-post" title="查看文章 - 09:40">查看文章</a>
                        </div>
                    </div>
                    <div class="feed-container-top"></div>
                    <div class="pop-content clearfix">
                        <div class="feed-hd">
                            <div class="feed-basic">
                                <a target="_blank" href="http://smokj.diandian.com" class="feed-user">水末空间</a></div>
                        </div>
                        <div class="feed-bd">
                            <div class="feed-ct">
                                <h4 class="feed-title">Nuon Office——多彩办公空间设计</h4>
                                <div class="feed-img-thumb post-some-img clearfix">
                                    <div class="feed-photo-layout-row first clearfix">
                                        <div class="feed-photo-layout-cell first" style="height:340.0px;width:410px;">
                                            <img class="feed-img" imgsrc="http://m3.img.papaapp.com/farm4/d/2014/0223/09/8D961D60EB291802377393C4A047EA53_B500_900_500_340.jpeg" width="500" data-lazyload="true" data-origin-info="http://m3.img.papaapp.com/farm4/d/2014/0223/09/8D961D60EB291802377393C4A047EA53_B1280_1280_1200_816.jpeg:1200.0:816.0:8D961D60EB291802377393C4A047EA53:0" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m3.img.papaapp.com/farm4/d/2014/0223/09/8D961D60EB291802377393C4A047EA53_B500_900_500_340.jpeg">
                                        </div></div>
                                    <div class="feed-photo-layout-row  clearfix">
                                        <div class="feed-photo-layout-cell first" style="height:88.8px;width: 130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm5/d/2014/0223/09/069B8CD32A46AE4E1E60DF2D759488E2_B250_400_250_339.jpeg" width="160" data-lazyload="true" data-origin-info="http://m2.img.papaapp.com/farm5/d/2014/0223/09/069B8CD32A46AE4E1E60DF2D759488E2_B1280_1280_640_870.jpeg:640.0:870.0:069B8CD32A46AE4E1E60DF2D759488E2:1" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm5/d/2014/0223/09/069B8CD32A46AE4E1E60DF2D759488E2_B250_400_250_339.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell " style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m3.img.papaapp.com/farm5/d/2014/0223/09/E6AB9707903EF1F00A09EAACD4C64A27_B250_400_250_170.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/E6AB9707903EF1F00A09EAACD4C64A27_B1280_1280_1200_816.jpeg:1200.0:816.0:E6AB9707903EF1F00A09EAACD4C64A27:2" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m3.img.papaapp.com/farm5/d/2014/0223/09/E6AB9707903EF1F00A09EAACD4C64A27_B250_400_250_170.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell last" style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m3.img.papaapp.com/farm5/d/2014/0223/09/B0C7CC69CB7EB9CF21271AC0245F2333_B250_400_250_339.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/B0C7CC69CB7EB9CF21271AC0245F2333_B1280_1280_640_870.jpeg:640.0:870.0:B0C7CC69CB7EB9CF21271AC0245F2333:3" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m3.img.papaapp.com/farm5/d/2014/0223/09/B0C7CC69CB7EB9CF21271AC0245F2333_B250_400_250_339.jpeg">
                                        </div></div>
                                    <div class="feed-photo-layout-row  clearfix">
                                        <div class="feed-photo-layout-cell first" style="height:57.68px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm4/d/2014/0223/09/7BEC3C7A49122A08CF59F48B08503820_B250_400_250_170.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm4/d/2014/0223/09/7BEC3C7A49122A08CF59F48B08503820_B1280_1280_1200_816.jpeg:1200.0:816.0:7BEC3C7A49122A08CF59F48B08503820:4" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm4/d/2014/0223/09/7BEC3C7A49122A08CF59F48B08503820_B250_400_250_170.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell " style="height:57.68px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm4/d/2014/0223/09/28DE24E59A08B0DCC351438462F20BEB_B250_400_250_111.jpeg" width="160" data-lazyload="true" data-origin-info="http://m2.img.papaapp.com/farm4/d/2014/0223/09/28DE24E59A08B0DCC351438462F20BEB_B1280_1280_1200_533.jpeg:1200.0:533.0:28DE24E59A08B0DCC351438462F20BEB:5" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm4/d/2014/0223/09/28DE24E59A08B0DCC351438462F20BEB_B250_400_250_111.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell last" style="height:57.68px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m3.img.papaapp.com/farm5/d/2014/0223/09/ED0539428577E040DDD34096D641D315_B250_400_250_339.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/ED0539428577E040DDD34096D641D315_B1280_1280_640_870.jpeg:640.0:870.0:ED0539428577E040DDD34096D641D315:6" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m3.img.papaapp.com/farm5/d/2014/0223/09/ED0539428577E040DDD34096D641D315_B250_400_250_339.jpeg">
                                        </div></div>
                                    <div class="feed-photo-layout-row last clearfix">
                                        <div class="feed-photo-layout-cell first" style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm5/d/2014/0223/09/6E9B982F33BA2C621667855C1E7D0CF4_B250_400_250_339.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/6E9B982F33BA2C621667855C1E7D0CF4_B1280_1280_640_870.jpeg:640.0:870.0:6E9B982F33BA2C621667855C1E7D0CF4:7" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm5/d/2014/0223/09/6E9B982F33BA2C621667855C1E7D0CF4_B250_400_250_339.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell " style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m2.img.papaapp.com/farm4/d/2014/0223/09/A02B9372EC23D76A9332D450C79DBD49_B250_400_250_170.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm4/d/2014/0223/09/A02B9372EC23D76A9332D450C79DBD49_B1280_1280_1200_816.jpeg:1200.0:816.0:A02B9372EC23D76A9332D450C79DBD49:8" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m2.img.papaapp.com/farm4/d/2014/0223/09/A02B9372EC23D76A9332D450C79DBD49_B250_400_250_170.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell last" style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm5/d/2014/0223/09/20F81F540094006E2C9B7322698B302E_B250_400_250_170.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/20F81F540094006E2C9B7322698B302E_B1280_1280_1200_816.jpeg:1200.0:816.0:20F81F540094006E2C9B7322698B302E:9" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm5/d/2014/0223/09/20F81F540094006E2C9B7322698B302E_B250_400_250_170.jpeg">
                                        </div></div>
                                    <div class="feed-img-desc rich-content"><p>“世界突然灰蒙蒙，</p><p>就算整个世界被雾霾都打败，</p><p>也要仔细找到我呢。”</p><p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——我爱你写给我的任何句子</p></div>
                                </div>
                            </div>
                            <div class="feed-tag clearfix">
                                <a href="http://www.diandian.com/tag/%E5%8A%A8%E6%BC%AB" class="editor-pick-tag ">#动漫</a>
                                <a href="http://www.diandian.com/tag/%E4%BA%8C%E6%AC%A1%E5%85%83" class=" ">#二次元</a>
                                <a href="http://www.diandian.com/tag/%E6%8F%92%E7%94%BB" class=" ">#插画</a>
                                <a href="http://www.diandian.com/tag/%E6%89%8B%E7%BB%98" class=" last">#手绘</a></div>
                            <div class="feed-act">
                                <a title="喜欢" class="feed-not-login feed-fav ">喜欢</a>
                                <span class="feed-not-login feed-rt">转载</span>
<span class="feed-not-login feed-cmt" data-nid="72383eb0-9b04-11e3-b2ec-d4ae52a7bec4">
回应</span><span data-type="photo" data-nid="72383eb0-9b04-11e3-b2ec-d4ae52a7bec4" class="feed-not-login feed-nt">热度(4)</span></div>

                        </div>
                    </div>
                    <div class="feed-container-bottom"></div>
                </div>
             </div>
         </div>
    </div>
    <div class="right-part">
        <div class="feed-list">
            <div class="feed">
                <div class="feed-content-holder pop">
                    <div class="pop-triangle-l"></div>
                    <div class="link-to-post-holder" style="display: none;">
                        <div class="link-to-post-inner" style="background-position: 0px -15px;">
                            <a href="http://smokj.diandian.com/post/2014-02-23/40061073006" target="_blank" class="link-to-post" title="查看文章 - 09:40">查看文章</a>
                        </div>
                    </div>
                    <div class="feed-container-top"></div>
                    <div class="pop-content clearfix">
                        <div class="feed-hd">
                            <div class="feed-basic">
                                <a target="_blank" href="http://smokj.diandian.com" class="feed-user">水末空间</a></div>
                        </div>
                        <div class="feed-bd">
                            <div class="feed-ct">
                                <h4 class="feed-title">Nuon Office——多彩办公空间设计</h4>
                                <div class="feed-img-thumb post-some-img clearfix">
                                    <div class="feed-photo-layout-row first clearfix">
                                        <div class="feed-photo-layout-cell first" style="height:340.0px;width:410px;">
                                            <img class="feed-img" imgsrc="http://m3.img.papaapp.com/farm4/d/2014/0223/09/8D961D60EB291802377393C4A047EA53_B500_900_500_340.jpeg" width="500" data-lazyload="true" data-origin-info="http://m3.img.papaapp.com/farm4/d/2014/0223/09/8D961D60EB291802377393C4A047EA53_B1280_1280_1200_816.jpeg:1200.0:816.0:8D961D60EB291802377393C4A047EA53:0" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m3.img.papaapp.com/farm4/d/2014/0223/09/8D961D60EB291802377393C4A047EA53_B500_900_500_340.jpeg">
                                        </div></div>
                                    <div class="feed-photo-layout-row  clearfix">
                                        <div class="feed-photo-layout-cell first" style="height:88.8px;width: 130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm5/d/2014/0223/09/069B8CD32A46AE4E1E60DF2D759488E2_B250_400_250_339.jpeg" width="160" data-lazyload="true" data-origin-info="http://m2.img.papaapp.com/farm5/d/2014/0223/09/069B8CD32A46AE4E1E60DF2D759488E2_B1280_1280_640_870.jpeg:640.0:870.0:069B8CD32A46AE4E1E60DF2D759488E2:1" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm5/d/2014/0223/09/069B8CD32A46AE4E1E60DF2D759488E2_B250_400_250_339.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell " style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m3.img.papaapp.com/farm5/d/2014/0223/09/E6AB9707903EF1F00A09EAACD4C64A27_B250_400_250_170.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/E6AB9707903EF1F00A09EAACD4C64A27_B1280_1280_1200_816.jpeg:1200.0:816.0:E6AB9707903EF1F00A09EAACD4C64A27:2" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m3.img.papaapp.com/farm5/d/2014/0223/09/E6AB9707903EF1F00A09EAACD4C64A27_B250_400_250_170.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell last" style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m3.img.papaapp.com/farm5/d/2014/0223/09/B0C7CC69CB7EB9CF21271AC0245F2333_B250_400_250_339.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/B0C7CC69CB7EB9CF21271AC0245F2333_B1280_1280_640_870.jpeg:640.0:870.0:B0C7CC69CB7EB9CF21271AC0245F2333:3" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m3.img.papaapp.com/farm5/d/2014/0223/09/B0C7CC69CB7EB9CF21271AC0245F2333_B250_400_250_339.jpeg">
                                        </div></div>
                                    <div class="feed-photo-layout-row  clearfix">
                                        <div class="feed-photo-layout-cell first" style="height:57.68px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm4/d/2014/0223/09/7BEC3C7A49122A08CF59F48B08503820_B250_400_250_170.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm4/d/2014/0223/09/7BEC3C7A49122A08CF59F48B08503820_B1280_1280_1200_816.jpeg:1200.0:816.0:7BEC3C7A49122A08CF59F48B08503820:4" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm4/d/2014/0223/09/7BEC3C7A49122A08CF59F48B08503820_B250_400_250_170.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell " style="height:57.68px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm4/d/2014/0223/09/28DE24E59A08B0DCC351438462F20BEB_B250_400_250_111.jpeg" width="160" data-lazyload="true" data-origin-info="http://m2.img.papaapp.com/farm4/d/2014/0223/09/28DE24E59A08B0DCC351438462F20BEB_B1280_1280_1200_533.jpeg:1200.0:533.0:28DE24E59A08B0DCC351438462F20BEB:5" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm4/d/2014/0223/09/28DE24E59A08B0DCC351438462F20BEB_B250_400_250_111.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell last" style="height:57.68px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m3.img.papaapp.com/farm5/d/2014/0223/09/ED0539428577E040DDD34096D641D315_B250_400_250_339.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/ED0539428577E040DDD34096D641D315_B1280_1280_640_870.jpeg:640.0:870.0:ED0539428577E040DDD34096D641D315:6" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m3.img.papaapp.com/farm5/d/2014/0223/09/ED0539428577E040DDD34096D641D315_B250_400_250_339.jpeg">
                                        </div></div>
                                    <div class="feed-photo-layout-row last clearfix">
                                        <div class="feed-photo-layout-cell first" style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm5/d/2014/0223/09/6E9B982F33BA2C621667855C1E7D0CF4_B250_400_250_339.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/6E9B982F33BA2C621667855C1E7D0CF4_B1280_1280_640_870.jpeg:640.0:870.0:6E9B982F33BA2C621667855C1E7D0CF4:7" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm5/d/2014/0223/09/6E9B982F33BA2C621667855C1E7D0CF4_B250_400_250_339.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell " style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m2.img.papaapp.com/farm4/d/2014/0223/09/A02B9372EC23D76A9332D450C79DBD49_B250_400_250_170.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm4/d/2014/0223/09/A02B9372EC23D76A9332D450C79DBD49_B1280_1280_1200_816.jpeg:1200.0:816.0:A02B9372EC23D76A9332D450C79DBD49:8" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m2.img.papaapp.com/farm4/d/2014/0223/09/A02B9372EC23D76A9332D450C79DBD49_B250_400_250_170.jpeg">
                                        </div>
                                        <div class="feed-photo-layout-cell last" style="height:88.8px;width:130px;">
                                            <img class="feed-img" imgsrc="http://m1.img.papaapp.com/farm5/d/2014/0223/09/20F81F540094006E2C9B7322698B302E_B250_400_250_170.jpeg" width="160" data-lazyload="true" data-origin-info="http://m1.img.papaapp.com/farm5/d/2014/0223/09/20F81F540094006E2C9B7322698B302E_B1280_1280_1200_816.jpeg:1200.0:816.0:20F81F540094006E2C9B7322698B302E:9" alt="创意,建筑,空间,设计,办公空间,室内设计,艺术,水末空间" src="http://m1.img.papaapp.com/farm5/d/2014/0223/09/20F81F540094006E2C9B7322698B302E_B250_400_250_170.jpeg">
                                        </div></div>
                                    <div class="feed-img-desc rich-content"><p>“世界突然灰蒙蒙，</p><p>就算整个世界被雾霾都打败，</p><p>也要仔细找到我呢。”</p><p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——我爱你写给我的任何句子</p></div>
                                </div>
                            </div>
                            <div class="feed-tag clearfix">
                                <a href="http://www.diandian.com/tag/%E5%8A%A8%E6%BC%AB" class="editor-pick-tag ">#动漫</a>
                                <a href="http://www.diandian.com/tag/%E4%BA%8C%E6%AC%A1%E5%85%83" class=" ">#二次元</a>
                                <a href="http://www.diandian.com/tag/%E6%8F%92%E7%94%BB" class=" ">#插画</a>
                                <a href="http://www.diandian.com/tag/%E6%89%8B%E7%BB%98" class=" last">#手绘</a></div>
                            <div class="feed-act">
                                <a title="喜欢" class="feed-not-login feed-fav ">喜欢</a>
                                <span class="feed-not-login feed-rt">转载</span>
<span class="feed-not-login feed-cmt" data-nid="72383eb0-9b04-11e3-b2ec-d4ae52a7bec4">
回应</span><span data-type="photo" data-nid="72383eb0-9b04-11e3-b2ec-d4ae52a7bec4" class="feed-not-login feed-nt">热度(4)</span></div>

                        </div>
                    </div>
                    <div class="feed-container-bottom"></div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>

</div>

}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/page.js")
</script>
}


