@(user:Option[models.user.User])
@views.html.template(user,nav="index",subNav="find")(css="/assets/css/template/page.css"){


<div class="container find">

    <div class="row">
        <section class="mod-header">
            <ul>

                <li><a href="">最新图说</a></li>
                <li class="on"><a href="">一周热门</a></li>
                <li><a href="">月度热门</a></li>
                <li class="sort">
                    <a href="javascript:void(0)"  id="J_diagram_sort">发现更多</a>
                    <dl class="dropdown diagram-dropdown">

                        <dd><a href="#">动物世界</a></dd>
                        <dd><a href="#">发布图说</a></dd>
                        <dd><a href="#">发布图说</a></dd>
                        <dd><a href="#">发布图说</a></dd>
                        <dd><a href="#">发布图说</a></dd>
                        <dd><a href="#">发布图说</a></dd>
                        <dd><a href="#">发布图说</a></dd>
                        <dd><a href="#">发布图说</a></dd>
                    </dl>
                </li>
            </ul>
        </section>
        <section class="mod-body">
            <div class="main">
                <div class="diagrams">
                    <dl class="diagram clearfix">
                        <dt class="diagram-content fl">
                        <div class="pic">
                            <a> <img src="/images/diagram.jpg" width="460"> </a>
                            <a> <img src="/images/diagram.jpg" width="460"> </a>
                            <a> <img src="/images/diagram.jpg" width="460"> </a>
                            <a> <img src="/images/diagram.jpg" width="460"> </a>
                        </div>
                        <div class="intro">
                            好玩的图片大幅度打发打发打发打发打发打发打发打发代发地方大幅度发大幅度
                        </div>

                        </dt>
                        <dd class="diagram-info fr">
                            <div class="pin">
                                <h3 class="title"><a href="/diagram/1"> 帅哥传奇 </a> </h3>
                                <div class="user-info">
                                    <span class="user-img">
                                        <a href=""><img src="http://eachcloudasia.blob.core.windows.net/userimg/cd8f8585a1d646239c5158ad5d163d60.png"width="36" height="36"></a>
                                    </span>
                                    <span class="user-name"><a href="">嗨喔喔 </a> </span>
                                </div>
                                <div class="meta">
                                    <div class="like-common like-common-s" >
                                        <a  class="like" rel="followGoods" href="javascript:void(0)" data-id="" title="喜欢"><i>喜欢</i></a>
                                        <div class="like-num">
                                            <dl class="J_scrollUp">
                                                <dd class="J_FavorNum" data-val="1">3</dd>
                                                <dd>+1</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="share-link clearfix" data-sharetxt="" data-sharepic="" data-sharelink="">


                                        <a class="s-sina fl" href="javascript:;" data-type="s-sina" alt="分享到新浪微博"></a>
                                        <a class="s-qzone fl" href="javascript:;" data-type="s-qzone" alt="分享到QQ空间"></a>
                                        <a class="s-tencent fl" href="javascript:;" data-type="s-tencent" alt="分享到腾讯微博"></a>
                                        <a class="s-renren fl" href="javascript:;" data-type="s-renren" alt="分享到人人网"></a>
                                        <a class="s-qq fl" href="javascript:;" data-type="s-qq" alt="分享到qq"></a>
                                        <a class="s-douban fl" href="javascript:;" data-type="s-douban" alt="分享到豆瓣"></a>
                                    </div>
                                    <div class="discuss">
                                        <a href=""> 220评论  </a>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="pagin"></div>
            </div>
            <div class="side"> side </div>
        </section>


    </div>

</div>




}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/page.js")
</script>
}


