@(user:Option[models.user.User],typeId:Int,sortBy:String)
@views.html.template(user)(css="/assets/css/template/forum.css"){


<div class="container forum">
    <div class="row">
        <div class="forum-main">
            <div class="forum-stitle">
                <form class="search-forum clearfix" action="@controllers.routes.Forums.search" method="get">
                    <input name="text" type="text" class="s-text fl" value="" id="J_STxte">
                    <input type="submit" class="forum-sbtn fr" value="搜索">
                </form>
                <div class="clearfix mt10">
                    <div class="fl mt5">
                        <a href='@controllers.routes.Pages.forum(-1,sortBy)' class='@("on".when(typeId == -1 ))'>全部</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Pages.forum(1,sortBy)' class='@("on".when(typeId == 1 ))'>知识</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Pages.forum(2,sortBy)' class='@("on".when(typeId == 2 ))'>问答</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Pages.forum(3,sortBy)' class='@("on".when(typeId == 3 ))'>活动</a>
                        <span class="sp">|</span>
                        <span class="ml5">排序：</span>
                        <a href='@controllers.routes.Pages.forum(typeId,"new")' class='@("on".when(sortBy == "new" ))'>最新发布</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Pages.forum(typeId,"discuss")' class='@("on".when(sortBy == "discuss" ))'>最多回复</a>
                        <span class="sp">-</span>
                        <a href='@controllers.routes.Pages.forum(typeId,"love")' class='@("on".when(sortBy == "love" ))'>最受欢迎</a>
                    </div>
                    <div class="fr">
                        <a title="关闭搜索" href="@controllers.routes.Forums.search" class="forum-cbtn" id="J_CSearch">关闭搜索</a>
                    </div>
                </div>


            </div>
            <!-- filter -->
            <div class="forum-ltitle clearfix">
                <div class="fl">
                    <a href='@controllers.routes.Pages.forum(-1,sortBy)' class='@("on".when(typeId == -1 ))'>全部</a>
                    <span class="sp">-</span>
                    <a href='@controllers.routes.Pages.forum(1,sortBy)' class='@("on".when(typeId == 1 ))'>知识</a>
                    <span class="sp">-</span>
                    <a href='@controllers.routes.Pages.forum(2,sortBy)' class='@("on".when(typeId == 2 ))'>问答</a>
                    <span class="sp">-</span>
                    <a href='@controllers.routes.Pages.forum(3,sortBy)' class='@("on".when(typeId == 3 ))'>活动</a>
                    <span class="sp">|</span>
                    <span class="ml5">排序：</span>
                    <a href='@controllers.routes.Pages.forum(typeId,"new")' class='@("on".when(sortBy == "new" ))'>最新发布</a>
                    <span class="sp">-</span>
                    <a href='@controllers.routes.Pages.forum(typeId,"discuss")' class='@("on".when(sortBy == "discuss" ))'>最多回复</a>
                    <span class="sp">-</span>
                    <a href='@controllers.routes.Pages.forum(typeId,"love")' class='@("on".when(sortBy == "love" ))'>最受欢迎</a>
                </div>
                <div class="fr">
                    <a title="搜索" class="search" id="J_SearchFBtn" href="javascript:;">
                        <span class="s-icon"></span>
                    </a>
                </div>
                <div class="fr mr10">
                    <a title="创建话题" href="@controllers.routes.Forums.edit(0)" class="createTopic">创建话题</a>
                </div>
            </div>
            <!-- list -->
            <div class="forum-list">
                <div class="unit clearfix">
                    <div class="fl type">
                        <div class="reply-count">
                            <div class="fs18 pt5 gc6">62</div>
                            <div class="fs12 gc">回帖</div>
                        </div>
                        <a class="type-btn totop">置顶</a>
                    </div>
                    <div class="fr info">
                        <div class="clearfix mt5">
                            <h2 class="fl"><a href="/forum/post/608976" target="_blank"
                                              title="#今日精选主题有偿征集#下周主题方向——自由发挥~~~"> #今日精选主题有偿征集#下周主题方向——自由发挥~~~</a></h2>

                            <div class="fl page">
                                <a href="/forum/post/608976?p=2" target="_blank">2</a>
                                <a href="/forum/post/608976?p=3" target="_blank">3</a>
                                <a href="/forum/post/608976?p=4" target="_blank">4</a>


                            </div>
                            <div class="fr talk-people">
                                <a rel="usercard" data-id="1598520" class="u-reply g-daren" href="u/1598520"
                                   target="_blank">
                                    <span class="inlineblock ofh">苏里</span>
                                    <i class="i-daren">达人</i>
                                </a>
                                <span class="gc ml5">01-22 18:41</span>
                            </div>
                        </div>
                        <div class="gc mt10">
                            <a class="gc g-daren" rel="usercard" data-id="1004031" href="/u/1004031" target="_blank">
                                <span class="inlineblock ofh">逛逛</span>
                            </a>&nbsp;&nbsp;发表于01-08 17:37 / 1589 个浏览
                        </div>
                        <p class="des">各位， 因为马上要过年了，没来由地就很想庆祝的心情你们懂嘛！ 于是决定，年前的主题就让大家自由发挥好了~ 但是，还是有要求的呐， 请要按下面的分类要求来投稿哦
                            …</p>

                        <div class="sourceHtml dn">[p]各位， [/p] [p] [s] [s] 因为马上要过年了，没来由地就很想庆祝的心情你们懂嘛！ [/p] [p] [s] [s]
                            于是决定，年前的主题就让大家自由发挥好了~ [/p] [p] [s] [s] 但是，还是有要求的呐， [/p] [p] [s] [s] 请要按下面的分类要求来投稿哦 [/p] [p]
                            [br] [/p] [p] [s] [s]周一：生活日常 [/p] [p] [s] [s]周二：时尚潮流 [/p] [p] [s] [s]周三：热点、爱好 [/p] [p] [s]
                            [s]周四：时尚潮流 [/p] [p] [s] [s]周五：时尚潮流 [s] [/p] [p] [br] [/p] [p]欢迎大家踊跃投稿！！！ [/p] [p] [/p] [p]
                            [/p] [p] [fontdd0000]# 投稿在本帖回复主题即可，请注明是投哪一天的主题。 [/font] [/p] [p] [br] [/p] [p] [font4dd0000]
                            [b]查看【我要上首页之#今日精选主题有偿征集#】详细规则请点击： [/b] [/font]<a href="http://guang.com/forum/post/601234"
                                                                             target="_blank">http://guang.com/forum/post/601234</a>
                            [/p] [p] [/p] [p] [/p] [p]鲜花 [s] [/p] [p] [/p] [p] [s] [s] [s] [/p] [p] [br] [/p] [p] [br]
                            [/p]
                        </div>
                        <div class="image-jsonStr dn">{}</div>
                        <div class="video-jsonStr dn">{}</div>
                        <div class="topic-preview">
                            <a class="pic-list clearfix gc" href="/forum/post/608976" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side">
            <div class="ad">
                <a href="/huabao?gad=tlbgg" target="_blank">
                    <img src="http://s4.img.guang.com/site/2013/12/16/promotion_44_1_1782447316166.jpg" width="240"
                         height="130" alt="逛画报" title="逛画报">
                </a>
            </div>

            <div class="box">
                <div class="hd">
                    <h3>公告栏</h3>
                </div>
                <p class="bd" id="J_NoticeCon">
                    和谐社会，你我共建～
                </p>

            </div>

        </div>



    </div>


</div>

}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/index.js")
</script>
}


