
@views.html.template()(css="/assets/css/template/index.css"){


 <div class="container" style=" height: 800px">
            <div class="row">
                <div class="main">
                    <div class="coll">
                        dfdfdfdfdfdfdf
                    </div>
                    <div class="colr">
                        我是伟大的方靖
                    </div>
                </div>
                <div class="side">
                    left left     l
                </div>

            </div>


</div>

}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/index.js")
</script>
}


