
@views.html.template()(css="/assets/css/template/index.css"){


 <div class="container index">
            <div class="row">
                <div class="main">
                    <div class="coll">
                        <p class="desc">
                            <em>编辑导语：</em>爱是小编也想不清楚的问题啊！~~
                        </p>
                        <div class="pic-panel">
                            <i class="tri"></i>
                            <a href="" class="face">
                                <img src="/assets/temp/2.jpg" alt="吴瑕">
                            </a>
                            <a class="favor" href="javascript:;"><i></i></a>
                            <div class="pic-info">
                                <span class="title">我们都老了</span>
                                <span class="artist"><a href="">吴瑕</a></span>

                            </div>
                        </div>
                    </div>
                    <div class="colr">
                        <div class="pic-panel">
                            <i class="tri"></i>
                            <a href="" class="face">
                                <img src="/assets/temp/3.jpg" alt="吴瑕">
                            </a>
                            <a class="favor" href="javascript:;"><i></i></a>
                            <div class="pic-info">
                                <span class="title">我们都老了</span>
                                <span class="artist"><a href="">吴瑕</a></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="side">
                    left left     l
                </div>

            </div>


</div>

}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/index.js")
</script>
}


