@(user:Option[models.user.User],page:models.Page[(models.diagram.Diagram,models.user.User)],notices:List[models.advert.Advert])
@views.html.template(user,nav="index",subNav="index")(css="/assets/css/template/page.css"){


<div class="banner">
    <ul>
        <li style="background-image: url('/assets/images/start.jpg');">
            <div class="inner">
                <h1>嗨喔喔，每天都是快乐的开始</h1>
                <p></p>


            </div>
        </li>

        <li style="background-image: url('/assets/images/day.jpg');">
            <div class="inner">
                <h1>每时每刻，都有一道身影，唤醒我对快乐的渴望</h1>
                <p></p>

                
            </div>
        </li>
		      <li style="background-image: url('/assets/images/love.jpg');">
            <div class="inner">
                <h1>站在你身后的，不仅是你的家人</h1>
                <p></p>

                
            </div>
        </li>
  

        <li style="background-image: url('/assets/images/family.jpg');">
            <div class="inner">
			
                <h1>南来或北往，无论贵贱，不舍不弃</h1>
                <p></p>

                
            </div>
        </li>

    </ul>
</div>
<div class="container index">

    <div class="row">


        <div class="main">

            <div class="items clearfix">
                @for((diagram,user)<-page.items ){
                <div class="item">
                    <div class="content">
                        <h2>
                            <a href="@controllers.routes.Diagrams.diagram(diagram.id.get)" target="_blank" class="title ofh">@diagram.title</a>
                        </h2>
                        <div class="desc">
                            <div class="pics">
                                <div  class="pics-list">
                                   @Html(diagram.content.getOrElse(""))
                                </div>
                                <div class="pics-hidden"></div>
                            </div>
                            <div class="pics-too-high-close">收起</div>
                            <div class="intro">
                                @Html(diagram.intro.getOrElse(""))
                            </div>
                        </div>

                    </div>
                    <div class="meta">

                        <div class="user">
                            <a href="@controllers.users.routes.Users.home(user.id.get)" target="_blank"><img src="@user.pic" class="img-circle" width="45" height="45"> <span>@user.name</span> </a>
                            <i class="time"> @utils.Utils.getInterval(diagram.modifyTime.get) </i>
                        </div>

                        <div class="extra">
                            <div class="thumbs">
                                <a class="mr15" href="javascript:void(0)" rel="thumbsUp" title="赞成" data-id="@diagram.id.get"> <span class="glyphicon glyphicon-thumbs-up"></span><i class="J_FavorNum" data-val="@diagram.loveNum">@diagram.loveNum</i></a>
                                <a  href="javascript:void(0)" rel="thumbsDown" title="不喜欢" data-id="@diagram.id.get"><span class="glyphicon glyphicon-thumbs-down"></span><i class="J_hateNum" data-val="@diagram.hateNum">@diagram.hateNum</i> </a>
                            </div>
                            <div class="share">
                                <div class="bdsharebuttonbox" id="diagram_@diagram.id.get" data-title="@diagram.title" data-desc='@diagram.intro.getOrElse("")' data-url="@controllers.routes.Diagrams.diagram(diagram.id.get)" data-pic="@diagram.pic" data-tag="diagram_@diagram.id.get">

                                    <a href="#" class="bds_qzone" data-cmd="qzone" data-id="@diagram.id" onmousedown="diagramShare(@diagram.id.get);"></a>
                                    <a href="#" class="bds_weixin" data-cmd="weixin" data-id="@diagram.id" onmousedown="diagramShare(@diagram.id.get);"></a>
                                    <a href="#" class="bds_tsina" data-cmd="tsina" data-id="@diagram.id" onmousedown="diagramShare(@diagram.id.get);"></a>
                                    <a href="#" class="bds_sqq" data-cmd="sqq" data-id="@diagram.id" onmousedown="diagramShare(@diagram.id.get);"></a>
                                    <a href="#" class="bds_count" data-cmd="count"></a>
                                </div>
                            </div>
                          <!-- <div class="others">
                               <a class="collect" rel="collectDiagram" href="javascript:void(0)" title="收藏" data-id="@diagram.id.get"><span class="glyphicon glyphicon-star-empty"></span><i class="J_collectNum">@diagram.collectNum</i></a>
                           </div>-->

                        </div>


                    </div>
                </div>
                }

            </div>


            <div class="pagin inlineblock fr mt10" id="J_Pagination">
                @if(page.nums.length>1){
                @page.prev.map { page =>
                <a class="prev" href="@controllers.routes.Pages.index(page,10)">上一页</a>
                }
                @for(num <-page.nums){
                @if(num==page.currentPage){
                <span class="current" >@num</span>
                }else {
                <a href="@controllers.routes.Pages.index(num,10)">@num</a>
                }
                }
                @page.next.map { page =>
                <a class="next" href="@controllers.routes.Pages.index(page,10)">下一页</a>
                }
                }
            </div>
        </div>
        <div class="side">
            <!-- 公告 -->
            <div class="notices clearfix">
                <i class="glyphicon glyphicon-volume-up"></i>
                <div id="J_notices" class="box">
                    <ul >
                        @for(advert <- notices){
                        <li><a href="@advert.link" title="@advert.title" target='_blank'>@advert.title</a></li>
                        }
                    </ul>
                </div>
            </div>
            <!-- 发布 -->
            <div class="i-want-post">
                <a href="@controllers.routes.Diagrams.add" target="_blank"><img src="/assets/images/i_post.gif"></a>
            </div>
            <!-- 关注我们 -->
            <h3 class="title"><b>关注我们</b></h3>
            <div class="follow-us">
                <a href="javascript:void(0);" class="weixin"></a>
                <a href="http://weibo.com/hiwowo" class="weibo" target="_blank" rel="nofollow"></a>
                <a href="http://user.qzone.qq.com/2081088312" class="qq-zone" target="_blank" rel="nofollow"></a>

            </div>

            <div class="qr">
                <img src="/assets/images/qr_hiwowo.jpg" width="270" height="270" alt="嗨喔喔 微信号">
            </div>
        </div>


        </div>
    </div>



}{
<script type="text/javascript">
    seajs.use(["hiwowo/pages/index","hiwowo/user/userOperate"])
</script>
}


