@(user:Option[models.user.User])
@views.html.template(user,nav="my",subNav="my")(css="/assets/css/template/my.css"){


 <div class="container my">
     <div class="my-header">
         <div class="userLeft">
             <ul>
                 <li >粉丝<a href="">0</a></li>
                 <li >|</li>
                 <li >关注<a href="">6</a></li>
                 <li >|</li>
                 <li >部落<a href="">4</a>
                 </li>
                 <li >|</li>
                 <li >那些事<a href="">0</a>
                 </li>
             </ul>
         </div>
         <div class="userRight">
             <div class="usericon">
                 <ul>
                     <li ><img class="js_click" style="cursor:pointer;"src="http://tp2.sinaimg.cn/1526846353/180/1294222011/1" alt="正牌七公"></li>
                     <li ><a title="正牌七公" href="/ownboard/247002fca85048188ee39fdf00232bfc.clip">正牌七公</a></li>
                     <li class="sns" ><a href="javascript:void(0);" class="follow js_follow" style="">关注</a>
                         <a href="javascript:void(0);" class="unfollow js_unfollow" style="display:none;">已关注</a>
                         <a href="javascript:void(0);" class="mail js_mail" style="">私信</a>
                         <a href="http://weibo.com/u/1526846353" class="weibo" title="正牌七公" target="_blank"> <img src="http://vfancn.blob.core.chinacloudapi.cn/image/weibo.gif">正牌七公</a>

                         <div class="clear"></div>

                     </li>
                 </ul>
             </div>
         </div>
     </div>
            <div class="row">

                <div class="main">
                    <div class="coll">
                        <p class="desc">
                            <em>编辑导语：</em>爱是小编也想不清楚的问题啊！~~
                        </p>
                        <div class="pic-panel">
                            <i class="tri"></i>
                            <a href="" class="face">
                                <img src="/assets/temp/2.jpg" alt="吴瑕">
                            </a>
                            <a class="favor" href="javascript:;"><i></i></a>
                            <div class="pic-info">
                                <span class="title">我们都老了</span>
                                <span class="artist"><a href="">吴瑕</a></span>

                            </div>
                        </div>
                    </div>
                    <div class="colr">
                        <div class="pic-panel">
                            <i class="tri"></i>
                            <a href="" class="face">
                                <img src="/assets/temp/3.jpg" alt="吴瑕">
                            </a>
                            <a class="favor" href="javascript:;"><i></i></a>
                            <div class="pic-info">
                                <span class="title">我们都老了</span>
                                <span class="artist"><a href="">吴瑕</a></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="side">
                    left left     l
                </div>

            </div>


</div>

}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/index.js")
</script>
}


