@(user:Option[models.user.User],page:models.Page[(models.diagram.Diagram,models.user.User)],typeId:Int)
@views.html.template(user,nav="index",subNav=typeId.toString)(css="/assets/css/template/page.css"){

<div class="banner">
    <ul>
        <li style="background-image: url('/images/sunset.jpg');">
            <div class="inner">
                <h1>The jQuery slider that just slides.</h1>
                <p>No fancy effects or unnecessary markup, and it’s less than 3kb.</p>

                <a class="btn" href="#download">Download</a>
            </div>
        </li>

        <li style="background-image: url('/images/wood.jpg');">
            <div class="inner">
                <h1>Fluid, flexible, fantastically minimal.</h1>
                <p>Use any HTML in your slides, extend with CSS. You have full control.</p>

                <a class="btn" href="#download">Download</a>
            </div>
        </li>

        <li style="background-image: url('/images/subway.jpg');">
            <div class="inner">
                <h1>Open-source.</h1>
                <p>Everything to do with Unslider is hosted on GitHub.</p>

                <a class="btn" href="//github.com/idiot/unslider">Contribute</a>
            </div>
        </li>

        <li style="background-image: url('/images/shop.jpg');">
            <div class="inner">
                <h1>Uh, that’s about it.</h1>
                <p>I just wanted to show you another slide.</p>

                <a class="btn" href="#download">Download</a>
            </div>
        </li>
    </ul>
</div>
<div class="container pets">

    <div class="row">
        <div class="main">

            <div class="items clearfix">
                @for((diagram,user)<-page.items ){
                <div class="item">
                    <div class="content">
                        <h2>
                            <a href="@controllers.routes.Diagrams.diagram(diagram.id.get)" target="_blank" class="title">@diagram.title</a>
                        </h2>
                        <div class="desc">
                            <div class="pics">
                                <div  class="pics-list">
                                    @Html(diagram.content.getOrElse(""))
                                </div>
                                <div class="pics-hidden"></div>
                            </div>
                            <div class="pics-too-high-close">收起</div>
                            <div class="intro">
                                @Html(diagram.intro.getOrElse(""))
                            </div>
                        </div>

                    </div>
                    <div class="meta">

                        <div class="user">
                            <a href="@controllers.users.routes.Users.home(user.id.get)" target="_blank"><img src="@user.pic" class="img-circle" width="45" height="45"> <span>@user.name</span> </a>
                            <i class="time"> @utils.Utils.getInterval(diagram.modifyTime.get) </i>
                        </div>

                        <div class="extra">
                            <div class="thumbs">
                                <a class="up" href="" title="赞成"> <span class="glyphicon glyphicon-thumbs-up"></span><i>@diagram.loveNum</i></a>
                                <a class="down" href=" " title="不喜欢"><span class="glyphicon glyphicon-thumbs-down"></span><i>@diagram.hateNum</i> </a>
                            </div>
                            <div class="others">
                                <a class="comment" href="" title="评论"><span class="glyphicon glyphicon-edit"> </span><i>@diagram.discussNum</i></a>
                                <a class="collect" href="" title="收藏"><span class="glyphicon glyphicon-heart"></span><i>@diagram.collectNum</i></a>
                                <a class="share" title="分享"> <span class="glyphicon glyphicon-share"></span></a>
                            </div>

                        </div>


                    </div>
                </div>
                }

            </div>


            <div class="pagin inlineblock fr mt10" id="J_Pagination">
                @if(page.nums.length>1){
                @page.prev.map { page =>
                <a class="prev" href="@controllers.routes.Pages.index(page,10)">上一页</a>
                }
                @for(num <-page.nums){
                @if(num==page.currentPage){
                <span class="current" >@num</span>
                }else {
                <a href="@controllers.routes.Pages.index(num,10)">@num</a>
                }
                }
                @page.next.map { page =>
                <a class="next" href="@controllers.routes.Pages.index(page,10)">下一页</a>
                }
                }
            </div>
        </div>
        <div class="side">
            <div class="qr">
                <img src="/assets/images/qr_hiwowo.jpg" width="270" height="270" alt="嗨喔喔 微信号">
            </div>
        </div>


    </div>

</div>

}{
<script type="text/javascript">
    seajs.use(["hiwowo/pages/page","hiwowo/user/userOperate"])
</script>
}


