@(user:Option[models.user.User])
@views.html.template(user,nav="index",subNav="diagrams")(css="/assets/css/template/page.css"){


<div class="container pics">

    <div class="row">

        <section class="mod-body">
            <div class="coll">
                <div class="title">
                    <h1>萌死人不偿命</h1>
                    <span><em>/</em> 独家剪辑<em>/</em> </span>
                </div>
            </div>
            <div class="colm">
                <div class="title">
                    <h1>爆笑江湖</h1>
                    <span><em>/</em> 独家剪辑<em>/</em> </span>
                </div>
            </div>
            <div class="colr">
                <div class="title">
                    <h1>神吐槽</h1>
                    <span><em>/</em> 独家剪辑<em>/</em> </span>
                </div>
            </div>
        </section>
        <section class="bd">
            <!-- column left-->
            <div class="coll">

                <div class="wrap">

                    <div class="box">
                        <dl>
                            <dt>
                                <a> <img width="250" height="250" src="/images/1.jpg"> </a>
                            </dt>
                            <dd class="intro ofh">美丽的人啊</dd>
                            <dd class="share"></dd>
                        </dl>
                    </div>


                </div>

            </div>
            <!-- column middle -->
            <div class="colm">

                <div class="wrap">
                    <div class="box">
                        <dl>
                            <dt class="pic">
                                <a>
                                    <img width="250" height="250" border="0"
                                         src="http://mat1.gtimg.com/fashion/2014/02/11/aw5.jpg" alt="设计师Zac Posen">
                                    <i class="shadow"></i>
                                </a>
                            </dt>
                            <dd class="intro ofh">嗨喔喔</dd>
                            <dd class="share ofh"></dd>

                        </dl>

                        <dl>
                            <dt class="pic">
                                <a>
                                    <img width="250" height="250" border="0"
                                         src="http://mat1.gtimg.com/fashion/2014/02/11/aw5.jpg" alt="设计师Zac Posen">
                                    <i class="shadow"></i>
                                </a>
                            </dt>
                            <dd class="intro ofh">嗨喔喔</dd>
                            <dd class="share ofh"></dd>

                        </dl>
                    </div>

                </div>

            </div>
            <!-- column right -->
            <div class="colr">

                <div class="wrap">
                    <div class="box">
                        <dl>
                            <dt>
                                ddd
                            </dt>
                            <dd> sss</dd>
                            <dd>sss</dd>
                        </dl>
                        <dl>
                            <dt>
                                ddd
                            </dt>
                            <dd> sss</dd>
                            <dd>sss</dd>
                        </dl>
                        <dl>
                            <dt>
                                ddd
                            </dt>
                            <dd> sss</dd>
                            <dd>sss</dd>
                        </dl>
                    </div>

                </div>

            </div>
        </section>

    </div>

</div>


}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/page.js")
</script>
}


