@(user:Option[models.user.User])
@views.html.template(user,nav="sites",subNav="sites")(css="/assets/css/template/sites.css"){


 <div class="container sites">
     <div class="row">
         <div class="mod-header">
             <h1>嗨喔喔</h1>

             <p><em>用无节操的爱找回快乐</em><br>萌物治愈系</p>
         </div>
     </div>
            <div class="row">

                    <div class="coll">
                        <p class="desc">
                            <em>编辑导语：</em>爱是小编也想不清楚的问题啊！~~
                        </p>

                        <div class="site" data-id="12771">
                            <i class="tri"></i><div></div>
                            <a href="" class="face">
                                <img src="/assets/temp/3.jpg" alt="彭钧">
                            </a>
                            <div class="site-info">
                                <span class="title">我往前飞 </span>
                                <span class="artist"><a href="">彭钧</a></span>
                                <span class="genre">风格：流行</span>
                                <a class="status" href="javascript:;"><i></i></a>
                                <a class="favor" href="javascript:;"><i></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="colr">

                        <div class="site" data-id="14061">
                            <i class="tri"></i><div></div>
                            <a href="/shijinyu" class="face">
                                <img src="/assets/temp/2.jpg" alt="时金宇">
                            </a>
                            <div class="site-info">
                                <span class="title">同桌你好吗</span>
                                <span class="artist"><a href="/shijinyu">时金宇</a></span>
                                <span class="genre">风格：流行</span>
                                <a class="status" href="javascript:;"><i></i></a>
                                <a class="favor" href="javascript:;"><i></i></a>
                            </div>
                        </div>
                    </div>
                </div>





</div>

}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/index.js")
</script>
}


