@(user:Option[models.user.User])
@views.html.template(user,nav="index",subNav="pets")(css="/assets/css/template/pageTempt.css"){


<div class="container pets">

    <div class="row">
        <section class="mod-header">
            <ul>

                <li><a href="">宠物食品</a></li>
                <li class="on"><a href="">宠物用品</a></li>
                <li ><a href="">宠物应用</a></li>

            </ul>
        </section>
        <section class="mod-body">
            <div class="box">
                <div class="bd">
                      <a class="cont">
                          <div class="pic">
                              <img src="http://eachcloudcn.blob.core.chinacloudapi.cn/titlepic/Y1U3R.jpg" class="js_ieonLoad">
                          </div>
                          <h3><span>对象，什么叫做合适？</span></h3>
                          <p class="intro">
                              心理学家认为，判断男女两个人是否适合,应考虑以下10个因素。 &nbsp;&nbsp;&nbsp; 第一、彼此都是对方的好朋友，不带任何条件，喜欢与对方在一起。&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;第二、彼此很容易沟通、互相可以很敞开地坦白任何事情，而不
                          </p>
                      </a>

                    <div class="info">
                        <ul>
                            <li class="on"><a href="/home/3fc064dac3b54df48a7934df4e7a0ac8.clip" class="js_touser">
                                <img alt="" src="http://eachcloudcn.blob.core.chinacloudapi.cn/userimg/3fc064dac3b54df48a7934df4e7a0ac8.png"></a>
                            </li>
                            <li>
                                宝贝m从<a href="/board/2a90bde88a9b4368a9a42688efea54c5.clip">《只想爱你》</a>
                                收集到<a href="/board/3acdc0c0ee034ff58da1a192b4632164.clip">《谈 恋爱》</a>
                            </li>
                        </ul>
                        <div class="num" id="J_num">
                            <a href="javascript:void(0)" class="pvCount js_pvCount">1416</a>
                            <a  href="javascript:void(0)" class="commentCount js_commentCount">3</a>
                            <a   href="javascript:void(0)" class="markCount js_markCount">4</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="bd">
                    <a class="cont">
                        <div class="pic">
                            <img src="http://eachcloudcn.blob.core.chinacloudapi.cn/titlepic/Y1U3R.jpg" class="js_ieonLoad">
                        </div>
                        <h3><span>对象，什么叫做合适？</span></h3>
                        <p class="intro">
                            心理学家认为，判断男女两个人是否适合,应考虑以下10个因素。 &nbsp;&nbsp;&nbsp; 第一、彼此都是对方的好朋友，不带任何条件，喜欢与对方在一起。&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;第二、彼此很容易沟通、互相可以很敞开地坦白任何事情，而不
                        </p>
                    </a>

                    <div class="info">
                        <ul>
                            <li class="on"><a href="/home/3fc064dac3b54df48a7934df4e7a0ac8.clip" class="js_touser">
                                <img alt="" src="http://eachcloudcn.blob.core.chinacloudapi.cn/userimg/3fc064dac3b54df48a7934df4e7a0ac8.png"></a>
                            </li>
                            <li>
                                宝贝m从<a href="/board/2a90bde88a9b4368a9a42688efea54c5.clip">《只想爱你》</a>
                                收集到<a href="/board/3acdc0c0ee034ff58da1a192b4632164.clip">《谈 恋爱》</a>
                            </li>
                        </ul>
                        <div class="num" id="J_num">
                            <a href="javascript:void(0)" class="pvCount js_pvCount">1416</a>
                            <a  href="javascript:void(0)" class="commentCount js_commentCount">3</a>
                            <a   href="javascript:void(0)" class="markCount js_markCount">4</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="bd">
                    <a class="cont">
                        <div class="pic">
                            <img src="http://eachcloudcn.blob.core.chinacloudapi.cn/titlepic/Y1U3R.jpg" class="js_ieonLoad">
                        </div>
                        <h3><span>对象，什么叫做合适？</span></h3>
                        <p class="intro">
                            心理学家认为，判断男女两个人是否适合,应考虑以下10个因素。 &nbsp;&nbsp;&nbsp; 第一、彼此都是对方的好朋友，不带任何条件，喜欢与对方在一起。&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;第二、彼此很容易沟通、互相可以很敞开地坦白任何事情，而不
                        </p>
                    </a>

                    <div class="info">
                        <ul>
                            <li class="on"><a href="/home/3fc064dac3b54df48a7934df4e7a0ac8.clip" class="js_touser">
                                <img alt="" src="http://eachcloudcn.blob.core.chinacloudapi.cn/userimg/3fc064dac3b54df48a7934df4e7a0ac8.png"></a>
                            </li>
                            <li>
                                宝贝m从<a href="/board/2a90bde88a9b4368a9a42688efea54c5.clip">《只想爱你》</a>
                                收集到<a href="/board/3acdc0c0ee034ff58da1a192b4632164.clip">《谈 恋爱》</a>
                            </li>
                        </ul>
                        <div class="num" id="J_num">
                            <a href="javascript:void(0)" class="pvCount js_pvCount">1416</a>
                            <a  href="javascript:void(0)" class="commentCount js_commentCount">3</a>
                            <a   href="javascript:void(0)" class="markCount js_markCount">4</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="bd">
                    <a class="cont">
                        <div class="pic">
                            <img src="http://eachcloudcn.blob.core.chinacloudapi.cn/titlepic/Y1U3R.jpg" class="js_ieonLoad">
                        </div>
                        <h3><span>对象，什么叫做合适？</span></h3>
                        <p class="intro">
                            心理学家认为，判断男女两个人是否适合,应考虑以下10个因素。 &nbsp;&nbsp;&nbsp; 第一、彼此都是对方的好朋友，不带任何条件，喜欢与对方在一起。&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;第二、彼此很容易沟通、互相可以很敞开地坦白任何事情，而不
                        </p>
                    </a>

                    <div class="info">
                        <ul>
                            <li class="on"><a href="/home/3fc064dac3b54df48a7934df4e7a0ac8.clip" class="js_touser">
                                <img alt="" src="http://eachcloudcn.blob.core.chinacloudapi.cn/userimg/3fc064dac3b54df48a7934df4e7a0ac8.png"></a>
                            </li>
                            <li>
                                宝贝m从<a href="/board/2a90bde88a9b4368a9a42688efea54c5.clip">《只想爱你》</a>
                                收集到<a href="/board/3acdc0c0ee034ff58da1a192b4632164.clip">《谈 恋爱》</a>
                            </li>
                        </ul>
                        <div class="num" id="J_num">
                            <a href="javascript:void(0)" class="pvCount js_pvCount">1416</a>
                            <a  href="javascript:void(0)" class="commentCount js_commentCount">3</a>
                            <a   href="javascript:void(0)" class="markCount js_markCount">4</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>

}{
<script type="text/javascript">
    seajs.use("hiwowo/pages/pageTempt.js")
</script>
}


