@(user:models.user.User,page:models.Page[models.label.Group])
@views.html.admin.template(user,"label") {

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> 标签管理 》标签组管理</h1>
    </div>
</div>


        <div class="row">
            <div class="col-lg-3">
                <a href="@controllers.admin.routes.Labels.editGroup(0)"><button type="button" class="btn btn-primary btn-lg">创建新标签组</button></a>
            </div>
        </div>

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-default">

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">

                    <form method="post" id="J_batchForm" action="#">

                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover">
                                <thead>

                                <tr>
                                    <th><input type="checkbox"  name="title-table-checkbox" /></th>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th>状态</th>
                                    <th>简介</th>
                                    <th>时间</th>
                                    <th style="width: 60px;">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for((item,i)<- page.items.view.zipWithIndex){
                                <tr id="@item.id.get" @if(i%2==0){ class="even"} else{ class="odd" } >
                                <td><input type="checkbox" name="ids[@i]" value="@item.id.get" /></td>
                                <td>@item.id</td>
                                <td>@item.name</td>
                                <td>@item.status</td>
                                <td>@item.intro.getOrElse("")</td>
                                <td>@item.addTime</td>
                                <td>
                                    <a href="#" class="J_deleteGroup" data-gid="@item.id.get"><i class="icon-eye-open"></i>删除</a>
                                    <a href="@controllers.admin.routes.Labels.editGroup(item.id.get)"><i class="icon-eye-open"></i>查看</a>
                                    <a href="@controllers.admin.routes.Labels.groupLabels(item.id.get)"><i class="icon-eye-open"></i>标签</a>
                                </td>
                                </tr>
                                }


                                </tbody>
                            </table>


                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_paginate">
                            <ul class="pagination">
                                @page.prev.map { page =>
                                <li class="paginate_button previous">
                                    <a href="controllers.admin.routes.Diagrams.list(page,20)">Prev</a>
                                </li>
                                }.getOrElse {
                                <li class="paginate_button previous disabled">
                                    <a href="#">Prev</a>
                                </li>
                                }
                                @for(num <-page.nums){
                                @if(num==page.currentPage){
                                <li class="paginate_button active"><a href="@controllers.admin.routes.Forums.topics(num)">@num</a></li>
                                }else {

                                <li class="paginate_button"><a href="@controllers.admin.routes.Forums.topics(num)">@num</a></li>
                                }

                                }
                                @page.next.map { page =>
                                <li class="paginate_button next">
                                    <a href="@controllers.admin.routes.Diagrams.list(page,20)">Next</a>
                                </li>
                                }.getOrElse {
                                <li class="paginate_button next disabled">
                                    <a>Next</a>
                                </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->

        </div>

        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->



</div>



<script type="text/javascript">

    //



</script>

        }