@(user:models.user.User, page: models.Page[models.user.User], form: Form[controllers.admin.UserFilterFormData])

@views.html.admin.template(user, "user") {

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> 用户管理 》用户管理</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                用户筛选
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form  id="J_filterForm" method="get" action="@controllers.admin.routes.Users.filterUsers">
                            <input type="hidden" name="currentPage" id="J_currentPage" value='@form("currentPage").value'>
                            <div class="error-row">
                                <p class="error"></p>
                            </div>

                            <div class="form-group">
                                <label  for="name">用户名称</label>
                                <input class="form-control" type="text" id="name" name="name" value='@form("name").value' placeholder="用户名称">
                            </div>
                            <div class="form-group">
                                <label  for="title">用户Title</label>
                                <input class="form-control" type="text" id="title" name="title" value='@form("title").value' placeholder="用户Title">
                            </div>
                            <div class="form-group">
                                <label >用户状态</label>

                                <label class="radio-inline">
                                    <input type="radio" name="status" value=""  @if(form("status").value.isEmpty){ checked="true" }> 所有
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"  name="status" value="0" @if(form("status").value.getOrElse("none")=="0"){ checked="true" }> 未通过
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="1" @if(form("status").value.getOrElse("none")=="1"){ checked="true" }> 正常状态
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="2" @if(form("status").value.getOrElse("none")=="2"){ checked="true" }> 活跃状态
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="3" @if(form("status").value.getOrElse("none")=="3"){ checked="true" }> 达人状态
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="4" @if(form("status").value.getOrElse("none")=="4"){ checked="true" }> 拉黑状态
                                </label>
                            </div>
                            <div class="form-group">
                                <label>注册来源</label>

                                <label class="radio-inline">
                                    <input type="radio" name="comeFrom" value="" @if(form("comeFrom").value.isEmpty){ checked="true" }> 所有
                                </label>
                                <label class="radio-inline">
                                    <input type="radio"  name="comeFrom" value="0" @if(form("comeFrom").value.getOrElse("none")=="0"){ checked="true" }> 嗨喔喔
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="comeFrom" value="1" @if(form("comeFrom").value.getOrElse("none")=="1"){ checked="true" }> 腾讯QQ
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="comeFrom" value="2" @if(form("comeFrom").value.getOrElse("none")=="2"){ checked="true" }> 新浪微博
                                </label>
                            </div>



                            <div class="form-group">
                                <label>登陆时间筛选</label>
                                <div class="controls">
                                    开始时间：<input type="datetime" name="startTime" value='@form("startTime").value' class="datetimepicker form-control"/>
                                    结束时间：<input type="datetime" name="endTime" value='@form("endTime").value' class="datetimepicker form-control"/>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="controls">
                                    <input type="submit" class="btn btn-info" value="筛选"/>
                                </div>
                            </div>
                        </form>


                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">

                    <form method="post" id="J_batchForm" action="@controllers.admin.routes.Users.batchUsers">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <select id="J_select"  class="form-control  left" name="action">
                                    <option value="-1">批量动作</option>
                                    <option value="1">批量正常</option>
                                    <option value="3">批量VIP</option>
                                    <option value="4">批量拉黑</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <a class="btn btn-info" id="J_batchAction" data-toggle="modal" href="#J_batchModal">
                                    批量处理
                                </a>
                            </div>
                        </div>

                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" name="title-table-checkbox"/></th>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th>积分</th>
                                    <th>状态</th>
                                    <th>来源</th>
                                    <th style="width:100px;">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for((item,i) <- page.items.view.zipWithIndex) {
                                <tr id="@item.id.get">
                                    <td><input type="checkbox" name="ids[@i]" value="@item.id.get"/></td>
                                    <td>@item.id</td>
                                    <td>@item.name</td>
                                    <td>@item.credits</td>
                                    <td class="status">@models.user.UserStatus(item.status)</td>
                                    <td>@models.user.ComeFrom(item.comeFrom)</td>
                                    <td>
                                        <a href="@controllers.admin.routes.Users.view(item.id.get)"><i class="glyphicon glyphicon-eye-open mr10"></i></a>
                                        <a href="@controllers.admin.routes.Users.edit(item.id.get)"><i class="glyphicon glyphicon-edit mr10"></i></a>
                                        <a href="#J_lockModal" class="black" data-id="@item.id.get" role="button" data-toggle="modal"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                    </td>
                                </tr>
                                }
                                </tbody>
                            </table>


                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_paginate">
                            <ul class="pagination">
                                @page.prev.map { page =>
                                <li class="paginate_button previous">
                                    <a href="controllers.admin.routes.Users.users(page,50)">Prev</a>
                                </li>
                                }.getOrElse {
                                <li class="paginate_button previous disabled">
                                    <a href="#">Prev</a>
                                </li>
                                }
                                @for(num <-page.nums){
                                @if(num==page.currentPage){
                                <li class="paginate_button active"><a href="@controllers.admin.routes.Users.users(num,50)">@num</a></li>
                                }else {

                                <li class="paginate_button"><a href="@controllers.admin.routes.Users.users(num,50)">@num</a></li>
                                }

                                }
                                @page.next.map { page =>
                                <li class="paginate_button next">
                                    <a href="@controllers.admin.routes.Users.users(page,50)">Next</a>
                                </li>
                                }.getOrElse {
                                <li class="paginate_button next disabled">
                                    <a>Next</a>
                                </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->

        </div>

        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->



</div>


    <script type="text/javascript">




    $(document).on("click",".black",function(){
    var id=$(this).data('id');
    $("#J_lockModal").modal('show');
    $("#J_lock").click(function(){
    $.ajax({
    url:"/admin/users/black?uid="+id,
    type:'get',
    dataType:'json',
    success:function(data){
    if(data.code =='100'){
    $("tr#"+id).find(".status").html("black")
    $("#J_lockModal").modal("hide")
    }else{
    alert(data.message)
    }
    }
    })
    })
    })
</script>

    }
