@(u:models.user.User,userComponent:controllers.users.UserComponent)
@views.html.admin.template(u,"user") {
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> 用户管理 》用户管理 》用户信息</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="form-group">
            <label  >名称  :  @userComponent.user.name</label>
        </div>
        <div class="form-group">
            <label  >头像  : @userComponent.user.pic</label>
        </div>
        <div class="form-group">
            <label  >email  :  @userComponent.user.email</label>
        </div>

        <div class="form-group">
            <label  >状态  :  @models.user.UserStatus(userComponent.user.status)</label>
        </div>
        <div class="form-group">
            <label  >来源  :  @models.user.ComeFrom(userComponent.user.comeFrom)</label>
        </div>
        <div class="form-group">
            <label  >标签  :  @userComponent.user.labels</label>
        </div>


        <div class="form-group">
            <label  >性别  :  @userComponent.profile.gender</label>
        </div>
        <div class="form-group">
            <label  >生日 :  @userComponent.profile.birth</label>
        </div>
        <div class="form-group">
            <label  >上次登录时间  :  @userComponent.profile.loginTime / @userComponent.profile.loginIP</label>
        </div>
        <div class="form-group">
            <label  >登录次数  :  @userComponent.profile.loginNum</label>
        </div>
        <div class="form-group">
            <label  >收货信息  :  @userComponent.profile.receiver  / @userComponent.profile.province  @userComponent.profile.city  @userComponent.profile.town  @userComponent.profile.street  / @userComponent.profile.postCode  / @userComponent.profile.phone</label>
        </div>



    </div>
</div>



        }


