@(user:models.user.User,form:Form[controllers.admin.AdvertEditFormData],msg:String)
@views.html.admin.template(user,"advert") {
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> 广告管理 》编辑广告</h1>
        <div class="alert alert-info">@msg</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                编辑
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form  id="J_editForm" method="POST" action="@controllers.admin.routes.Adverts.save">
                            <input type="hidden" name="id" id="J_id" value='@form("id").value'>
                            <div class="error-row">
                                <p class="error"></p>
                            </div>
                            <div class="form-group">
                            <label>类型 </label>
                            <label class="radio-inline">
                                <input type="radio"  name="typeId" value="0" @if(form("typeId").value.getOrElse("none")=="0"){ checked="true" }> 图片广告
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="typeId" value="1" @if(form("typeId").value.getOrElse("none")=="1"){ checked="true" }> 文字广告
                            </label>
                        </div>
                            <div class="form-group">
                                <label  for="code">位置编码</label>
                                <input class="form-control" type="text" id="code" name="code" value='@form("code").value' placeholder="位置编码">
                            </div>
                            <div class="form-group">
                                <label  for="title">名称</label>
                                <input class="form-control" type="text" id="title" name="title" value='@form("title").value' placeholder="名称">
                            </div>
                            <div class="form-group">
                                <label  for="link">链接</label>
                                <input class="form-control" type="text" id="link" name="link" value='@form("link").value' placeholder="链接">
                            </div>
                            <div class="form-group">

                                开始时间：

                                <input  type="text" name="startTime" value='@form("startTime").value' class="datetimepicker">



                                结束时间：

                                    <input type="text" name="endTime" value='@form("endTime").value' class="datetimepicker">

                            </div>

                            <div class="form-group">
                                <label  for="width">图片</label>
                                <input type="hidden" name="pic" id="pic" value='@form("pic").value'>
                                <img id="picShow" src='@form("pic").value'>
                                <input id="picUpload" class="picUpload" type="button" value="上传">
                                <span class="error">上传图片时，需要保证与前台的尺寸一致</span>
                                宽度：<input class="form-control" type="text" id="width" name="width" value='@form("width").value' placeholder="宽度">
                                高度：<input class="form-control" type="text" id="height" name="height" value='@form("height").value' placeholder="高度">
                            </div>

                            <div class="form-group">
                                <label for="note">简介</label>

                                <textarea id="intro" class="form-control" name="note">@form("intro").value</textarea>
                            </div>


                            <div class="form-group">
                                <label for="note">备注</label>

                                <textarea id="note" class="form-control" name="note">@form("note").value</textarea>
                            </div>
                            <div class="form-group">
                                <label>状态</label>
                                <label class="radio-inline">
                                    <input type="radio"  name="status" value="0" @if(form("status").value.getOrElse("none")=="0"){ checked="true" }> 下架
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="1" @if(form("status").value.getOrElse("none")=="1"){ checked="true" }> 上架
                                </label>
                            </div>

                            <div class="form-group">

                                <label class="radio-inline">
                                    <input type="submit" value="提交">
                                </label>

                            </div>


                        </form>

                    </div>
               </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


    <script>
        $("#picUpload").uploadify({
            'fileObjName' : 'fileData',
            'multi'    : false,
            'swf'         : '/admin/assets/js/uploadify/uploadify.swf',
            'uploader'    : '/advert/uploadPic',
            'onUploadSuccess' : function(file, data, response) {
                var obj = JSON && JSON.parse(data) || $.parseJSON(data)
                var src =obj.src;
                $("#picShow").attr("src",src)
                $("#pic").val(src)
            }
        });
    </script>





        }


