@(user:Option[models.user.User]=None,authorId:Option[Long]=None,nav:String=" ",subNav:String =" ",title: String = " ",keywords:String = " ",description:String = "")(css:String)(content: Html)(js:Html)
<!doctype html>
<html>
<head>
    <title>@title</title>
    <meta property="qc:admins" content="24412773057776375" />
    <meta property="wb:webmaster" content="70ccb0b4ec381c52" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <meta name="keywords" content=@keywords>
    <meta name="description" content=@description>

   <link rel="stylesheet" href="/assets/css/global/global.css?v=2014011801">

    <link rel="stylesheet" href="@css?v=2014011801">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="J_Page">

    <div  id="topbar" class="navbar">
        <div class="container">

            <nav class="nav">
                <ul class="clearfix">
                    <li ><a href="/" class=' @("current".when(nav == "index")) '>嗨喔喔</a></li>
                    <li><a href="@if(!user.isEmpty){@controllers.users.routes.Users.home(user.get.id.get)}" rel='@if(user.isEmpty){loginD}' class=' @("current".when(nav == "my")) '>我的喔喔</a></li>
                    <li><a href='/forum' class=' @("current".when(nav == "forum")) '>讨论吧</a></li>
                </ul>
            </nav>

            @if(user.isEmpty){
            <section class="user-info">
                <a class="login need-login" href="javascript:void(0)" rel="loginD">登录</a><span class="spacing">|</span><a class="signup"  href="/user/regist">注册</a>
            </section>
            }else{
            <section class="user-info">
                <a href="@controllers.users.routes.UsersMsg.at" class="msg" target="_blank"><span id="J_msgNum" style="display: none">9</span></a>
                <div class="menu nav-item">
                    <a class="user" href="@controllers.users.routes.Users.home(user.get.id.get)" id="J_topbar_user" target="_blank">
                        <img class="avatar" alt="@user.get.name" src="@user.get.pic">
                        <span class="name">@user.get.name</span>
                        <span class="triangle"></span>
                    </a>
                    <ul class="dropdown topbar-dropdown" style="width: 132px;">
                        <li><a href="@controllers.routes.Diagrams.create" target="_blank">发布神兽</a></li>
                        <li><a href="@controllers.users.routes.Users.home(user.get.id.get)" target="_blank">个人中心</a></li>
                        <li><a href="@controllers.users.routes.UsersAccount.base" target="_blank">账号设置</a></li>
                        <li><a class="logout" href="@controllers.users.routes.UsersRegLogin.logout">退出</a></li>
                    </ul>
                </div>

            </section>
           }
            <section class="topSearch">
                <div class="searchBox">
                    <input type="text" class="searchText" value="萌宠">
                    <a class="searchBtn" href="javascript:void(0);"></a>
                </div>
            </section>
        </div>
    </div>
     @nav match{
    case "index" => {   <div id="J_subbar" class="subbar">
        <div class="container">
            <ul>
                <li class=' @("on".when(subNav == "index")) '><a href="/" title="首页">首页</a></li>
                <li class=' @("on".when(subNav == "weixin")) new '><a href="@controllers.routes.Pages.weixin(1,10)" title="微信精选">微信精选</a></li>
                <li class=' @("on".when(subNav == "pets")) '><a href="/pets/1" title="神兽乐园">神兽乐园</a></li>
                <li class=' @("on".when(subNav == "diagrams")) '><a href="/pics/1" title="">图说</a></li>
            </ul>


        </div>
    </div> }

    case "my" => {  <div id="J_subbar" class="subbar">
        <div class="container">
            <ul>
                <li class=' @("on".when(subNav == "diagram")) '><a href='@if(!user.isEmpty){ @controllers.users.routes.Users.diagrams(user.get.id.get)}' title="我的神兽">我的神兽</a></li>
                <li class=' @("on".when(subNav == "subscribe")) '><a href='@if(!user.isEmpty){ @controllers.users.routes.Users.subscribes(user.get.id.get)}' title="我的订阅">我的订阅</a></li>
                <li class=' @("on".when(subNav == "collect")) '><a href='@if(!user.isEmpty){ @controllers.users.routes.Users.collects(user.get.id.get)}' title="我的收藏">我的收藏</a></li>
            </ul>


        </div>
    </div> }
    case "ta" => { <div id="J_subbar" class="subbar">
        <div class="container">
            <ul>
                <li class=' @("on".when(subNav == "home")) '><a href='@if(!authorId.isEmpty){ @controllers.users.routes.Users.home(authorId.get)}' title="TA的关注">TA的首页</a></li>
                <li class=' @("on".when(subNav == "diagram")) '><a href='@if(!authorId.isEmpty){ @controllers.users.routes.Users.diagrams(authorId.get)}' title="TA的神兽">TA的神兽</a></li>
                <li class=' @("on".when(subNav == "subscribe")) '><a href='@if(!authorId.isEmpty){ @controllers.users.routes.Users.subscribes(authorId.get)}' title="我的订阅">TA的订阅</a></li>
            </ul>
        </div>
    </div>}

    case "forum" => {<div id="J_subbar" class="subbar">
        <div class="container">
            <ul>
                <li class=' @("on".when(subNav == "0")) '><a href='@controllers.routes.Forums.forum(0,"new",1,10)' title="普通">吐槽</a></li>
                <li class=' @("on".when(subNav == "1")) '><a href='@controllers.routes.Forums.forum(1,"new",1,10)'  title="知识">知识</a></li>
                <li class=' @("on".when(subNav == "2")) '><a href='@controllers.routes.Forums.forum(2,"new",1,10)' title="问答">问答</a></li>
                <li class=' @("on".when(subNav == "3")) '><a href='@controllers.routes.Forums.forum(3,"new",1,10)' title="活动">活动</a></li>
            </ul>
        </div>
    </div> }

    case   _ => { @********************* none *********************@ }

    }


  <div id="content">
      @content

  </div>

    <footer id="footer">

        <div class="container">
            <section class="about">©Hiwowo &nbsp;<a target="_blank" href="/forum/topic/1">意见反馈</a> <a target="_blank" href="/aboutUs">关于我们</a><a href="http://www.miitbeian.gov.cn/">浙ICP备13018996号</a></section>

        </div>
    </footer>


    <div id="returnTop" style="opacity: 0; bottom: -200px;">
        <a id="J_returnTop" href="javascript:;">回到顶部</a>
        <a id="J_weixin" href="javascript:;">
            <div class="J_weixinimg"></div>
        </a>
    </div>


@if(user.isEmpty){
<script type="text/javascript">
    var photo = "";
    if(photo == ""){
        photo = "/images/user/default.jpg";
    }else{
        photo =photo;
    }
    HIWOWO = {
        userId:"",
        userPhoto:photo,
        nick:"",
        status:"",
        isBlack: "",
        level : ""
    }
</script>
} else {
<script type="text/javascript">
    var photo = "@user.get.pic";
    if(photo == ""){
        photo = "/images/user/default.jpg";
    }else{
        photo = photo;
    }
    HIWOWO = {
        userId:"@user.get.id.get",
        userPhoto:photo,
        nick:"@user.get.name",
        status:"@user.get.status",
        isBlack: '@if(user.get.status==4){true} else {false}'
    }

</script>

}

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

<script type="text/javascript" src="/assets/js/sea-modules/sea.js"></script>
<script type="text/javascript" src="/assets/js/sea-config.js"></script>

<!-- 每个页面的js -->
@js

    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0abb4c76e8a48404dca40a1a107f62bf' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script>window._bd_share_config={"common":{"bdSnsKey":{"tsina":"464981938","tqq":"101050057"},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","weixin","sqq"],"viewText":"分享到：","viewSize":"32"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

</body>
</html>

