@(user:Option[models.user.User]=None,nav:String=" ",subNav:String =" ",title: String = " ",keywords:String = " ",description:String = "")(css:String)(content: Html)(js:Html)
<!doctype html>
<html>
<head>
    <title>@title</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <meta name="keywords" content=@keywords>
    <meta name="description" content=@description>

   <link rel="stylesheet" href="/assets/css/global/global.css?v=2014011801">

    <link rel="stylesheet" href="@css?v=2014011801">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body id="J_Page">

    <div  id="topbar" class="navbar">
        <div class="container">

            <nav class="nav">
                <ul class="clearfix">
                    <li ><a href="/" class=' @("current".when(nav == "index")) '>嗨喔喔</a></li>
                    <li><a href="/sites" class=' @("current".when(nav == "sites")) ' >部落</a></li>
                    <li><a href="/my" class=' @("current".when(nav == "my")) '>我的喔喔</a></li>
                    <li><a href="/forum" class=' @("current".when(nav == "forum")) '>讨论吧</a></li>
                </ul>
            </nav>

            @if(user.isEmpty){
            <section class="user-info">
                <a class="login need-login" href="#" rel="loginD">登录</a><span class="spacing">|</span><a class="signup" target="_blank" href="/user/regist">注册</a>
            </section>
            }else{
            <section class="user-info">
                <a href="" class="msg" target="_blank"><span id="J_msgNum"></span></a>
                <div class="menu nav-item">
                    <a class="user" href="@controllers.users.routes.Users.home(user.get.id.get)" id="J_topbar_user">
                        <img class="avatar" alt="@user.get.name" src="@user.get.pic">
                        <span class="name">@user.get.name</span>
                        <span class="triangle"></span>
                    </a>
                    <ul class="dropdown topbar-dropdown" style="width: 132px;">
                        <li><a href="@controllers.users.routes.Users.home(user.get.id.get)">我的主页</a></li>
                        <li><a href="@controllers.users.routes.UsersAccount.base">账号设置</a></li>
                        <li><a class="logout" href="@controllers.users.routes.UsersRegLogin.logout">退出</a></li>
                    </ul>
                </div>
                <a class="favorite nav-item" title="我喜欢的" href="@controllers.users.routes.Users.love(user.get.id.get)"><i></i></a>
                <a class="follow nav-item" title="我关注的" href="@controllers.users.routes.Users.follow(user.get.id.get)"><i></i></a>
            </section>
           }
            <section class="topSearch">
                <div class="searchBox">
                    <input type="text" class="searchText" value="乐翻天">
                    <a class="searchBtn" href="javascript:void(0);"></a>
                </div>
            </section>
        </div>
    </div>
     @nav match{
    case "index" => {   <div id="J_subbar" class="subbar">
        <div class="container">
            <ul>
                <li class=' @("on".when(subNav == "index")) '><a href="" title="首页">首页</a></li>
                <li class=' @("on".when(subNav == "guess")) '><a href=""  title="猜你喜欢">猜你喜欢</a></li>
                <li class=' @("on".when(subNav == "weixin")) new '><a href="" title="微信精选">微信精选</a></li>
                <li class=' @("on".when(subNav == "findMore")) '><a href="" title="发现更多">发现更多</a></li>
            </ul>

            <div class="subSearch" id="J_subSearch">
                <input type="text" class="" placeholder="萌">
                <a  href="javascript:void(0);"></a>
            </div>
        </div>
    </div> }
    case "sites" => {  <div id="J_subbar" class="subbar">
        <div class="container">
            <ul>

                <li class=' @("e".when(subNav == "sites")) '><a href="" title="小站推荐">部落推荐</a></li>
                <li class=' @("e".when(subNav == "pet")) '><a href="" title="宠物广场">宠物乐园</a></li>

            </ul>

            <div class="subSearch" id="J_subSearch">
                <input type="text" class="" placeholder="萌">
                <a  href="javascript:void(0);"></a>
            </div>
        </div>
    </div> }
    case "my" => {  <div id="J_subbar" class="subbar">
        <div class="container">
            <ul>
                <li class=' @("on".when(subNav == "myLove")) '><a href="" title="我的关注">我的关注</a></li>
                <li class=' @("on".when(subNav == "mySite")) '><a href="" title="我的部落">我的部落</a></li>
                <li class=' @("on".when(subNav == "myDiscuss")) '><a href="" title="我的评论">我的评论</a></li>
                <li class=' @("on".when(subNav == "myRecord")) '><a href="" title="阅读历史">阅读历史</a></li>

            </ul>

            <div class="subSearch" id="J_subSearch">
                <input type="text" class="" placeholder="萌">
                <a  href="javascript:void(0);"></a>
            </div>
        </div>
    </div> }
    case "forum" => {<div id="J_subbar" class="subbar">
        <div class="container">
            <ul>
                <li class=' @("on".when(subNav == "new")) '><a href="" title="最新发表">最新发表</a></li>
                <li class=' @("on".when(subNav == "discuss")) '><a href=""  title="最多回复">最多回复</a></li>
                <li class=' @("on".when(subNav == "love")) '><a href="" title="最受欢迎">最受欢迎</a></li>
                <li class=' @("on".when(subNav == "love")) '><a href="" title="最受欢迎">吧规^_^</a></li>
            </ul>

            <div class="subSearch" id="J_subSearch">
                <input type="text" class="" placeholder="萌">
                <a  href="javascript:void(0);"></a>
            </div>
        </div>
    </div> }
    case   _ => { @********************* none *********************@ }

    }


  <div id="content">
      @content

  </div>

    <footer id="footer">

        <div class="container">
            <section class="about">©Hiwowo &nbsp;<a target="_blank" href="">意见反馈</a> <a target="_blank" href="/aboutUs">关于我们</a><a href="http://www.miitbeian.gov.cn/">浙ICP备13018996号</a></section>

        </div>
    </footer>


    <div id="returnTop" style="opacity: 0; bottom: -200px;">
        <a id="J_returnTop" href="javascript:;">回到顶部</a>
        <a id="J_weixin" href="javascript:;">
            <div class="J_weixinimg"></div>
        </a>
    </div>


@if(user.isEmpty){
<script type="text/javascript">
    var photo = "";
    if(photo == ""){
        photo = "/images/user/default.jpg";
    }else{
        photo =photo;
    }
    HIWOWO = {
        userId:"",
        userPhoto:photo,
        nick:"",
        status:"",
        isBlack: "",
        level : ""
    }
</script>
} else {
<script type="text/javascript">
    var photo = "@user.get.pic";
    if(photo == ""){
        photo = "/images/user/default.jpg";
    }else{
        photo = photo;
    }
    HIWOWO = {
        userId:"@user.get.id",
        userPhoto:photo,
        nick:"@user.get.name",
        status:"@user.get.status",
        isBlack: '@if(user.get.status==4){true} else {false}'
    }

</script>

}

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

<script type="text/javascript" src="/assets/js/sea-modules/sea.js"></script>
<script type="text/javascript" src="/assets/js/sea-config.js"></script>

<!-- 每个页面的js -->
@js




</body>
</html>

