@(user:Option[models.user.User])
@views.html.template(user)(css="/assets/css/template/site.css"){
<div class="subbar">
    <div class="container">
        <ul>
            <li class="sitePic">
                <a><img src="/images/user/default.jpg" width="80" height="80"> </a>
            </li>
            <li class='on'><a href="" title="首页">那些事</a></li>
            <li class=''><a href=""  title="猜你喜欢">图片</a></li>
            <li class=''><a href="" title="微信精选">视频</a></li>
        </ul>



    </div>

</div>
        <div class="site-header">
            <div class="container">
            <div class="siteIntro">
                <div class="sr_user">
                    <ul>
                        <li class="user_pic"><a href=""><img src="/images/user/default.jpg"></a> <a  href="">主编<em class="pl5">成都壳子</em></a></li>
                        <li><font>64</font>那些事</li>
                        <li><a href="" class="person"><font>2270</font>居民</a> </li>
                        <li><a href="javascript:void(0)">申请加入</a></li>
                        <li><a href="javascript:void(0)">微信推荐</a></li>
                    </ul>
                    <div class="notice">
                        <i></i>
                        <p class="ofh">hi 喔喔叫，亲，听到美丽的水声了吗</p>
                    </div>
                </div>


            </div>
            </div>
        </div>
<div class="container site">


    <div class="row">
        <div class="site-main">
            <div class="site-list">
                <dl class="box clearfix">
                    <dt>
                         <div class="pic"><a href=""> <img src="/images/1.jpg"> </a> </div>
                    <p><a href="#" target="_blank">海清说，生存法则，她尊重，但她不要追随</a></p>
                    <div class="num">
                        <a href="javascript:void(0)" class="pvCount ">343</a>
                        <a href="javascript:void(0)" class="commentCount"></a>

                    </div>
                    </dt>
                    <dd>
                        <div class="intro">
                            <p><a href="/Y2E1Q.clip" target="_blank">人物杂志微信账号：renwumag1980 “我尽量不去制造灰色，我能力有限，我改变不了。但是你说我有没有一颗改变的心，我真的有。” Tea talk 茶叙 本期主持 执行主编 &nbsp;张悦 文|张悦 摄影</a></p>
                        </div>
                        <div class="author">
                            <ul >
                                <li class="pic"><a href="" class="js_touser"><img alt="" src="/images/user/default.jpg"></a></li>
                                <li>成都壳子收集到<a href="">《人物杂志》</a><span class="pl15">5个月前</span></li></ul>
                        </div>
                   </dd>
                </dl>
                <dl class="box clearfix">
                    <dt>
                    <div class="pic"><a href=""> <img src="/images/1.jpg"> </a> </div>
                    <p><a href="#" target="_blank">海清说，生存法则，她尊重，但她不要追随</a></p>
                    <div class="num">
                        <a href="javascript:void(0)" class="pvCount ">343</a>
                        <a href="javascript:void(0)" class="commentCount"></a>

                    </div>
                    </dt>
                    <dd>
                        <div class="intro">
                            <p><a href="/Y2E1Q.clip" target="_blank">人物杂志微信账号：renwumag1980 “我尽量不去制造灰色，我能力有限，我改变不了。但是你说我有没有一颗改变的心，我真的有。” Tea talk 茶叙 本期主持 执行主编 &nbsp;张悦 文|张悦 摄影</a></p>
                        </div>
                        <div class="author">
                            <ul >
                                <li class="pic"><a href="" class="js_touser"><img alt="" src="/images/user/default.jpg"></a></li>
                                <li>成都壳子收集到<a href="">《人物杂志》</a><span class="pl15">5个月前</span></li></ul>
                        </div>
                    </dd>
                </dl>
                <dl class="box clearfix">
                    <dt>
                    <div class="pic"><a href=""> <img src="/images/1.jpg"> </a> </div>
                    <p><a href="#" target="_blank">海清说，生存法则，她尊重，但她不要追随</a></p>
                    <div class="num">
                        <a href="javascript:void(0)" class="pvCount ">343</a>
                        <a href="javascript:void(0)" class="commentCount"></a>

                    </div>
                    </dt>
                    <dd>
                        <div class="intro">
                            <p><a href="/Y2E1Q.clip" target="_blank">人物杂志微信账号：renwumag1980 “我尽量不去制造灰色，我能力有限，我改变不了。但是你说我有没有一颗改变的心，我真的有。” Tea talk 茶叙 本期主持 执行主编 &nbsp;张悦 文|张悦 摄影</a></p>
                        </div>
                        <div class="author">
                            <ul >
                                <li class="pic"><a href="" class="js_touser"><img alt="" src="/images/user/default.jpg"></a></li>
                                <li>成都壳子收集到<a href="">《人物杂志》</a><span class="pl15">5个月前</span></li></ul>
                        </div>
                    </dd>
                </dl>
                <dl class="box clearfix">
                    <dt>
                    <div class="pic"><a href=""> <img src="/images/1.jpg"> </a> </div>
                    <p><a href="#" target="_blank">海清说，生存法则，她尊重，但她不要追随</a></p>
                    <div class="num">
                        <a href="javascript:void(0)" class="pvCount ">343</a>
                        <a href="javascript:void(0)" class="commentCount"></a>

                    </div>
                    </dt>
                    <dd>
                        <div class="intro">
                            <p><a href="/Y2E1Q.clip" target="_blank">人物杂志微信账号：renwumag1980 “我尽量不去制造灰色，我能力有限，我改变不了。但是你说我有没有一颗改变的心，我真的有。” Tea talk 茶叙 本期主持 执行主编 &nbsp;张悦 文|张悦 摄影</a></p>
                        </div>
                        <div class="author">
                            <ul >
                                <li class="pic"><a href="" class="js_touser"><img alt="" src="/images/user/default.jpg"></a></li>
                                <li>成都壳子收集到<a href="">《人物杂志》</a><span class="pl15">5个月前</span></li></ul>
                        </div>
                    </dd>
                </dl>
                <dl class="box clearfix">
                    <dt>
                    <div class="pic"><a href=""> <img src="/images/1.jpg"> </a> </div>
                    <p><a href="#" target="_blank">海清说，生存法则，她尊重，但她不要追随</a></p>
                    <div class="num">
                        <a href="javascript:void(0)" class="pvCount ">343</a>
                        <a href="javascript:void(0)" class="commentCount"></a>
                     </div>
                    </dt>
                    <dd>
                        <div class="intro">
                            <p><a href="/Y2E1Q.clip" target="_blank">人物杂志微信账号：renwumag1980 “我尽量不去制造灰色，我能力有限，我改变不了。但是你说我有没有一颗改变的心，我真的有。” Tea talk 茶叙 本期主持 执行主编 &nbsp;张悦 文|张悦 摄影</a></p>
                        </div>
                        <div class="author">
                            <ul >
                                <li class="pic"><a href="" class="js_touser"><img alt="" src="/images/user/default.jpg"></a></li>
                                <li>成都壳子收集到<a href="">《人物杂志》</a><span class="pl15">5个月前</span></li></ul>
                        </div>
                    </dd>
                </dl>
            </div>

        </div>
        <div class="side">
            <div class="ad">
                <a href="" target="_blank">
                    <img src="/images/2.jpg" width="230" height="130" alt="逛画报" title="逛画报">
                </a>
            </div>

            <div class="box mt15">
                <div class="hd">
                    <h3>公告栏</h3>
                </div>
                <p class="bd" id="J_NoticeCon">
                    和谐社会，你我共建～
                </p>

            </div>

        </div>

    </div>


</div>

}{
<script type="text/javascript">

    seajs.use(["hiwowo/user/userHome"]);
</script>
}