/**
 * Created by zuosanshao.
 * Date: 12-9-7
 * Time: 上午10:08
 * 维护人员:zuosanshao@qq.com
 */

/* base */
body {
    background: url(images/bg_all.gif) repeat transparent 0 0;
    text-align: center;
    font-size: 14px;
    font-family: "微软雅黑", cursive;
    color: #666;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

ul, ol, li {
    list-style: none
}

a {
    text-decoration: none;
    color: #333;
}

a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

.left {
    float: left;
    display: inline;
}

.right {
    float: right;
    display: inline;
}

.mt0 {
    margin-top: 0;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mr0 {
    margin-right: 0;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mb0 {
    margin-bottom: 0;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.ml0 {
    margin-left: 0;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.mlr5 {
    margin: 0 5px 0 5px;
}

.mlr10 {
    margin: 0 10px 0 10px;
}

.pt0 {
    padding-top: 0;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pr0 {
    padding-right: 0;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr35 {
    padding-right: 35px;
}

.pb0 {
    padding-bottom: 0;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb35 {
    padding-bottom: 35px;
}

.pl0 {
    padding-left: 0;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.plr10 {
    padding: 0 10px;
}

.plr15 {
    padding: 0 15px;
}

.pd10 {
    padding: 10px;
}

.pd20 {
    padding: 20px;
}

.pd40 {
    padding: 40px;
}

.rc {
    color: #ee2266;
}

.bc {
    color: #55aadd;
}

.yc {
    color: #ee6633;
}

.gc {
    color: #999;
}

.gc6 {
    color: #666;
}

.gc9 {
    color: #999;
}

.gcc {
    color: #dedede;
}

.main .alert {
    margin: 20px 20px 0 20px;
}

.main .alert {
    font-size: 20px;
}

.main .alert .label {
    font-size: 90%;
}

.main .alert .alert-link {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 20px;
}

.main .select {
    float: left;
    width: 900px;
    height: 60px;
    border-bottom: 2px solid #44b2c3;
    line-height: 60px;
    margin-bottom: 20px;
}

.main .select h1 {
    float: left;
    font-size: 24px;
    font-weight: normal;
    color: #666;
    line-height: 60px;
    padding: 0;
    margin: 0 20px 0;

}

.main .cat {
    width: 860px;
    margin-left: 20px;
    float: left;
    line-height: 35px;
    height: 70px;
    overflow: hidden;
    _display: inline;
}

.main .cat b {
    float: left;
    font-weight: normal;
    width: 45px;
    height: 35px;
    line-height: 35px;
}

.main .cat ul {
    float: left;
    width: 810px;
    height: 70px;
    overflow: hidden;
    padding: 0;
}

.main .cat ul li {
    float: left;
    height: 35px;
}

.main .cat ul li a {
    float: left;
    line-height: 35px;
    height: 30px;
    overflow: hidden;
    margin: 0 10px;
    color: #474853;
    font-size: 14px;
}

/* notice 模块 */
.aside .notices {
    margin: 20px 25px;
}

.aside .notices dt, .notices dd {
    float: left;
}

.aside .notices dt i {
    font-size: 20px;
    margin-right: 10px;
}

.aside .notices dd ul {
    margin: 0;
    padding: 0;
}

/* i want post */
.aside .i-want-post {
    margin: auto 25px;
}

/* follow - us 模块 */
.aside .title {
    height: 45px;
    line-height: 45px;
    background: #f4f5f6;
    display: inline-block;
    width: 300px;
    margin-top: 25px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
}

.aside .title b {
    padding-left: 15px;
    font-weight: normal;
}

.aside .title em {
    width: 1px;
    height: 45px;
    overflow: hidden;
    margin-right: 24px;
    box-shadow: 3px 0 8px #aaa;
    float: left;
    background: #f1f1f1;
}

.aside .title a.more {
    float: right;
    line-height: 45px;
    margin-right: 25px;
    font-size: 14px;
    color: #999;
}

.follow-us {
    margin: 15px 25px;
    float: left;
    position: relative;
}

.follow-us a.weixin {
    background: url(images/follow_us.gif) no-repeat 7px 0;
    width: 50px;
    height: 50px;
    margin-right: 16px;
    float: left;
}

.follow-us a.weibo {
    background: url(images/follow_us.gif) no-repeat 7px -106px;
    width: 50px;
    height: 50px;
    margin-right: 16px;
    float: left;
}

.follow-us a.qq-weibo {
    background: url(images/follow_us.gif) no-repeat 7px -199px;
    width: 50px;
    height: 50px;
    margin-right: 16px;
    float: left;
}

.follow-us a.qq-zone {
    background: url(images/follow_us.gif) no-repeat 7px -293px;
    width: 50px;
    height: 50px;
    float: left;
}

/* navbar 模块 */
.navbar{
    background-color: #f5f5f5;
}

.navbar img.avatar {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#J_hiwowoDropdown .dropdown-menu{
    min-width: 120px;
}
/* grid 格栅模块 */
.container {
    width: 1200px !important;
    margin: 0 auto;
    padding: 0;
}

.container:before,
.container:after {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

.container:before,
.container:after {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

.row {
    width: 100%;
    *zoom: 1;

}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.container .main {
    float: left;
    width: 900px;
    box-shadow: 6px 0 8px #f1f1f1;
}

.container .aside {
    width: 300px;
    float: left;
}

#content {
    text-align: left;
    background: #fff;
    border-radius: 10px;
    margin: 10px auto 0;
    display: inline-block;
}

/* carousel 模块 */
/* Carousel base class */
.carousel {
    height: 350px;
    margin-bottom: 30px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 350px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 350px;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top:55%;
}



/*items 模块 */
.items {
    padding: 0 20px;
}

.items .item {
    float: left;
    width: 860px;
    position: relative;
}

.items .item .content {
    float: left;
    border-right: 2px solid #cecece;
    width: 603px;
}

.items .item .content h2 {
    height: 60px;
    position: relative;
    background: #f4f5f6;
    font-size: 20px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.items .item .content h2 .title {
    padding-left: 20px;
    float: left;
    height: 60px;
    line-height: 60px;
}

.items .item .content .desc {
    margin: 15px 15px 20px auto;
    text-align: center;
}

.items .item .content .desc img {
    width: 580px;
    height: 100%;
}

.items .item .meta {
    width: 255px;
    float: left;
}

.items .item .meta .user {
    background: #f4f5f6;
    position: relative;
    height: 60px;
    line-height: 60px;
    width: 255px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 15px;
}

.items .item .meta .user img {
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    overflow: hidden;
}

.items .item .meta .user span {
    font-size: 12px;
    color: #555;
}

.items .item .meta .user i {
    float: right;
    color: #999;
    font-size: 12px;
    margin-right: 15px;
}

.items .item .meta .extra {
    padding: 10px 15px;
    text-align: center;
    margin: 20px 10px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
}

.items .item .meta .extra a {
    color: #44b2c3;
}

.items .item .meta .thumbs {
    border-bottom: 1px solid #31708f;
    padding-bottom: 10px;
}

.items .item .meta .thumbs .up {
    margin-right: 15px;
}

.items .item .meta  span.glyphicon-thumbs-up {
    color: red;
    font-size: 36px;
}

.items .item .meta  span.glyphicon-thumbs-down {
    color: #44b2c3;
    font-size: 36px;
}

.items .item .meta .others {
    margin-top: 10px;
}

.items .item .meta .others a.comment, .items .item .meta .others a.collect {
    margin-right: 15px;
}

.items .item .meta span.glyphicon-edit {
    font-size: 18px;

}

.items .item .meta span.glyphicon-heart {
    font-size: 18px;

}

.items .item .meta span.glyphicon-share {
    font-size: 18px;
}

/* items end */

/* footer  */

/* footer 组件 */
#footer {
    height: 72px;
    line-height: 72px;
    background: white;
    border-top: 1px solid #e6e6e6;
    margin-top: 30px
}

#footer .container {
    height: 72px;
    position: relative
}

#footer .about {
    padding-top: 22px;
    line-height: 30px;
    margin-right: 10px;
}

#footer .about a, #footer .about a:active, #footer .about a:hover {
    color: #333;
}

#footer .about {
    display: inline;
    float: left;
    color: #999;
}

#footer .about a {
    margin: 0 8px;
}

/*  return top */
/* 回到顶部 */
#J_weixin {
    position: absolute;
    top: 55px;
    left: 0;
    height: 58px;
    width: 42px;
    background: url(images/addweixinfriend.png) no-repeat 3px 0;
    display: block;
    cursor: default
}

#J_weixin:hover {
    background: url(images/addweixinfriend.png) no-repeat -94px -6px;
}

#J_weixin:hover .J_weixinimg {
    display: block
}

#J_weixin .J_weixinimg {
    width: 197px;
    height: 247px;
    background: url(images/addweixinfriend.png) no-repeat 0 -66px;
    position: absolute;
    left: -196px;
    bottom: 0;
    display: none;
}

#returnTop {
    _display: none;
    position: fixed;
    _position: absolute;
    z-index: 999;
    right: 15px;
    height: 112px;
    bottom: -200px;
    _bottom: auto;
    text-indent: -9999px;
    transition: bottom 0.9s;
    -webkit-transition: bottom 0.9s;
    -moz-transition: bottom 0.9s;
    -o-transition: bottom 0.9s;
}

#returnTop:hover {
    background-position: 0 -65px;
}

#J_returnTop {
    width: 42px;
    height: 65px;
    background: url(images/returntop.png) no-repeat center 0;
    display: block;
}

#J_returnTop:hover {
    background-position: center -65px;
}

/* tips */
/* 提示框 */
.tipbox {
    display: none;
    position: absolute;
    z-index: 999999;
    padding: 10px 15px;
    width: 200px;
    color: #fff;
    text-align: left;
    font-size: 12px;
    background: #000;
    border: 1px solid #fff;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.tipmodal {
    width: 160px;
    color: #666;
    -moz-box-shadow: 0 2px 2px #ddd;
    -webkit-box-shadow: 0 2px 2px #ddd;
    box-shadow: 0 2px 2px #ddd;
    border-radius: 4px;
    --moz-border-radius: 4px;
    --webkit-border-radius: 4px;
}

.tipmodal-ok {
    background: #f5fec7 url(images/correct.png) no-repeat 10px 10px;
    border-color: #cad49c;
    color: #666;
    padding-left: 35px;
}

.tipmodal-general {
    background-color: #fff;
    border-color: #d6d6d6;
}

.tipmodal-general-short {
    width: auto;
    background-color: #fff;
    border-color: #d6d6d6;
}

.tipmodal-error {
    background-color: #ffe1e2;
    border-color: #ddb0b2;
}

.tipmodal-error2 {
    background: #fff url(images/alert.png) no-repeat 10px 10px;
    border-color: #d6d6d6;
    padding-left: 35px;
    color: #666;
}

.tipmodal-error3 {
    width: auto;
    background: #fff url(images/alert.png) no-repeat 10px 10px;
    border-color: #d6d6d6;
    padding-left: 35px;
    color: #666;
}

.tipmodal-s {
    width: 60px;
    color: #666;
    -moz-box-shadow: 0 2px 2px #ddd;
    -webkit-box-shadow: 0 2px 2px #ddd;
    box-shadow: 0 2px 2px #ddd;
    border-radius: 4px;
    --moz-border-radius: 4px;
    --webkit-border-radius: 4px;
}

/* sns login 模块 */
#J_loginDialog .bd {
    width: 570px;
}

#J_loginDialog .bd .control-label{
    float: left;
    line-height: 34px;
    width: 50px;
}
#J_loginDialog .bd .form-control{
    float: left;
    width: 220px;
}
#J_loginDialog .bd .bd-l {
    float: left;
    width: 320px;
    padding: 10px 10px 0 0;
    border-right: 1px dotted #cdcdcd;
}

#J_loginDialog .bd .bd-r {
    text-align: left;
    float: right;
    width: 230px;
    padding: 10px 0 0 0;
}
#J_loginDialog .bd .bd-r ul{
    margin: 0;
    padding: 0;
}
#J_loginDialog .bd .noaccount {
    text-align: center;
    margin: 10px 30px 0 30px;
    line-height: 18px;
    padding: 10px 0 0 10px;
    color: #666;
    border-top: 1px dotted #cdcdcd;
}


#J_loginDialog .bd .bd-r  li {
    margin-bottom: 20px;
}


#J_loginDialog .noaccount a:hover {
    color: #ff7f00;
    text-decoration: underline;
}
.site-openid li {
    float: left;
    display: inline
}

.site-openid li.renren {
    margin-right: 0
}

.site-openid li a {
    float: left;
    text-align: center;
    color: #a7a9ac
}

.site-openid li a:hover {
    color: #000;
    text-decoration: none
}

.site-openid li a i {
    width: 80px;
    height: 80px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    overflow: hidden;
    background: url(images/sns_ico.png) no-repeat -9999em -9999em
}

.site-openid li.weibo a i {
    background-position: -9px 0
}

.site-openid li.qq a i {
    background-position: -123px 0
}

.site-openid li.douban a i {
    background-position: -9px -104px
}

.site-openid li.renren a i {
    background-position: -123px -104px
}

.site-openid li a p {
    padding: 10px 0 0 0
}

/* forum 列表模块 */



/* feed 模块 */


/* comment 评论模块 */