/**
 * Created by zuosanshao.
 * Date: 12-9-7
 * Time: 上午10:08
 * 维护人员:zuosanshao@qq.com
 */

/* base */
body{
    background: url(images/bg_all.gif) repeat transparent 0 0;
    text-align: center;
    font-size: 14px;
    font-family: "微软雅黑",cursive;
    color: #666;
}
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table;content: "";}
.clearfix:after {clear: both;}
ul, ol, li { list-style: none}
a { text-decoration: none; color: #333;}
a:focus { outline: thin dotted;}
a:active,a:hover { outline: 0;text-decoration: none}
h1, h2, h3, h4, h5, h6 { margin: 0;padding: 0}
.main .alert{
    margin: 20px 20px 0 20px;
}
.main .alert{
    font-size: 20px;
}
.main .alert .label{
    font-size: 90%;
}
.main .alert .alert-link{
    font-size:16px;
    font-weight: bold;
    color: #333;
    line-height: 20px;
}

.main .select {
    float: left;
    width: 900px;
    height: 60px;
    border-bottom: 2px solid #44b2c3;
    line-height: 60px;
    margin-bottom: 20px;
}

.main .select h1 {
    float: left;
    font-size: 24px;
    font-weight: normal;
    color: #666;
    line-height: 60px;
    padding: 0;
    margin: 0 20px 0;

}

.main .cat {
    width: 860px;
    margin-left: 20px;
    float: left;
    line-height: 35px;
    height: 70px;
    overflow: hidden;
    _display: inline;
}

.main .cat b {
    float: left;
    font-weight: normal;
    width: 45px;
    height: 35px;
    line-height: 35px;
}


.main .cat ul {
    float: left;
    width: 810px;
    height: 70px;
    overflow: hidden;
    padding: 0;
}

.main .cat ul li {
    float: left;
    height: 35px;
}
.main .cat ul li a {
    float: left;
    line-height: 35px;
    height: 30px;
    overflow: hidden;
    margin: 0 10px;
    color: #474853;
    font-size: 14px;
}


/* navbar 模块 */
.headerbar{
    position: absolute;
    top:0;
    left:0;
    width: 100%;

}

.topbar section {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

.topbar {
    background: #282828;
}

.topbar .logo {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 156px;
    height: 40px;
    background: url("") no-repeat;
    overflow: hidden;
    float: left;
    text-indent: -999em;
}

.topbar .nav {
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin-left: 10px;
}

.topbar .nav li {
    display: inline;
    float: left;
}
.topbar .nav a {
    padding: 0 15px;
    float: left;
    display: inline;
    color: #999;
    text-shadow: #2f353a 0 -1px 0;
    font-size: 14px;
}

.topbar .nav a:hover {color: white;text-decoration:none}
.topbar .nav .current {
    height:40px;
    text-shadow: none;
    background: url(images/icon_triangle.png) no-repeat center bottom;
    color: #fff;
}

.topbar .user-info {display: inline;float: right;height: 40px;line-height: 40px;}
.topbar .user-info a{
    color: #fff;
}

.topbar .user-info .login, .topbar .user-info .spacing, .topbar .user-info .signup, .topbar .user-info .avatar, .topbar .user-info .user {
    display: inline;
    float: left;
}

.topbar .user-info .spacing {
    margin: 0 10px;
    color: #3e3e3e;
}

.topbar .user-info .avatar {
    margin: 5px 10px 0 10px;
}

.topbar .user-info .avatar, .topbar .user-info .avatar img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    behavior: url(PIE.htc);
}

.topbar .user-info .user {
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
}

.topbar .user-info .user:hover {
    text-decoration: none;
}

.topbar .user-info .nav-item {
    display: inline;
    display: -moz-inline-stack;
    display: inline-block;
    float: left;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    background: transparent;
}

.topbar .user-info .nav-item.on {
    background: #333;
}

.topbar .user-info .nav-item i {
    position: absolute;
    top: 50%;
    left: 50%;
}

.topbar .user-info .menu .name {
    display: inline;
    float: left;
    cursor: pointer;
}

.topbar .user-info .menu .triangle {
    display: inline;
    float: left;
    width: 0;
    height: 0;
    margin: 19px 0 0 5px;
    overflow: hidden;
    border-style: solid dashed none dashed;
    border-width: 4px 4px 0 4px;
    border-color: white transparent transparent transparent;
}

.topbar .user-info .menu.on .triangle {
    border-style: none dashed solid dashed;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent white transparent;
}

.topbar .user-info .menu.on .dropdown {
    display: block;
}

.topbar .user-info .dropdown {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 5px #eee;
    -moz-box-shadow: 0 0 5px #eee;
    box-shadow: 0 0 5px #eee;
    display: none;
    position: absolute;
    z-index: 999;
    background: white;
    text-align: center;
    right: 0;
    border: 1px solid #e5e5e5;
    border-bottom: none;
}

.topbar .user-info .dropdown li {
    border-bottom: 1px solid #e6e6e6;
}

.topbar .user-info .dropdown li a {
    *zoom: 1;
    display: block;
    color: #282828;
}

.topbar .user-info .dropdown li a:hover {
    background-color: #f3f3f3;
    text-decoration: none;
}



.topbar .user-info .topbar-dropdown {
    top: 40px;
}

.topbar .user-info .bottombar-dropdown {
    bottom: 40px
}
.topbar .msg {
    float:left;
    display: block;
    width: 55px;
    height: 45px;
    color: #fff;
    background: url(images/icon_message.png) no-repeat 15px;
}
.topbar .msg span {
    display:block;
    width: 12px;
    height: 24px;
    background: url(images/icon_message_num.png) no-repeat;
    line-height: 22px;
    margin-top: 5px;
    margin-left: 30px;
    overflow: hidden;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    padding: 0 6px 0 5px;
}
.subbar {
    height: 34px;
    line-height: 34px;
    background: #f5f5f5;
    width: 100%;
    border-bottom: #b4b4b4 solid 1px;
    position: relative;
    z-index: 4
}
.subbar ul li{

}
.subbar-fixed {
    z-index: 6;
    position: fixed;
    top: 40px;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    background: #fff;
    border-bottom: 0
}

.subbar .container {
    color: #556069;
    height: 35px;
    position: relative
}

.subbar .container ul {
    float: left;
    height: 35px
}

.subbar .container a {
    color: #333;
    font-size: 12px;

}

.subbar .container li {
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    margin-right: 10px;
    text-align: center
}

.subbar .container li.on {
    color: #333;
    font-weight: bold;
    height: 33px;
    line-height: 35px
}

.subbar .container li.new {
    background: url(images/icon_new.gif) right 4px no-repeat
}

.subbar .container li.on a {
    color: #333;
    font-weight: bold;
    display: block;
    margin-top: 0;
    height: 33px;
    line-height: 33px;
    border-bottom: #444 solid 2px
}

.subbar .container li a span {
    font-size: 12px;
    padding-left: 4px
}

.subbar .topSearch {

    display: inline;
    float: right;
    height: 40px;
    line-height: 40px
}

.subbar .topSearch .searchBox {
    border: 1px solid #aaa;
    float: left;
    width: 170px;
    height: 24px;
    padding-left: 13px;
    zoom: 1;
    margin: 5px 50px;
    display: inline;
    background: #FFF;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px;
}

.subbar .topSearch .searchText {
    float: left;
    height: 22px;
    width: 124px;
    font-size: 12px;
    line-height: 22px;
    border: 0;
    color: #556069;
}

.subbar .topSearch .searchBtn {
    float: right;
    width: 24px;
    height: 28px;
    background: url(images/icon_search.png) 0 2px no-repeat;
}

/* grid 格栅模块 */
.container {
    width:1200px; margin: 0 auto; padding: 0;
}
.container:before,
.container:after {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

.container:before,
.container:after {
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}

.row {
    width: 100%;
    *zoom: 1  ;

}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.container .main{
    float: left;
    width: 900px;
    box-shadow: 6px 0 8px #f1f1f1;
}

.container .aside{
    width: 300px;
    float: left;
}
#content{
    text-align: left;
    background: #fff;
    border-radius: 10px;
    margin: 10px auto 0;
    display: inline-block;
}
/* carousel 模块 */
/* Carousel base class */
.carousel {
    height:330px;
    margin-bottom:30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 330px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 330px;
}


/* comment 评论模块 */


/*items 模块 */
  .items{
     padding:0 20px;
  }
 .items .item{
      float: left;
      width: 860px;
      position: relative;
  }
  .items .item .content{
      float: left;
      border-right: 2px solid #cecece;
      width: 653px;
  }
  .items .item .content h2{
      height:60px;
      position: relative;
      background: #f4f5f6;
      font-size: 20px;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
  }
  .items .item .content h2 .title{
      padding-left: 20px;
      float: left;
      height: 60px;
      line-height: 60px;
  }

.items .item .content .desc{
    margin: 15px 20px 20px auto;
    text-align: center;
}

  .items .item .meta{
      width: 205px;
      float: left;
  }
  .items .item .meta .vs{
      text-align: center;
      background: #f4f5f6;
      position: relative;
      height: 60px;
      line-height: 60px;
      width: 205px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
  }
  .items .item .meta .user{
      margin-top: 5px;
      line-height: 35px;
  }
  .items .item .meta .user img{
      width: 35px;
      height: 35px;
      border: 1px solid #fff;
      overflow: hidden;
      margin-left:15px;
  }
  .items .item .meta .user span{
      font-size: 12px;
      color: #555;
  }
  .items .item .meta .user i{
      float: right;
      color: #999;
      font-size: 12px;
      margin-right: 15px;
  }

/* items end */
/* 列表模块 */


/* feed 模块 */


