@(user:Option[models.user.User],addrForm:Form[(Option[String],Option[String],Option[String],Option[String],Option[String],Option[String])],msg:String="")
@views.html.template(
user
)(css="/assets/css/template/userSetting.css") {
             <div class="container" id="account">
                 <div class="setting clearfix">
                 <div class="side-nav">
                     <h2>帐号设置</h2>
                     <ul>
                         <li> <a  href="@controllers.users.routes.UsersAccount.base">基本信息</a> </li>
                         <li> <a  href="@controllers.users.routes.UsersAccount.password">修改密码</a>  </li>
                         <li> <a class="on" href="@controllers.users.routes.UsersAccount.address">收货地址</a> </li>
                         <li> <a  href="@controllers.users.routes.UsersAccount.myAward">我的奖品</a>  </li>
                         <li> <a  href="@controllers.users.routes.UsersAccount.vip">VIP认证</a>  </li>
                     </ul>
                 </div>
                 <!--side nav end-->
                 <div class="main-content">
                     <div class="address">
                         <p class="address-tip">如果你在活动中获得了奖品，我们将按照以下收货人信息发送奖品，所以请填写真实的收货信息。</p>
                         <form id="J_Address" method="post" class="set-form" action="@controllers.users.routes.UsersAccount.saveAddress">
                             @if(msg !=""){
                             <div class="error-row" style="display:block"><p class="ok">@msg !</p></div>
                             }
                             @addrForm.errors.map { error =>
                             <div class="error-row">
                                 <p class="error"> @error.message</p>
                             </div>
                             }
                             <div class="form-row">
                                 <label><span class="rc">*</span>姓名：</label>
                                 <input type="text" class="base-input" name="trueName" id="username" value='@addrForm("trueName").value'>
                                 @if(!addrForm.error("trueName").isEmpty){<span class="error">@addrForm.error("trueName").get.message</span> }
                             </div>
                             <div class="form-row clearfix">
                                 <label><span class="rc">*</span>所在地：</label>

                                 <select id="J_Province" name="province"></select>
                                 <select id="J_City" name="city"></select>
                             </div>
                             <div class="form-row">
                                 <label><span class="rc">*</span>详细地址：</label>
                                 <textarea class="base-txa intro-txa" name="addressDetail" placeholder="请输入50个字以内的详细地址">@addrForm("addressDetail").value</textarea>
                                 @if(!addrForm.error("addressDetail").isEmpty){<span class="error">@addrForm.error("address").get.message</span> }
                             </div>
                             <div class="form-row">
                                 <label>邮编：</label>
                                 <input type="text" class="base-input" name="postcode" id="zipcode" value='@addrForm("postcode").value'>
                             </div>
                             <div class="form-row">
                                 <label><span class="rc">*</span>手机：</label>
                                 <input type="text" class="base-input" name="cellphone" id="mobilephone" value='@addrForm("cellphone").value'>
                                 @if(!addrForm.error("cellphone").isEmpty){<span class="error">@addrForm.error("cellphone").get.message</span> }
                             </div>

                             <div class="form-row">
                                 <label>&nbsp;</label>
                                 <input type="submit" class="bbl-btn submit" value="保存"><a class="ml10 mt5 fl" href="@controllers.users.routes.UsersAccount.myAward">去看我的奖品</a>
                             </div>
                         </form>
                     </div>
                 </div>
                 </div>
             </div>

        }{
<script type="text/javascript">
    var address = '@addrForm("province").value|@addrForm("city").value';
    seajs.use("hiwowo/user/userAddress");
</script>
}